<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.esuizhen.cloudservice.user.dao.DiseaseKnowledgeDao">

	<select id="findDiseaseKnowledge" resultType="com.esuizhen.cloudservice.user.bean.DiseaseKnowledge" parameterType="com.esuizhen.cloudservice.user.bean.DiseaseKnowledge">
		SELECT disKnow.articleId,disKnow.articleTitle,
			disKnow.tags tagNames,disKnow.createTime,disKnow.updateTime
		FROM com_sys_db.sys_knowledge_article disKnow
		INNER JOIN user_db.r_doctor_knowledge_article r ON r.articleId=disKnow.articleId
		WHERE disKnow.articleType=3
			<if test="doctorId!=null and doctorId!=''">
				and r.doctorId = #{doctorId}
			</if>
			<if test="tagNameArray!=null and tagNameArray!=''">
				<foreach collection="tagNameArray" open="and (" separator="or" close=")" index="index" item="item">
					disKnow.tags like concat('%',#{item},'%')
				</foreach>
			</if>
			<if test="tagName!=null and tagName!=''">
				and disKnow.tags like concat('%',#{tagName},'%')
			</if>
			<if test="articleTitle!=null and articleTitle!=''">
				and disKnow.articleTitle like concat('%',#{articleTitle},'%')
			</if>
			<if test="state!=null and state!=''">
				and disKnow.state = #{state}
			</if>
			<if test="summaryFlag!=null and summaryFlag==1">
				and disKnow.introduction is not null
			</if>
		order by sortIndex,createTime asc
	</select>
	
	<select id="getDiseaseKnowledge" resultType="com.esuizhen.cloudservice.user.bean.DiseaseKnowledge" parameterType="long">
		SELECT articleId,articleTitle,articleType,sortIndex,pictureUrl,
				introduction summary,state,content,tags tagNames,createTime,updateTime
 		from com_sys_db.sys_knowledge_article disKnow
		<where>
			 disKnow.articleId=#{articleId}
		</where>
	</select>
	
	<insert id="createDiseaseKnowledge" parameterType="com.esuizhen.cloudservice.user.bean.DiseaseKnowledge" keyProperty="articleId"  useGeneratedKeys="true">
		insert into com_sys_db.sys_knowledge_article(
			diseaseTypeId,
			articleTitle,
			content,
			tags,
			createTime,
			sortIndex,
			articleType,
			introduction,
			pictureUrl
		)values(
			null,
			#{articleTitle},
			#{content},
			#{tagNames},
			now(),
			IFNULL(#{sortIndex},1),
			3,
			#{summary},
			#{pictureUrl}
		)
	</insert>
	
	<update id="updateDiseaseKnowledge">
		update com_sys_db.sys_knowledge_article
		<set>
			articleTitle=#{articleTitle},
			content=#{content},
			tags=#{tagNames},
			sortIndex=IFNULL(#{sortIndex},1),
			<!-- articleType=3, -->
			introduction=#{summary},
			pictureUrl=#{pictureUrl},
			updateTime=NOW()
		</set>
		<where>
			articleId=#{articleId}
		</where>
	</update>
	
	<insert id="saveArticleAndDoctor">
		INSERT INTO user_db.r_doctor_knowledge_article
		(
			doctorId,
			articleId,
			sourceFlag,
			createTime
		)VALUES 
    	(
	    	#{doctorId},
	    	#{articleId},
	    	3,
	    	NOW()
    	)
	</insert>
	
	<!-- 删除患教文章 -->
	<delete id="deleteArticle">
		DELETE from com_sys_db.sys_knowledge_article where articleId = #{articleId}
	</delete>
	<!-- 删除患教文章和医生匹配关系表 -->
	<delete id="deleteArticleAndDoctor">
		DELETE from user_db.r_doctor_knowledge_article where articleId = #{articleId}
	</delete>
	<!-- 删除患教文章匹配的病种标签记录 -->
	<delete id="deleteArticleAndTag">
		DELETE from operation_db.r_article_tag where articleId = #{articleId}
	</delete>
	<select id="judgeArticleByTitle" resultType="java.lang.Integer">
		SELECT 1
		FROM com_sys_db.sys_knowledge_article disKnow
		WHERE disKnow.articleTitle = #{articleTitle}
		<if test="articleId!=null">
			And articleId!=#{articleId}
		</if>
	</select>
</mapper>