<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.esuizhen.cloudservice.user.dao.MetaHosiptalSpecialtyDao">
	<select id="queryHospitalSpecialty" resultType="com.westangel.common.bean.THospitalSpecialtyInfo">
		SELECT
			specialtyId,
			specialtyName
		FROM
			user_db.meta_hosiptal_specialty
	</select>
</mapper>