<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.esuizhen.cloudservice.user.dao.MetaEicd10Dao">
	<select id="findByDiseaseTypeId" resultType="com.westangel.common.bean.ehr.MetaEicd10" parameterType="java.lang.Integer">
		SELECT
			<include refid="base_column_list"></include>
		FROM ehr_db.meta_e_icd_10 t1
			INNER JOIN ehr_db.meta_r_disease_type_icd_10 t2 ON LOCATE(t2.diseaseCode,t1.diseaseCode)
		WHERE t2.diseaseTypeId=#{diseaseTypeId}
	</select>
	
	<sql id="base_column_list">
		t1.diseaseCode, t1.diseaseName, t1.sexLimit, t1.curativeEffect, t1.helpRememberCode, t1.createtime
	</sql>
	
</mapper>