<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.esuizhen.cloudservice.user.dao.WXHospitalDoctorDao">

	<select id="selectDoctorOfHospital" resultType="com.esuizhen.cloudservice.user.model.RWXHospitalDoctor">
		SELECT 
			id,hospitalId,doctorId,doctorUserId,createTime,updateTime
		FROM
			r_wx_hospital_doctor
		WHERE
			hospitalId=#{hospitalId}
	</select>
	
</mapper>