<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.esuizhen.server.sync.dao.temp.TempPatientFamilyDao" >
    <!-- 向temp表推送数据 -->
    <insert id="insert">
		INSERT INTO server_sync_temp_db.u_patient_family (
			id,contactId,opFlag,patientId,patientUuid,patientRelation,familyName,familyPhone,
			zipcode,address,isDefault,isValid,createTime,updateTime,
			phoneStatus,operator,operatorUuid,remark,rawCreateTime,sourceFlag,
			mergeFlag,mergeFrom,mergeFromUuid,mergeTarget,mergeTargetUuid,mergeTime,
			specialDiseaseRegisterId,batchId
		)
		VALUES(
			#{id},#{contactId},#{opFlag},#{patientId},#{patientUuid},#{patientRelation},#{familyName},#{familyPhone},
			#{zipcode},#{address},#{isDefault},#{isValid},#{createTime},#{updateTime},
			#{phoneStatus},#{operator},#{operatorUuid},#{remark},#{rawCreateTime},#{sourceFlag},
			#{mergeFlag},#{mergeFrom},#{mergeFromUuid},#{mergeTarget},#{mergeTargetUuid},#{mergeTime},
			#{specialDiseaseRegisterId},#{batchId}
		)
	</insert>
	
	<select id="queryPatientFamilyByBatchId" resultType="com.esuizhen.server.sync.model.temp.SyncPatientFamily">
		SELECT
		t1.id,
		t1.contactId,
		IFNULL(t2.patientId,t21.patientId) patientId,
		t1.patientUuid,
		t1.patientRelation,
		t1.familyName,
		t1.familyPhone,
		t1.zipcode,
		t1.address,
		t1.isDefault,
		t1.isValid,
		t1.createTime,
		t1.updateTime,
		t1.phoneStatus,
		IFNULL(t3.doctorId,t31.doctorId) operator,
		t1.operatorUuid,
		t1.remark,
		t1.rawCreateTime,
		t1.sourceFlag,
		t1.mergeFlag,
		t1.mergeFromUuid,
		t1.mergeTargetUuid,
		t1.mergeTime,
		t1.specialDiseaseRegisterId,
		t1.batchId
		FROM server_sync_temp_db.u_patient_family t1
		LEFT JOIN user_db.u_patient t2 ON t1.patientUuid=t2.uuid
		LEFT JOIN user_db.r_uuid_patient_relationship t21 ON t1.patientUuid=t21.uuid
		LEFT JOIN user_db.u_doctor t3 ON t1.operatorUuid = t3.uuid
		LEFT JOIN user_db.r_uuid_doctor_relationship t31 ON t1.operatorUuid = t31.uuid
		WHERE t1.batchId=#{batchId}
	</select>
</mapper>