<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.esuizhen.server.sync.dao.temp.TempRDoctorPatientDao" >
    <!-- 向temp表推送数据 -->
    <insert id="insert">
		INSERT INTO server_sync_temp_db.r_doctor_patient (
			id,patientId,patientUuid,doctorId,doctorUuid,hasMedicalRecord,vipFlag,
			firstVisitFlag,attentionTime,createTime,updateTime,sourceFlag,sourceDiagnosisFlag,mergeFlag,
			outDeptId,outDeptUuid,outDeptName,inDeptId,inDeptUuid,inDeptName,
			mergeFrom,mergeFromUuid,mergeTarget,mergeTargetUuid,mergeTime,batchId,professionalRank
		)
		VALUES(
			#{id},#{patientId},#{patientUuid},#{doctorId},#{doctorUuid},#{hasMedicalRecord},#{vipFlag},
			#{firstVisitFlag},#{attentionTime},#{createTime},#{updateTime},#{sourceFlag},#{sourceDiagnosisFlag},#{mergeFlag},
			#{outDeptId},#{outDeptUuid},#{outDeptName},#{inDeptId},#{inDeptUuid},#{inDeptName},
			#{mergeFrom},#{mergeFromUuid},#{mergeTarget},#{mergeTargetUuid},#{mergeTime},#{batchId},#{professionalRank}
		)
	</insert>
	
	<select id="queryDoctorPatientByBatchId" resultType="com.esuizhen.server.sync.model.temp.SyncRDoctorPatient">
		SELECT
		t1.id,
		IFNULL(t2.patientId,t21.patientId) patientId,
		t1.patientUuid,
		IFNULL(t3.doctorId,t31.doctorId) doctorId,
		t1.doctorUuid,
		t1.hasMedicalRecord,
		t1.vipFlag,
		t1.firstVisitFlag,
		t1.attentionTime,
		t1.createTime,
		t1.updateTime,
		t1.sourceFlag,
		t1.sourceDiagnosisFlag,
		t1.professionalRank,
		t1.mergeFlag,
		t1.mergeFromUuid,
		t1.mergeTargetUuid,
		t1.mergeTime,
		t4.deptId outDeptId,
		t1.outDeptUuid,
		t1.outDeptName,
		t5.deptId inDeptId,
		t1.inDeptUuid,
		t1.inDeptName,
		t1.batchId
		FROM server_sync_temp_db.r_doctor_patient t1
		LEFT JOIN user_db.u_patient t2 ON t1.patientUuid=t2.uuid
		LEFT JOIN user_db.r_uuid_patient_relationship t21 ON t1.patientUuid=t21.uuid
		LEFT JOIN user_db.u_doctor t3 ON t1.doctorUuid=t3.uuid
		LEFT JOIN user_db.r_uuid_doctor_relationship t31 ON t1.doctorUuid=t31.uuid
		LEFT JOIN user_db.u_department t4 ON t1.outDeptUuid=t4.uuid
		LEFT JOIN user_db.u_department t5 ON t1.inDeptUuid=t5.uuid
		WHERE t1.batchId=#{batchId}
	</select>
</mapper>