<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.esuizhen.server.sync.dao.temp.TempFollowupResultDao" >
    <!-- 向reusult表推送数据 -->
    <insert id="insert">
		INSERT INTO server_sync_temp_db.followup_result (
		    followupResultId,tempId,followupTaskId,followupAssignId,patientId,patientUuid,
			hospitalId,operator,operatorUuid,followupResultValue,relapseParts,relapseDate,
			transferParts,transferDate,deathDate,isInHospitalDeath,isTumourDeath,deathCause,
			otherCause,followupWay,contentTemplateId,followupResultPhone,followupTime,phoneRecordUrl,
			remark,sourceFlag,createTime,updateTime,state,
			lostFollowupFlag,lostFollowupCauseResultValue,oldLostFollowupFlag,oldLostFollowupCauseResultValue,
			mergeFlag,mergeFrom,mergeFromUuid,mergeTarget,mergeTargetUuid,mergeTime,
			updateOperator,updateOperatorUuid,updateOperatorName,batchId
			)
		VALUES(
			#{followupResultId},#{tempId},#{followupTaskId},#{followupAssignId},#{patientId},#{patientUuid},
			#{hospitalId},#{operator},#{operatorUuid},#{followupResultValue},#{relapseParts},#{relapseDate},
			#{transferParts},#{transferDate},#{deathDate},#{isInHospitalDeath},#{isTumourDeath},#{deathCause},
			#{otherCause},#{followupWay},#{contentTemplateId},#{followupResultPhone},#{followupTime},#{phoneRecordUrl},
			#{remark},#{sourceFlag},#{createTime},#{updateTime},#{state},
			#{lostFollowupFlag},#{lostFollowupCauseResultValue},#{oldLostFollowupFlag},#{oldLostFollowupCauseResultValue},
			#{mergeFlag},#{mergeFrom},#{mergeFromUuid},#{mergeTarget},#{mergeTargetUuid},#{mergeTime},
			#{updateOperator},#{updateOperatorUuid},#{updateOperatorName},#{batchId}
		)
	</insert>
	
	
	<select id="getSyncFollowupResult" resultType="com.esuizhen.server.sync.bean.server.FollowupResultRes" parameterType="com.esuizhen.server.sync.bean.TBatchDetailInfo">
		SELECT
			t1.followupResultId,t1.tempId,t1.followupTaskId,t1.followupAssignId,
			IFNULL(t3.patientId,t31.patientId) patientId,t1.patientUuid,
			t1.hospitalId,IF(t1.operator=9,t1.operator,IFNULL(t4.doctorId,t41.doctorId)) operator,t1.operatorUuid,t1.followupResultValue,t1.relapseParts,t1.relapseDate,t1.transferParts,
			t1.transferDate,t1.deathDate,t1.isInHospitalDeath,t1.isTumourDeath,t1.deathCause,t1.otherCause,t1.followupWay,t1.contentTemplateId,
			t1.followupResultPhone,t1.followupTime,t1.phoneRecordUrl,t1.remark,
			t1.sourceFlag,t1.createTime,t1.updateTime,t1.state,
			t1.lostFollowupFlag,t1.lostFollowupCauseResultValue,t1.oldLostFollowupFlag,t1.oldLostFollowupCauseResultValue,
			t1.mergeFlag,t1.mergeFromUuid,t1.mergeTargetUuid,
			t1.mergeTime,IF(t1.updateOperator=9,t1.updateOperator,IFNULL(t5.doctorId,t51.doctorId)) updateOperator,t1.updateOperatorUuid,t1.updateOperatorName,
			IF(t2.followupResultId is NULL ,1,2) opFlag
		FROM
			 server_sync_temp_db.followup_result t1
		LEFT JOIN followup_db.followup_result t2 ON t2.followupResultId=t1.followupResultId
		LEFT JOIN user_db.u_patient t3 ON t3.uuid=t1.patientUuid
		LEFT JOIN user_db.r_uuid_patient_relationship t31 ON t1.patientUuid=t31.uuid
		LEFT JOIN user_db.u_doctor t4 ON t4.uuid=t1.operatorUuid
		LEFT JOIN user_db.r_uuid_doctor_relationship t41 ON t1.operatorUuid=t41.uuid
		LEFT JOIN user_db.u_doctor t5 ON t5.uuid=t1.updateOperatorUuid
		LEFT JOIN user_db.r_uuid_doctor_relationship t51 ON t1.updateOperatorUuid=t51.uuid
		WHERE t1.batchId=#{batchId}
	</select>
</mapper>