<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.esuizhen.cloudservice.ehr.dao.meta.MetaInfoDosageUnitDao" >
  <resultMap id="BaseResultMap" type="com.esuizhen.cloudservice.ehr.model.meta.MetaInfoDosageUnit" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="code" property="code" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, code, name
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from meta_info_dosage_unit
    where id = #{id,jdbcType=INTEGER}
  </select>
  
  <select id="selectMetaInfoDosageUnitByName" resultType="java.lang.Integer" parameterType="java.lang.String">
    select id from meta_info_dosage_unit where name = #{name} limit 1 
  </select>
  
  <select id="queryList" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from meta_info_dosage_unit
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from meta_info_dosage_unit
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.esuizhen.cloudservice.ehr.model.meta.MetaInfoDosageUnit" >
   		<selectKey resultType="java.lang.Integer" order="AFTER" keyProperty="id">
          SELECT LAST_INSERT_ID() as id
      </selectKey>
    insert into meta_info_dosage_unit (code, name, createTime, updateTime)
    values (#{code,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, now(), now())
  </insert>
  <insert id="insertSelective" parameterType="com.esuizhen.cloudservice.ehr.model.meta.MetaInfoDosageUnit" >
    insert into meta_info_dosage_unit
    <selectKey resultType="java.lang.Integer" order="AFTER" keyProperty="id">
          SELECT LAST_INSERT_ID() as id
      </selectKey>
    <trim prefix="(" suffix=")" suffixOverrides="," >
     
      <if test="code != null" >
        code,
      </if>
      <if test="name != null" >
        name,
      </if>
      createTime,
      updateTime
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
     
      <if test="code != null" >
        #{code,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      now(),
      now()
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.esuizhen.cloudservice.ehr.model.meta.MetaInfoDosageUnit" >
    update meta_info_dosage_unit
    <set >
      <if test="code != null" >
        code = #{code,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.esuizhen.cloudservice.ehr.model.meta.MetaInfoDosageUnit" >
    update meta_info_dosage_unit
    set code = #{code,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>