<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >


<mapper namespace="com.esuizhen.server.sync.dao.server.MatchDoctorDao" >
    <insert id="insert">
    	INSERT INTO user_db.r_match_doctor(matchUserId,
		matchDoctorId,
		matchUuid,
		targetUserId,
		targetDoctorId,
		targetUuid,
		matchType,
		createTime)
		VALUES(
		#{matchUserId},
		#{matchDoctorId},
		#{matchUuid},
		#{targetUserId},
		#{targetDoctorId},
		#{targetUuid},
		#{matchType},
		now()
		)
		ON DUPLICATE KEY UPDATE
		matchDoctorId=VALUES(matchDoctorId),
		matchUuid=VALUES(matchUuid),
		targetUserId=VALUES(targetUserId),
		targetDoctorId=VALUES(targetDoctorId),
		targetUuid=VALUES(targetUuid),
		updateTime = NOW()
    </insert>
</mapper>