<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.esuizhen.server.sync.dao.sc.MonitorDao">
	<insert id="insertTemp">
		INSERT INTO sc_db.client_sync_server_temp_data_monitor(
			monitorDate,hospitalId,hospitalName,remark,
			doctor,patient,inhospital,diagnosis,surgery,radiation,
			chemotherapy,cost,treatment,outhospital,clientMedical,
			examReport,detectionReport,detectionDetail,
			followupResult,followupResultBuff,createTime,updateTime
		)VALUES(
			#{monitorDate},#{hospitalId},#{hospitalName},#{remark},
			#{doctor},#{patient},#{inhospital},#{diagnosis},#{surgery},#{radiation},
			#{chemotherapy},#{cost},#{treatment},#{outhospital},#{clientMedical},
			#{examReport},#{detectionReport},#{detectionDetail},
			#{followupResult},#{followupResultBuff},#{createTime},#{updateTime}
		)
		ON DUPLICATE KEY UPDATE
		hospitalId=VALUES(hospitalId),
		hospitalName=VALUES(hospitalName),
		remark=VALUES(remark),
		doctor=VALUES(doctor),
		patient=VALUES(patient),
		inhospital=VALUES(inhospital),
		diagnosis=VALUES(diagnosis),
		surgery=VALUES(surgery),
		radiation=VALUES(radiation),
		chemotherapy=VALUES(chemotherapy),
		cost=VALUES(cost),
		treatment=VALUES(treatment),
		outhospital=VALUES(outhospital),
		clientMedical=VALUES(clientMedical),
		examReport=VALUES(examReport),
		detectionReport=VALUES(detectionReport),
		detectionDetail=VALUES(detectionDetail),
		followupResult=VALUES(followupResult),
		followupResultBuff=VALUES(followupResultBuff),
		createTime=VALUES(createTime),
		updateTime=VALUES(updateTime)
	</insert>
	
	<insert id="insertFormal">
		INSERT INTO sc_db.client_sync_server_formal_data_monitor(
			monitorDate,hospitalId,hospitalName,remark,
			doctorAdd,doctorUpdate,patientAdd,patientUpdate,
			patientNoAdd,patientFamilyAdd,patientFamilyUpdate,
			doctorPatientAdd,doctorPatientUpdate,deptPatientAdd,
			inhospitalInfoAdd,inhospitalUpdate,diagnosisAdd,
			surgeryAdd,radiationAdd,chemotherapyAdd,costAdd,
			treatmentAdd,outhospitalAdd,clinicMedicalAdd,examReportAdd,
			detectionReportAdd,detectionDetailAdd,followupResultAdd,
			followupResultUpdate,followupResultBuffAdd,followupResultBuffUpdate,
			createTime,updateTime
		)VALUES(
			#{monitorDate},#{hospitalId},#{hospitalName},#{remark},
			#{doctorAdd},#{doctorUpdate},#{patientAdd},#{patientUpdate},
			#{patientNoAdd},#{patientFamilyAdd},#{patientFamilyUpdate},
			#{doctorPatientAdd},#{doctorPatientUpdate},#{deptPatientAdd},
			#{inhospitalInfoAdd},#{inhospitalUpdate},#{diagnosisAdd},
			#{surgeryAdd},#{radiationAdd},#{chemotherapyAdd},#{costAdd},
			#{treatmentAdd},#{outhospitalAdd},#{clinicMedicalAdd},#{examReportAdd},
			#{detectionReportAdd},#{detectionDetailAdd},#{followupResultAdd},
			#{followupResultUpdate},#{followupResultBuffAdd},#{followupResultBuffUpdate},
			#{createTime},#{updateTime}
		)
		ON DUPLICATE KEY UPDATE
		monitorDate=VALUES(monitorDate),
		hospitalId=VALUES(hospitalId),
		hospitalName=VALUES(hospitalName),
		remark=VALUES(remark),
		doctorAdd=VALUES(doctorAdd),
		doctorUpdate=VALUES(doctorUpdate),
		patientAdd=VALUES(patientAdd),
		patientUpdate=VALUES(patientUpdate),
		patientNoAdd=VALUES(patientNoAdd),
		patientFamilyAdd=VALUES(patientFamilyAdd),
		patientFamilyUpdate=VALUES(patientFamilyUpdate),
		doctorPatientAdd=VALUES(doctorPatientAdd),
		doctorPatientUpdate=VALUES(doctorPatientUpdate),
		deptPatientAdd=VALUES(deptPatientAdd),
		inhospitalInfoAdd=VALUES(inhospitalInfoAdd),
		inhospitalUpdate=VALUES(inhospitalUpdate),
		diagnosisAdd=VALUES(diagnosisAdd),
		surgeryAdd=VALUES(surgeryAdd),
		radiationAdd=VALUES(radiationAdd),
		chemotherapyAdd=VALUES(chemotherapyAdd),
		costAdd=VALUES(costAdd),
		treatmentAdd=VALUES(treatmentAdd),
		outhospitalAdd=VALUES(outhospitalAdd),
		clinicMedicalAdd=VALUES(clinicMedicalAdd),
		examReportAdd=VALUES(examReportAdd),
		detectionReportAdd=VALUES(detectionReportAdd),
		detectionDetailAdd=VALUES(detectionDetailAdd),
		followupResultAdd=VALUES(followupResultAdd),
		followupResultUpdate=VALUES(followupResultUpdate),
		followupResultBuffAdd=VALUES(followupResultBuffAdd),
		followupResultBuffUpdate=VALUES(followupResultBuffUpdate),
		createTime=VALUES(createTime),
		updateTime=VALUES(updateTime)
	</insert>
	
	<insert id="insertSync">
		INSERT INTO sc_db.client_sync_server_sync_data_monitor(
			monitorDate,hospitalId,hospitalName,remark,
			doctorSyncAdd,doctorSyncAddSuccess,doctorSyncAddFail,doctorSyncAddHandle,doctorNotSyncAdd,doctoSyncUpdate,doctorNotSyncUpdate,
			patientSimilar,patientSyncAdd,patientSyncAdddSuccess,patientSyncAddFail,patientSyncAddHandle,patientNotSyncAdd,patientSyncUpdate,patientNotSyncUpdate,
			patientNoSimilar,patientNoSyncAdd,patientNoSyncAddSuccess,patientNoSyncAddFail,patientNoSyncAddHandle,patientNoNotSyncAdd,
			patientFamilySimilar,patientFamilySyncAdd,patientFamilySyncAddSuuccess,patientFamilySyncAddFail,patientFamilySyncAddHandle,patientFamilyNotSyncAdd,patientFamilySyncUpdat,patientFamilyNotSyncUpdate,
			doctorPatientSimilar,doctorPatientSyncAdd,doctorPatientSyncAddSuccess,doctorPatientSyncAddFail,doctorPatientSyncAddHandle,doctorPatientNotSyncAdd,doctorPatientSyncUpdate,doctorPatientNotSyncUpdate,
			deptPatientSimilar,deptPatientSyncAdd,deptPatientSyncAddSuccess,deptPatientSyncAddFail,deptPatientSyncAddHandle,deptPatientNotSyncAdd,
			inhospitaSimilar,inhospitalSyncAdd,inhospitalSyncAddSuccess,inhospitalSyncAddFail,inhospitalSyncAddHandle,inhospitalNotSyncAdd,inhospitalSyncUpdate,inhospitalNotSyncUpdate,
			diagnosisSimilar,diagnosisSyncAdd,diagnosisSyncAddSuccess,diagnosisiSyncAddFail,diagnosisSyncAddHandle,diagnosisNotSyncAdd,
			surgerySimilar,surgerySyncAdd,surgerySyncAddSuccess,surgerySyncAddFail,surgerySyncAddHandle,surgeryNotSyncAdd,
			radiationSimilar,radiationSyncAdd,radiationSyncAddSuccess,radiationSyncAddFail,radiationSyncAddHandle,radiationNotSyncAdd,
			chemotherapySimilar,chemotherapySyncAdd,chemotherapySyncAddSuccess,chemotherapySyncAddFalil,chemotherapySyncAddHandle,chemotherapyNotSyncAdd,
			treatmentSimilar,treatmentSyncAdd,treatmentSyncAddSuccess,treatmentSyncAddFail,treatmentSyncAddHandle,treatmentNotSyncAdd,
			outhospitalSimilar,outhospitalSyncAdd,outhospitalSyncAddSuccess,outhospitalSyncAddFail,outhospitalSyncAddHandle,outhospitalNotSyncAdd,
			clinicMedicalSimilar,clinicMedicalSyncAdd,clinicMedicalSyncAddSuccess,clinicMedicalSyncAddFail,clinicMedicalSyncAddHandle,clinicMedicalNotSyncAdd,
			examReportSimilar,examReportSyncAdd,examReportSyncAddSuccess,examReportSyncAddFail,examReportSyncAddHandle,examReportNotSyncAdd,
			detectionReportSimilar,detectionRepotSyncAdd,detectionReportSyncAddSuccess,detectionReportSyncAddFail,detectionReportSyncAddHandle,detectionReportNotSyncAdd,
			detectionDetailSimilar,detectionDetailSyncAdd,detectionDetailSyncAddSuccess,detectionDetailSyncAddFail,detectionDetailSyncAddHandle,detectionDetailNotSyncAdd,
			followupResultSimilar,followupResultSyncAdd,followupResultSyncAddSuccess,followupResultSyncAddFail,followupResultSyncAddHandle,followupResultNotSyncAdd,followupResultSyncUpdate,followupResultNotSyncUpdate,
			followupResultBuffSimilar,followupResultBuffSyncAdd,followupResultBuffSyncAddSuccess,followupResultBuffSyncAddFail,followupResultBuffSyncAddHandle,followupResultBuffNotSyncAdd,followupResultBuffSyncUpdate,followupResultBuffNotSyncUpdate,
			createTime,updateTime
		)VALUES(
			#{monitorDate},#{hospitalId},#{hospitalName},#{remark},
			#{doctorSyncAdd},#{doctorSyncAddSuccess},#{doctorSyncAddFail},#{doctorSyncAddHandle},#{doctorNotSyncAdd},#{doctoSyncUpdate},#{doctorNotSyncUpdate},
			#{patientSimilar},#{patientSyncAdd},#{patientSyncAdddSuccess},#{patientSyncAddFail},#{patientSyncAddHandle},#{patientNotSyncAdd},#{patientSyncUpdate},#{patientNotSyncUpdate},
			#{patientNoSimilar},#{patientNoSyncAdd},#{patientNoSyncAddSuccess},#{patientNoSyncAddFail},#{patientNoSyncAddHandle},#{patientNoNotSyncAdd},
			#{patientFamilySimilar},#{patientFamilySyncAdd},#{patientFamilySyncAddSuuccess},#{patientFamilySyncAddFail},#{patientFamilySyncAddHandle},#{patientFamilyNotSyncAdd},#{patientFamilySyncUpdat},#{patientFamilyNotSyncUpdate},
			#{doctorPatientSimilar},#{doctorPatientSyncAdd},#{doctorPatientSyncAddSuccess},#{doctorPatientSyncAddFail},#{doctorPatientSyncAddHandle},#{doctorPatientNotSyncAdd},#{doctorPatientSyncUpdate},#{doctorPatientNotSyncUpdate},
			#{deptPatientSimilar},#{deptPatientSyncAdd},#{deptPatientSyncAddSuccess},#{deptPatientSyncAddFail},#{deptPatientSyncAddHandle},#{deptPatientNotSyncAdd},
			#{inhospitaSimilar},#{inhospitalSyncAdd},#{inhospitalSyncAddSuccess},#{inhospitalSyncAddFail},#{inhospitalSyncAddHandle},#{inhospitalNotSyncAdd},#{inhospitalSyncUpdate},#{inhospitalNotSyncUpdate},
			#{diagnosisSimilar},#{diagnosisSyncAdd},#{diagnosisSyncAddSuccess},#{diagnosisiSyncAddFail},#{diagnosisSyncAddHandle},#{diagnosisNotSyncAdd},
			#{surgerySimilar},#{surgerySyncAdd},#{surgerySyncAddSuccess},#{surgerySyncAddFail},#{surgerySyncAddHandle},#{surgeryNotSyncAdd},
			#{radiationSimilar},#{radiationSyncAdd},#{radiationSyncAddSuccess},#{radiationSyncAddFail},#{radiationSyncAddHandle},#{radiationNotSyncAdd},
			#{chemotherapySimilar},#{chemotherapySyncAdd},#{chemotherapySyncAddSuccess},#{chemotherapySyncAddFalil},#{chemotherapySyncAddHandle},#{chemotherapyNotSyncAdd},
			#{treatmentSimilar},#{treatmentSyncAdd},#{treatmentSyncAddSuccess},#{treatmentSyncAddFail},#{treatmentSyncAddHandle},#{treatmentNotSyncAdd},
			#{outhospitalSimilar},#{outhospitalSyncAdd},#{outhospitalSyncAddSuccess},#{outhospitalSyncAddFail},#{outhospitalSyncAddHandle},#{outhospitalNotSyncAdd},
			#{clinicMedicalSimilar},#{clinicMedicalSyncAdd},#{clinicMedicalSyncAddSuccess},#{clinicMedicalSyncAddFail},#{clinicMedicalSyncAddHandle},#{clinicMedicalNotSyncAdd},
			#{examReportSimilar},#{examReportSyncAdd},#{examReportSyncAddSuccess},#{examReportSyncAddFail},#{examReportSyncAddHandle},#{examReportNotSyncAdd},
			#{detectionReportSimilar},#{detectionRepotSyncAdd},#{detectionReportSyncAddSuccess},#{detectionReportSyncAddFail},#{detectionReportSyncAddHandle},#{detectionReportNotSyncAdd},
			#{detectionDetailSimilar},#{detectionDetailSyncAdd},#{detectionDetailSyncAddSuccess},#{detectionDetailSyncAddFail},#{detectionDetailSyncAddHandle},#{detectionDetailNotSyncAdd},
			#{followupResultSimilar},#{followupResultSyncAdd},#{followupResultSyncAddSuccess},#{followupResultSyncAddFail},#{followupResultSyncAddHandle},#{followupResultNotSyncAdd},#{followupResultSyncUpdate},#{followupResultNotSyncUpdate},
			#{followupResultBuffSimilar},#{followupResultBuffSyncAdd},#{followupResultBuffSyncAddSuccess},#{followupResultBuffSyncAddFail},#{followupResultBuffSyncAddHandle},#{followupResultBuffNotSyncAdd},#{followupResultBuffSyncUpdate},#{followupResultBuffNotSyncUpdate},
			#{createTime},#{updateTime}
		)
		ON DUPLICATE KEY UPDATE
		monitorDate=VALUES(monitorDate),
		hospitalId=VALUES(hospitalId),
		hospitalName=VALUES(hospitalName),
		remark=VALUES(remark),
		doctorSyncAdd=VALUES(doctorSyncAdd),
		doctorSyncAddSuccess=VALUES(doctorSyncAddSuccess),
		doctorSyncAddFail=VALUES(doctorSyncAddFail),
		doctorSyncAddHandle=VALUES(doctorSyncAddHandle),
		doctorNotSyncAdd=VALUES(doctorNotSyncAdd),
		doctoSyncUpdate=VALUES(doctoSyncUpdate),
		doctorNotSyncUpdate=VALUES(doctorNotSyncUpdate),
		patientSimilar=VALUES(patientSimilar),
		patientSyncAdd=VALUES(patientSyncAdd),
		patientSyncAdddSuccess=VALUES(patientSyncAdddSuccess),
		patientSyncAddFail=VALUES(patientSyncAddFail),
		patientSyncAddHandle=VALUES(patientSyncAddHandle),
		patientNotSyncAdd=VALUES(patientNotSyncAdd),
		patientSyncUpdate=VALUES(patientSyncUpdate),
		patientNotSyncUpdate=VALUES(patientNotSyncUpdate),
		patientNoSimilar=VALUES(patientNoSimilar),
		patientNoSyncAdd=VALUES(patientNoSyncAdd),
		patientNoSyncAddSuccess=VALUES(patientNoSyncAddSuccess),
		patientNoSyncAddFail=VALUES(patientNoSyncAddFail),
		patientNoSyncAddHandle=VALUES(patientNoSyncAddHandle),
		patientNoNotSyncAdd=VALUES(patientNoNotSyncAdd),
		patientFamilySimilar=VALUES(patientFamilySimilar),
		patientFamilySyncAdd=VALUES(patientFamilySyncAdd),
		patientFamilySyncAddSuuccess=VALUES(patientFamilySyncAddSuuccess),
		patientFamilySyncAddFail=VALUES(patientFamilySyncAddFail),
		patientFamilySyncAddHandle=VALUES(patientFamilySyncAddHandle),
		patientFamilyNotSyncAdd=VALUES(patientFamilyNotSyncAdd),
		patientFamilySyncUpdat=VALUES(patientFamilySyncUpdat),
		patientFamilyNotSyncUpdate=VALUES(patientFamilyNotSyncUpdate),
		doctorPatientSimilar=VALUES(doctorPatientSimilar),
		doctorPatientSyncAdd=VALUES(doctorPatientSyncAdd),
		doctorPatientSyncAddSuccess=VALUES(doctorPatientSyncAddSuccess),
		doctorPatientSyncAddFail=VALUES(doctorPatientSyncAddFail),
		doctorPatientSyncAddHandle=VALUES(doctorPatientSyncAddHandle),
		doctorPatientNotSyncAdd=VALUES(doctorPatientNotSyncAdd),
		doctorPatientSyncUpdate=VALUES(doctorPatientSyncUpdate),
		doctorPatientNotSyncUpdate=VALUES(doctorPatientNotSyncUpdate),
		deptPatientSimilar=VALUES(deptPatientSimilar),
		deptPatientSyncAdd=VALUES(deptPatientSyncAdd),
		deptPatientSyncAddSuccess=VALUES(deptPatientSyncAddSuccess),
		deptPatientSyncAddFail=VALUES(deptPatientSyncAddFail),
		deptPatientSyncAddHandle=VALUES(deptPatientSyncAddHandle),
		deptPatientNotSyncAdd=VALUES(deptPatientNotSyncAdd),
		inhospitaSimilar=VALUES(inhospitaSimilar),
		inhospitalSyncAdd=VALUES(inhospitalSyncAdd),
		inhospitalSyncAddSuccess=VALUES(inhospitalSyncAddSuccess),
		inhospitalSyncAddFail=VALUES(inhospitalSyncAddFail),
		inhospitalSyncAddHandle=VALUES(inhospitalSyncAddHandle),
		inhospitalNotSyncAdd=VALUES(inhospitalNotSyncAdd),
		inhospitalSyncUpdate=VALUES(inhospitalSyncUpdate),
		inhospitalNotSyncUpdate=VALUES(inhospitalNotSyncUpdate),
		diagnosisSimilar=VALUES(diagnosisSimilar),
		diagnosisSyncAdd=VALUES(diagnosisSyncAdd),
		diagnosisSyncAddSuccess=VALUES(diagnosisSyncAddSuccess),
		diagnosisiSyncAddFail=VALUES(diagnosisiSyncAddFail),
		diagnosisSyncAddHandle=VALUES(diagnosisSyncAddHandle),
		diagnosisNotSyncAdd=VALUES(diagnosisNotSyncAdd),
		surgerySimilar=VALUES(surgerySimilar),
		surgerySyncAdd=VALUES(surgerySyncAdd),
		surgerySyncAddSuccess=VALUES(surgerySyncAddSuccess),
		surgerySyncAddFail=VALUES(surgerySyncAddFail),
		surgerySyncAddHandle=VALUES(surgerySyncAddHandle),
		surgeryNotSyncAdd=VALUES(surgeryNotSyncAdd),
		radiationSimilar=VALUES(radiationSimilar),
		radiationSyncAdd=VALUES(radiationSyncAdd),
		radiationSyncAddSuccess=VALUES(radiationSyncAddSuccess),
		radiationSyncAddFail=VALUES(radiationSyncAddFail),
		radiationSyncAddHandle=VALUES(radiationSyncAddHandle),
		radiationNotSyncAdd=VALUES(radiationNotSyncAdd),
		chemotherapySimilar=VALUES(chemotherapySimilar),
		chemotherapySyncAdd=VALUES(chemotherapySyncAdd),
		chemotherapySyncAddSuccess=VALUES(chemotherapySyncAddSuccess),
		chemotherapySyncAddFalil=VALUES(chemotherapySyncAddFalil),
		chemotherapySyncAddHandle=VALUES(chemotherapySyncAddHandle),
		chemotherapyNotSyncAdd=VALUES(chemotherapyNotSyncAdd),
		treatmentSimilar=VALUES(treatmentSimilar),
		treatmentSyncAdd=VALUES(treatmentSyncAdd),
		treatmentSyncAddSuccess=VALUES(treatmentSyncAddSuccess),
		treatmentSyncAddFail=VALUES(treatmentSyncAddFail),
		treatmentSyncAddHandle=VALUES(treatmentSyncAddHandle),
		treatmentNotSyncAdd=VALUES(treatmentNotSyncAdd),
		outhospitalSimilar=VALUES(outhospitalSimilar),
		outhospitalSyncAdd=VALUES(outhospitalSyncAdd),
		outhospitalSyncAddSuccess=VALUES(outhospitalSyncAddSuccess),
		outhospitalSyncAddFail=VALUES(outhospitalSyncAddFail),
		outhospitalSyncAddHandle=VALUES(outhospitalSyncAddHandle),
		outhospitalNotSyncAdd=VALUES(outhospitalNotSyncAdd),
		clinicMedicalSimilar=VALUES(clinicMedicalSimilar),
		clinicMedicalSyncAdd=VALUES(clinicMedicalSyncAdd),
		clinicMedicalSyncAddSuccess=VALUES(clinicMedicalSyncAddSuccess),
		clinicMedicalSyncAddFail=VALUES(clinicMedicalSyncAddFail),
		clinicMedicalSyncAddHandle=VALUES(clinicMedicalSyncAddHandle),
		clinicMedicalNotSyncAdd=VALUES(clinicMedicalNotSyncAdd),
		examReportSimilar=VALUES(examReportSimilar),
		examReportSyncAdd=VALUES(examReportSyncAdd),
		examReportSyncAddSuccess=VALUES(examReportSyncAddSuccess),
		examReportSyncAddFail=VALUES(examReportSyncAddFail),
		examReportSyncAddHandle=VALUES(examReportSyncAddHandle),
		examReportNotSyncAdd=VALUES(examReportNotSyncAdd),
		detectionReportSimilar=VALUES(detectionReportSimilar),
		detectionRepotSyncAdd=VALUES(detectionRepotSyncAdd),
		detectionReportSyncAddSuccess=VALUES(detectionReportSyncAddSuccess),
		detectionReportSyncAddFail=VALUES(detectionReportSyncAddFail),
		detectionReportSyncAddHandle=VALUES(detectionReportSyncAddHandle),
		detectionReportNotSyncAdd=VALUES(detectionReportNotSyncAdd),
		detectionDetailSimilar=VALUES(detectionDetailSimilar),
		detectionDetailSyncAdd=VALUES(detectionDetailSyncAdd),
		detectionDetailSyncAddSuccess=VALUES(detectionDetailSyncAddSuccess),
		detectionDetailSyncAddFail=VALUES(detectionDetailSyncAddFail),
		detectionDetailSyncAddHandle=VALUES(detectionDetailSyncAddHandle),
		detectionDetailNotSyncAdd=VALUES(detectionDetailNotSyncAdd),
		followupResultSimilar=VALUES(followupResultSimilar),
		followupResultSyncAdd=VALUES(followupResultSyncAdd),
		followupResultSyncAddSuccess=VALUES(followupResultSyncAddSuccess),
		followupResultSyncAddFail=VALUES(followupResultSyncAddFail),
		followupResultSyncAddHandle=VALUES(followupResultSyncAddHandle),
		followupResultNotSyncAdd=VALUES(followupResultNotSyncAdd),
		followupResultSyncUpdate=VALUES(followupResultSyncUpdate),
		followupResultNotSyncUpdate=VALUES(followupResultNotSyncUpdate),
		followupResultBuffSimilar=VALUES(followupResultBuffSimilar),
		followupResultBuffSyncAdd=VALUES(followupResultBuffSyncAdd),
		followupResultBuffSyncAddSuccess=VALUES(followupResultBuffSyncAddSuccess),
		followupResultBuffSyncAddFail=VALUES(followupResultBuffSyncAddFail),
		followupResultBuffSyncAddHandle=VALUES(followupResultBuffSyncAddHandle),
		followupResultBuffNotSyncAdd=VALUES(followupResultBuffNotSyncAdd),
		followupResultBuffSyncUpdate=VALUES(followupResultBuffSyncUpdate),
		followupResultBuffNotSyncUpdate=VALUES(followupResultBuffNotSyncUpdate),
		createTime=VALUES(createTime),
		updateTime=VALUES(updateTime)
	</insert>
</mapper>