<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.esuizhen.server.sync.dao.server.TClinicMedicalNoteDao" >

  <insert id="insertSelective" parameterType="com.esuizhen.server.sync.bean.server.ClinicMedicalNoteRes" >
    insert into ehr_db.ec_clinic_medical_note
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="clinicMedicalId != null" >
        clinicMedicalId,
      </if>
      <if test="emrId != null" >
        emrId,
      </if>
      <if test="clinicNo != null" >
        clinicNo,
      </if>
      <if test="patientId != null" >
        patientId,
      </if>
      <if test="patientNo != null" >
        patientNo,
      </if>
      <if test="hospitalId != null" >
        hospitalId,
      </if>
      <if test="symptomSummary != null" >
        symptomSummary,
      </if>
      <if test="diagnosis != null" >
        diagnosis,
      </if>
      <if test="diseaseCode != null" >
        diseaseCode,
      </if>
      <if test="remark != null" >
        remark,
      </if>
      <if test="clinicDoctor != null" >
        clinicDoctor,
      </if>
      <if test="visitTimes != null" >
        visitTimes,
      </if>
      <if test="visitTime != null" >
        visitTime,
      </if>
      <if test="syncFlag != null" >
        syncFlag,
      </if>
      <if test="syncTime != null" >
        syncTime,
      </if>
      <if test="createTime != null" >
        createTime,
      </if>
      <if test="updateTime != null" >
        updateTime,
      </if>
      <if test="clinicDoctorUuid != null" >
        clinicDoctorUuid,
      </if>
      <if test="rawCreateTime != null" >
        rawCreateTime,
      </if>
      <if test="attendingDoctorId != null" >
        attendingDoctorId,
      </if>
      <if test="attendingDoctoruuId != null" >
        attendingDoctoruuId,
      </if>
      <if test="attendingDoctorNo != null" >
        attendingDoctorNo,
      </if>
      <if test="attendingDoctorName != null" >
        attendingDoctorName,
      </if>
      <if test="patientUuid != null" >
        patientUuid,
      </if>
      <if test="deptName != null" >
        deptName,
      </if>
      <if test="mergeFlag != null" >
        mergeFlag,
      </if>
      <if test="mergeFrom != null" >
        mergeFrom,
      </if>
      <if test="mergeTarget != null" >
        mergeTarget,
      </if>
      <if test="mergeTime != null" >
        mergeTime,
      </if>
      <if test="mergeFromUuid != null" >
        mergeFromUuid,
      </if>
      <if test="mergeTargetUuid != null" >
        mergeTargetUuid,
      </if>
      <if test="deptUuid != null" >
        deptUuid,
      </if>
      <if test="tempId != null" >
        tempId,
      </if>
      <if test="healthCardNo != null" >
        healthCardNo,
      </if>
      <if test="patientName != null" >
        patientName,
      </if>
      <if test="patientIdno != null" >
        patientIdno,
      </if>
      <if test="patientAddress != null" >
        patientAddress,
      </if>
      <if test="patientMobile != null" >
        patientMobile,
      </if>
      <if test="patientSex != null" >
        patientSex,
      </if>
      <if test="patientBirth != null" >
        patientBirth,
      </if>
      <if test="patientAge != null" >
        patientAge,
      </if>
      <if test="deptId != null" >
        deptId,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="clinicMedicalId != null" >
        #{clinicMedicalId,jdbcType=VARCHAR},
      </if>
      <if test="emrId != null" >
        #{emrId,jdbcType=VARCHAR},
      </if>
      <if test="clinicNo != null" >
        #{clinicNo,jdbcType=VARCHAR},
      </if>
      <if test="patientId != null" >
        #{patientId,jdbcType=BIGINT},
      </if>
      <if test="patientNo != null" >
        #{patientNo,jdbcType=VARCHAR},
      </if>
      <if test="hospitalId != null" >
        #{hospitalId,jdbcType=INTEGER},
      </if>
      <if test="symptomSummary != null" >
        #{symptomSummary,jdbcType=INTEGER},
      </if>
      <if test="diagnosis != null" >
        #{diagnosis,jdbcType=VARCHAR},
      </if>
      <if test="diseaseCode != null" >
        #{diseaseCode,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="clinicDoctor != null" >
        #{clinicDoctor,jdbcType=INTEGER},
      </if>
      <if test="visitTimes != null" >
        #{visitTimes,jdbcType=INTEGER},
      </if>
      <if test="visitTime != null" >
        #{visitTime,jdbcType=TIMESTAMP},
      </if>
      <if test="syncFlag != null" >
        #{syncFlag,jdbcType=INTEGER},
      </if>
      <if test="syncTime != null" >
        #{syncTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="clinicDoctorUuid != null" >
        #{clinicDoctorUuid,jdbcType=VARCHAR},
      </if>
      <if test="rawCreateTime != null" >
        #{rawCreateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="attendingDoctorId != null" >
        #{attendingDoctorId,jdbcType=INTEGER},
      </if>
      <if test="attendingDoctoruuId != null" >
        #{attendingDoctoruuId,jdbcType=VARCHAR},
      </if>
      <if test="attendingDoctorNo != null" >
        #{attendingDoctorNo,jdbcType=VARCHAR},
      </if>
      <if test="attendingDoctorName != null" >
        #{attendingDoctorName,jdbcType=VARCHAR},
      </if>
      <if test="patientUuid != null" >
        #{patientUuid,jdbcType=VARCHAR},
      </if>
      <if test="deptName != null" >
        #{deptName,jdbcType=VARCHAR},
      </if>
      <if test="mergeFlag != null" >
        #{mergeFlag,jdbcType=INTEGER},
      </if>
      <if test="mergeFrom != null" >
        #{mergeFrom,jdbcType=BIGINT},
      </if>
      <if test="mergeTarget != null" >
        #{mergeTarget,jdbcType=BIGINT},
      </if>
      <if test="mergeTime != null" >
        #{mergeTime,jdbcType=TIMESTAMP},
      </if>
      <if test="mergeFromUuid != null" >
        #{mergeFromUuid,jdbcType=VARCHAR},
      </if>
      <if test="mergeTargetUuid != null" >
        #{mergeTargetUuid,jdbcType=VARCHAR},
      </if>
      <if test="deptUuid != null" >
        #{deptUuid,jdbcType=VARCHAR},
      </if>
      <if test="tempId != null" >
        #{tempId,jdbcType=INTEGER},
      </if>
      <if test="healthCardNo != null" >
        #{healthCardNo,jdbcType=VARCHAR},
      </if>
      <if test="patientName != null" >
        #{patientName,jdbcType=VARCHAR},
      </if>
      <if test="patientIdno != null" >
        #{patientIdno,jdbcType=VARCHAR},
      </if>
      <if test="patientAddress != null" >
        #{patientAddress,jdbcType=VARCHAR},
      </if>
      <if test="patientMobile != null" >
        #{patientMobile,jdbcType=VARCHAR},
      </if>
      <if test="patientSex != null" >
        #{patientSex,jdbcType=INTEGER},
      </if>
      <if test="patientBirth != null" >
        #{patientBirth,jdbcType=DATE},
      </if>
      <if test="patientAge != null" >
        #{patientAge,jdbcType=INTEGER},
      </if>
      <if test="deptId != null" >
        #{deptId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.esuizhen.server.sync.bean.server.ClinicMedicalNoteRes" >
    update ehr_db.ec_clinic_medical_note
    <set >
      <if test="emrId != null" >
        emrId = #{emrId,jdbcType=VARCHAR},
      </if>
      <if test="clinicNo != null" >
        clinicNo = #{clinicNo,jdbcType=VARCHAR},
      </if>
      <if test="patientId != null" >
        patientId = #{patientId,jdbcType=BIGINT},
      </if>
      <if test="patientNo != null" >
        patientNo = #{patientNo,jdbcType=VARCHAR},
      </if>
      <if test="hospitalId != null" >
        hospitalId = #{hospitalId,jdbcType=INTEGER},
      </if>
      <if test="symptomSummary != null" >
        symptomSummary = #{symptomSummary,jdbcType=INTEGER},
      </if>
      <if test="diagnosis != null" >
        diagnosis = #{diagnosis,jdbcType=VARCHAR},
      </if>
      <if test="diseaseCode != null" >
        diseaseCode = #{diseaseCode,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="clinicDoctor != null" >
        clinicDoctor = #{clinicDoctor,jdbcType=INTEGER},
      </if>
      <if test="visitTimes != null" >
        visitTimes = #{visitTimes,jdbcType=INTEGER},
      </if>
      <if test="visitTime != null" >
        visitTime = #{visitTime,jdbcType=TIMESTAMP},
      </if>
      <if test="syncFlag != null" >
        syncFlag = #{syncFlag,jdbcType=INTEGER},
      </if>
      <if test="syncTime != null" >
        syncTime = #{syncTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null" >
        createTime = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        updateTime = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="clinicDoctorUuid != null" >
        clinicDoctorUuid = #{clinicDoctorUuid,jdbcType=VARCHAR},
      </if>
      <if test="rawCreateTime != null" >
        rawCreateTime = #{rawCreateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="attendingDoctorId != null" >
        attendingDoctorId = #{attendingDoctorId,jdbcType=INTEGER},
      </if>
      <if test="attendingDoctoruuId != null" >
        attendingDoctoruuId = #{attendingDoctoruuId,jdbcType=VARCHAR},
      </if>
      <if test="attendingDoctorNo != null" >
        attendingDoctorNo = #{attendingDoctorNo,jdbcType=VARCHAR},
      </if>
      <if test="attendingDoctorName != null" >
        attendingDoctorName = #{attendingDoctorName,jdbcType=VARCHAR},
      </if>
      <if test="patientUuid != null" >
        patientUuid = #{patientUuid,jdbcType=VARCHAR},
      </if>
      <if test="deptName != null" >
        deptName = #{deptName,jdbcType=VARCHAR},
      </if>
      <if test="mergeFlag != null" >
        mergeFlag = #{mergeFlag,jdbcType=INTEGER},
      </if>
      <if test="mergeFrom != null" >
        mergeFrom = #{mergeFrom,jdbcType=BIGINT},
      </if>
      <if test="mergeTarget != null" >
        mergeTarget = #{mergeTarget,jdbcType=BIGINT},
      </if>
      <if test="mergeTime != null" >
        mergeTime = #{mergeTime,jdbcType=TIMESTAMP},
      </if>
      <if test="mergeFromUuid != null" >
        mergeFromUuid = #{mergeFromUuid,jdbcType=VARCHAR},
      </if>
      <if test="mergeTargetUuid != null" >
        mergeTargetUuid = #{mergeTargetUuid,jdbcType=VARCHAR},
      </if>
      <if test="deptUuid != null" >
        deptUuid = #{deptUuid,jdbcType=VARCHAR},
      </if>
      <if test="tempId != null" >
        tempId = #{tempId,jdbcType=INTEGER},
      </if>
      <if test="healthCardNo != null" >
        healthCardNo = #{healthCardNo,jdbcType=VARCHAR},
      </if>
      <if test="patientName != null" >
        patientName = #{patientName,jdbcType=VARCHAR},
      </if>
      <if test="patientIdno != null" >
        patientIdno = #{patientIdno,jdbcType=VARCHAR},
      </if>
      <if test="patientAddress != null" >
        patientAddress = #{patientAddress,jdbcType=VARCHAR},
      </if>
      <if test="patientMobile != null" >
        patientMobile = #{patientMobile,jdbcType=VARCHAR},
      </if>
      <if test="patientSex != null" >
        patientSex = #{patientSex,jdbcType=INTEGER},
      </if>
      <if test="patientBirth != null" >
        patientBirth = #{patientBirth,jdbcType=DATE},
      </if>
      <if test="patientAge != null" >
        patientAge = #{patientAge,jdbcType=INTEGER},
      </if>
      <if test="deptId != null" >
        deptId = #{deptId,jdbcType=INTEGER},
      </if>
    </set>
    where clinicMedicalId = #{clinicMedicalId,jdbcType=VARCHAR}
  </update>
</mapper>