<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<!-- ehr_db -->
<mapper namespace="com.esuizhen.cloudservice.sync.dao.cloud.CloudMetaCDiseaseTypeDao">
	<select id="findByDiseaseTypeId" resultType="com.westangel.common.bean.ehr.MetaCDiseaseType">
		SELECT
			<include refid="base_column_list" />
		FROM ehr_db.meta_c_disease_type t1
		WHERE t1.diseaseTypeId=#{diseaseTypeId}
	</select>
	
	<sql id="base_column_list">
		t1.diseaseTypeId, 
		t1.diseaseTypeName, 
		t1.hospitalId, 
		t1.createTime, 
		t1.sortIndex, 
		t1.diseaseBodyPartId
	</sql>
	
</mapper>