<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<!-- user_db -->
<mapper namespace="com.esuizhen.cloudservice.sync.dao.cloud.CloudPatientDao" >
	<resultMap id="baseResultMap" type="com.westangel.common.bean.Patient" >
		<id column="patientId" property="patientId" jdbcType="BIGINT" />
		<result column="userId" property="userId" jdbcType="BIGINT" />
		<result column="uuid" property="uuid" jdbcType="VARCHAR" />
		<result column="trueName" property="trueName" jdbcType="VARCHAR" />
		<result column="nickName" property="nickName" jdbcType="VARCHAR" />
		<result column="mobile" property="mobile" jdbcType="VARCHAR" />
		<result column="uuid" property="uuid" jdbcType="VARCHAR" />
		<result column="patientRelation" property="patientRelation" jdbcType="INTEGER" />
		<result column="sex" property="sex" jdbcType="INTEGER" />
		<result column="birthDate" property="birthDate" jdbcType="TIMESTAMP" />
		<result column="userPictureUrl" property="userPictureUrl" jdbcType="VARCHAR" />
		<result column="familyName" property="familyName" jdbcType="VARCHAR" />
		<result column="familyPhone" property="familyPhone" jdbcType="VARCHAR" />
		<result column="liveStatus" property="liveStatus" jdbcType="INTEGER" />
		<result column="deathDate" property="deathDate" jdbcType="TIMESTAMP" />
		<result column="causeOfDeath" property="causeOfDeath" jdbcType="VARCHAR" />
		<result column="bloodType" property="bloodType" jdbcType="VARCHAR" />
		<result column="bloodTypeRH" property="bloodTypeRH" jdbcType="INTEGER" />
		<result column="bodyHeight" property="bodyHeight" jdbcType="INTEGER" />
		<result column="disabilityStatus" property="disabilityStatus" jdbcType="VARCHAR" />
		<result column="geneticDiseaseHistory" property="geneticDiseaseHistory" jdbcType="VARCHAR" />
		<result column="drugAllergyHistory" property="drugAllergyHistory" jdbcType="VARCHAR" />
		<result column="medicalPayType" property="medicalPayType" jdbcType="INTEGER" />
		<result column="sourceDiagnosis" property="sourceDiagnosis" jdbcType="VARCHAR" />
		<result column="sourceDiseaseCode" property="sourceDiseaseCode" jdbcType="VARCHAR" />
		<result column="sourcePathologyDiagnosis" property="sourcePathologyDiagnosis" jdbcType="VARCHAR" />
		<result column="sourcePathologyDiseaseCode" property="sourcePathologyDiseaseCode" jdbcType="VARCHAR" />
		<result column="attendingDoctor" property="attendingDoctor" jdbcType="INTEGER" />
		<result column="confirmedDate" property="confirmedDate" jdbcType="TIMESTAMP" />
		<result column="hasVisibleMedicalRecord" property="hasVisibleMedicalRecord" jdbcType="INTEGER" />
		<result column="syncFlag" property="syncFlag" jdbcType="INTEGER" />
		<result column="createTime" property="createTime" jdbcType="TIMESTAMP" />
		<result column="updateTime" property="updateTime" jdbcType="TIMESTAMP" />
		<result column="bodyWeight" property="bodyWeight"/>
		<result column="patientNo" property="patientNo"/>
		<result column="medicareCardNo" property="medicareCardNo"/>
		<result column="isInHospitalDeath" property="isInHospitalDeath"/>
		<result column="isTumourDeath" property="isTumourDeath"/>
		<result column="diagnosisType" property="diagnosisType"/>
		<result column="sourceTumorFlag" property="sourceTumorFlag"/>
		<result column="icdDiseaseTypeId" property="icdDiseaseTypeId"/>
		<result column="confirmedAge" property="confirmedAge"/>
		<result column="inchargeDoctor" property="inchargeDoctor"/>
		<result column="followupFlag" property="followupFlag"/>
		<result column="lostFollowupCause" property="lostFollowupCause"/>
		<result column="lostFollowupCauseResultValue" property="lostFollowupCauseResultValue"/>
		<result column="lostFollowupTime" property="lostFollowupTime"/>
		<result column="clinicNo" property="clinicNo"/>
		<result column="patientType" property="patientType"/>
		<result column="infoState" property="infoState"/>
		<result column="rawCreateTime" property="rawCreateTime"/>
	</resultMap>
	
	<resultMap type="com.westangel.common.bean.PatientProfile" id="patientPorfileResultMap">
		<id column="patientId" property="patientId" jdbcType="BIGINT" />
		<result column="userId" property="userId" jdbcType="BIGINT"/>
		<result column="trueName" property="trueName" jdbcType="VARCHAR" />
		<result column="uuid" property="uuid" jdbcType="VARCHAR" />
		<result column="familyName" property="familyName" jdbcType="VARCHAR" />
		<result column="familyPhone" property="familyPhone" jdbcType="VARCHAR" />
		<result column="liveStatus" property="liveStatus" jdbcType="INTEGER" />
		<result column="deathDate" property="deathDate" jdbcType="TIMESTAMP" />
		<result column="causeOfDeath" property="causeOfDeath" jdbcType="VARCHAR" />
		<result column="bloodType" property="bloodType" jdbcType="VARCHAR" />
		<result column="bloodTypeRH" property="bloodTypeRH" jdbcType="INTEGER" />
		<result column="bodyHeight" property="bodyHeight" jdbcType="INTEGER" />
		<result column="disabilityStatus" property="disabilityStatus" jdbcType="VARCHAR" />
		<result column="geneticDiseaseHistory" property="geneticDiseaseHistory" jdbcType="VARCHAR" />
		<result column="drugAllergyHistory" property="drugAllergyHistory" jdbcType="VARCHAR" />
		<result column="latestClinicDate" property="latestClinicDate" jdbcType="TIMESTAMP" />
		<result column="patientRelation" property="patientRelation" jdbcType="INTEGER" />
		<result column="medicalPayType" property="medicalPayType" jdbcType="INTEGER" />
		<result column="latestOutHospitalDate" property="latestOutHospitalDate" jdbcType="TIMESTAMP" />
		<result column="latestFollowupTime" property="latestFollowupTime" jdbcType="TIMESTAMP" />
		<result column="followupFlag" property="followupFlag" jdbcType="INTEGER" />
		<result column="followupState" property="followupState" jdbcType="INTEGER" />
		<result column="hasVisibleMedicalRecord" property="hasVisibleMedicalRecord" jdbcType="INTEGER" />
		<result column="currFollowupPerformDays" property="currFollowupPerformDays" jdbcType="INTEGER" />
		<result column="followupResultValue" property="followupResultValue" jdbcType="INTEGER" />
	    <result column="sourceDiseaseTypeId" property="sourceDiseaseTypeId" jdbcType="INTEGER" />
	    <result column="sourceDiseaseTypeName" property="sourceDiseaseTypeName" jdbcType="VARCHAR" />
		<result column="sourceDiagnosis" property="sourceDiagnosis" jdbcType="VARCHAR" />
		<result column="sourceDiseaseCode" property="sourceDiseaseCode" jdbcType="VARCHAR" />
		<result column="sourcePathologyDiagnosis" property="sourcePathologyDiagnosis" jdbcType="VARCHAR" />
		<result column="sourcePathologyDiseaseCode" property="sourcePathologyDiseaseCode" jdbcType="VARCHAR" />
		<result column="attendingDoctor" property="attendingDoctor" jdbcType="INTEGER" />
		<result column="confirmedDate" property="confirmedDate" jdbcType="TIMESTAMP" />
		<result column="source_flag" property="sourceFlag" jdbcType="INTEGER" />
		<result column="auditState" property="auditState" jdbcType="INTEGER" />
		<result column="syncFlag" property="syncFlag" jdbcType="INTEGER" />
	    <collection column="patientId" property="serviceSubscriptionInfo" ofType="com.westangel.common.bean.user.ServiceSubscriptionInfo" >
	    	<id column="var_id" property="id" jdbcType="BIGINT" />
	    	<result column="var_doctorId" property="doctorId" jdbcType="BIGINT" />
	    	<result column="var_subscriptionFlag" property="subscriptionFlag" jdbcType="INTEGER" />
	    	<result column="var_vipFlag" property="vipFlag" jdbcType="INTEGER" />
	    	<result column="var_periodFeeType" property="periodFeeType" jdbcType="INTEGER" />
	    	<result column="var_vipBeginTime" property="vipBeginTime" jdbcType="TIMESTAMP" />
	    	<result column="var_vipEndTime" property="vipEndTime" jdbcType="TIMESTAMP" />
	    	<result column="var_vipProductName" property="vipProductName" jdbcType="VARCHAR" />
	    	<result column="var_createTime" property="createTime" jdbcType="TIMESTAMP" />
	    	<result column="var_updateTime" property="updateTime" jdbcType="TIMESTAMP" />
	    </collection>
	</resultMap>
	
	<sql id="base_column_list" >
    	t1.patientId,
		t1.uuid,
		t1.patientNo,
		t1.userId,
		t1.medicareCardNo,
		t1.trueName,
		t1.nickName,
		t1.mobile,
		t1.familyName,
		t1.familyPhone,
		t1.sex,
		t1.birthDate,
		t1.userPictureUrl,
		t1.patientRelation,
		t1.liveStatus,
		t1.deathDate,
		t1.causeOfDeath,
		t1.isInHospitalDeath,
		t1.isTumourDeath,
		t1.bloodType,
		t1.bloodTypeRH,
		t1.bodyHeight,
		t1.bodyWeight,
		t1.disabilityStatus,
		t1.geneticDiseaseHistory,
		t1.drugAllergyHistory,
		t1.medicalPayType,
		t1.medicalCareAreaId,
		t1.medicalCarePlace,
		t1.sourceDiagnosis,
		t1.sourceDiagnosis2,
		t1.sourceDiseaseCode,
		t1.sourceDiseaseCode2,
		t1.sourceDiseaseTypeId,
		t1.sourceDiseaseTypeId2,
		t1.sourceDiseaseTypeName,
		t1.sourceDiseaseTypeName2,
		t1.icdDiseaseTypeId,
		t1.icdDiseaseTypeId2,
		t1.sourceTumorFlag,
		t1.sourceTumorFlag2,
		t1.diagnosisType,
		t1.diagnosisType2,
		t1.diagnosisId,
		t1.diagnosisId2,
		t1.inhospitalId,
		t1.inhospitalId2,
		t1.confirmedDate,
		t1.confirmedDate2,
		t1.confirmedAge,
		t1.confirmedAge2,
		t1.sourcePathologyDiagnosis,
		t1.sourcePathologyDiagnosis2,
		t1.sourcePathologyDiseaseCode,
		t1.sourcePathologyDiseaseCode2,
		t1.attendingDoctor,
		t1.inchargeDoctor,
		t1.secondaryDiagnosis,
		t1.secondaryDiseaseCode,
		t1.secondaryPathologyDiagnosis,
		t1.secondaryPathologyDiseaseCode,
		t1.hasVisibleMedicalRecord,
		t1.outPatientFlag,
		t1.auditState,
		t1.auditRemark,
		t1.followupFlag,
		t1.lostFollowupCauseResultValue,
		t1.lostFollowupCause,
		t1.lostFollowupTime,
		t1.patientType,
		t1.infoState,
		t1.clinicNo,
		t1.rawCreateTime,
		t1.createTime,
		t1.updateTime,
		t1.patientCode,
		t1.inpatientNo,
		t1.preTrueName,
		t1.underlyCausesOfDeath,
		t1.sourceDiagnosis3,
		t1.sourceDiseaseCode3,
		t1.sourceDiseaseTypeId3,
		t1.sourceDiseaseTypeName3,
		t1.confirmedDate3,
		t1.famZipCode,
		t1.lastAttendingDate,
		t1.cancelLostFollowupFlag,
		t1.cancelLostFollowupTime,
		t1.stafferType,
		t1.deathPatientIntoTask,
		t1.lostPatientIntoTask,
		t1.otherHospital,
		t1.syncTime
	</sql>
  	
	<select id="findByMobile" resultType="com.westangel.common.bean.Patient">
		SELECT
			<include refid="base_column_list" />
		FROM user_db.u_patient t1
			INNER JOIN user_db.u_user t2 ON t1.userId=t2.userId
		WHERE t2.mobile=#{mobile,jdbcType=VARCHAR} AND t1.patientRelation=#{patientRelation,jdbcType=INTEGER}
  	</select>
  	
	<select id="findById" resultType="com.westangel.common.bean.Patient">
    	SELECT
    		<include refid="base_column_list" />
    	FROM user_db.u_patient t1
    	where t1.patientId = #{patientId}
  	</select>
  	
	<select id="findByUserId" resultType="com.westangel.common.bean.Patient">
    	SELECT
    		<include refid="base_column_list" />
    	FROM user_db.u_patient t1
    	where t1.userId=#{userId,jdbcType=BIGINT}
  	</select>
  	
  	<select id="findByUuid" resultType="com.westangel.common.bean.Patient">
    	SELECT
    		<include refid="base_column_list" />
		FROM user_db.u_patient t1
			INNER JOIN user_db.u_user t2 ON t1.userId=t2.userId
		WHERE t2.uuid=#{uuid,jdbcType=VARCHAR}
  	</select>
  	

	<!-- 获取未同步微信患者 -->
	<select id="getIncrWeixinPatientOfHospital" resultType="com.esuizhen.cloudservice.sync.bean.TSyncRecord">
		SELECT
			f1.*
		FROM(
			SELECT
				t4.id, t1.uuid patientUuid, t2.openId weixinOpenId
			FROM user_db.u_user t1
				INNER JOIN user_db.u_thirdparty t2 ON t1.userId=t2.userId
				INNER JOIN user_db.u_patient t3 ON t1.userId=t3.userId
				INNER JOIN user_db.r_hospital_patient t4 ON t3.patientId=t4.patientId
			WHERE t4.syncFlag!=1 AND t4.hospitalId=#{hospitalId}
				AND t1.uuid IS NOT NULL AND t2.productId NOT IN(2)
		
			UNION ALL
		
			SELECT
				t4.id, t1.uuid patientUuid, t2.openId weixinOpenId
			FROM user_db.u_user t1
				INNER JOIN user_db.u_thirdparty t2 ON t1.userId=t2.userId
				INNER JOIN user_db.u_patient t3 ON t1.userId=t3.userId
				INNER JOIN user_db.r_hospital_patient t4 ON t3.patientId=t4.patientId
			WHERE t4.syncFlag!=1 AND t4.hospitalId=#{hospitalId}
				AND t1.uuid IS NOT NULL AND t2.productId = 2
		) f1
		GROUP BY f1.patientUuid
	</select>
	
	<insert id="insert">
	   	<selectKey resultType="long" keyProperty="patientId" order="AFTER" >
			SELECT LAST_INSERT_ID() as patientId
		</selectKey>
		INSERT INTO user_db.u_patient(
			uuid,
			patientNo,
			userId,
			medicareCardNo,
			trueName,
			nickName,
			mobile,
			familyName,
			familyPhone,
			sex,
			birthDate,
			userPictureUrl,
			patientRelation,
			liveStatus,
			deathDate,
			causeOfDeath,
			isInHospitalDeath,
			isTumourDeath,
			bloodType,
			bloodTypeRH,
			bodyHeight,
			bodyWeight,
			disabilityStatus,
			geneticDiseaseHistory,
			drugAllergyHistory,
			medicalPayType,
			medicalCareAreaId,
			medicalCarePlace,
			sourceDiagnosis,
			sourceDiagnosis2,
			sourceDiseaseCode,
			sourceDiseaseCode2,
			sourceDiseaseTypeId,
			sourceDiseaseTypeId2,
			sourceDiseaseTypeName,
			sourceDiseaseTypeName2,
			icdDiseaseTypeId,
			icdDiseaseTypeId2,
			sourceTumorFlag,
			sourceTumorFlag2,
			diagnosisType,
			diagnosisType2,
			diagnosisId,
			diagnosisId2,
			inhospitalId,
			inhospitalId2,
			confirmedDate,
			confirmedDate2,
			confirmedAge,
			confirmedAge2,
			sourcePathologyDiagnosis,
			sourcePathologyDiagnosis2,
			sourcePathologyDiseaseCode,
			sourcePathologyDiseaseCode2,
			attendingDoctor,
			inchargeDoctor,
			secondaryDiagnosis,
			secondaryDiseaseCode,
			secondaryPathologyDiagnosis,
			secondaryPathologyDiseaseCode,
			hasVisibleMedicalRecord,
			outPatientFlag,
			auditState,
			auditRemark,
			followupFlag,
			lostFollowupCause,
			lostFollowupCauseResultValue,
			lostFollowupTime,
			clinicNo,
			patientType,
			infoState,
			syncFlag,
			rawCreateTime,
			createTime,
			updateTime,
			patientCode,
			inpatientNo,
			preTrueName,
			underlyCausesOfDeath,
			sourceDiagnosis3,
			sourceDiseaseCode3,
			sourceDiseaseTypeId3,
			sourceDiseaseTypeName3,
			confirmedDate3,
			famZipCode,
			lastAttendingDate,
			cancelLostFollowupFlag,
			cancelLostFollowupTime,
			stafferType,
			deathPatientIntoTask,
			lostPatientIntoTask,
			otherHospital,
			syncTime
		)VALUES(
			#{uuid},
			#{patientNo},
			#{userId},
			#{medicareCardNo},
			#{trueName},
			#{nickName},
			#{mobile},
			#{familyName},
			#{familyPhone},
			#{sex},
			#{birthDate},
			#{userPictureUrl},
			#{patientRelation},
			#{liveStatus},
			#{deathDate},
			#{causeOfDeath},
			#{isInHospitalDeath},
			#{isTumourDeath},
			#{bloodType},
			#{bloodTypeRH},
			#{bodyHeight},
			#{bodyWeight},
			#{disabilityStatus},
			#{geneticDiseaseHistory},
			#{drugAllergyHistory},
			#{medicalPayType},
			#{medicalCareAreaId},
			#{medicalCarePlace},
			#{sourceDiagnosis},
			#{sourceDiagnosis2},
			#{sourceDiseaseCode},
			#{sourceDiseaseCode2},
			#{sourceDiseaseTypeId},
			#{sourceDiseaseTypeId2},
			#{sourceDiseaseTypeName},
			#{sourceDiseaseTypeName2},
			#{icdDiseaseTypeId},
			#{icdDiseaseTypeId2},
			#{sourceTumorFlag},
			#{sourceTumorFlag2},
			#{diagnosisType},
			#{diagnosisType2},
			#{diagnosisId},
			#{diagnosisId2},
			#{inhospitalId},
			#{inhospitalId2},
			#{confirmedDate},
			#{confirmedDate2},
			#{confirmedAge},
			#{confirmedAge2},
			#{sourcePathologyDiagnosis},
			#{sourcePathologyDiagnosis2},
			#{sourcePathologyDiseaseCode},
			#{sourcePathologyDiseaseCode2},
			#{attendingDoctor},
			#{inchargeDoctor},
			#{secondaryDiagnosis},
			#{secondaryDiseaseCode},
			#{secondaryPathologyDiagnosis},
			#{secondaryPathologyDiseaseCode},
			#{hasVisibleMedicalRecord},
			#{outPatientFlag},
			#{auditState},
			#{auditRemark},
			#{followupFlag},
			#{lostFollowupCause},
			#{lostFollowupCauseResultValue},
			#{lostFollowupTime},
			#{clinicNo},
			#{patientType},
			#{infoState},
			#{syncFlag},
			#{rawCreateTime},
			#{createTime},
			#{updateTime},
			#{patientCode},
			#{inpatientNo},
			#{preTrueName},
			#{underlyCausesOfDeath},
			#{sourceDiagnosis3},
			#{sourceDiseaseCode3},
			#{sourceDiseaseTypeId3},
			#{sourceDiseaseTypeName3},
			#{confirmedDate3},
			#{famZipCode},
			#{lastAttendingDate},
			#{cancelLostFollowupFlag},
			#{cancelLostFollowupTime},
			#{stafferType},
			#{deathPatientIntoTask},
			#{lostPatientIntoTask},
			#{otherHospital},
			NOW()
		)
  </insert>
  
  <update id="update">
	UPDATE user_db.u_patient
	<set>
		<if test="uuid!=null">
			uuid=#{uuid},
		</if>
		<if test="patientNo!=null">
			patientNo=#{patientNo},
		</if>
		<if test="userId!=null">
			userId=#{userId},
		</if>
		<if test="medicareCardNo!=null">
			medicareCardNo=#{medicareCardNo},
		</if>
		<if test="trueName!=null">
			trueName=#{trueName},
		</if>
		<if test="nickName!=null">
			nickName=#{nickName},
		</if>
		<if test="mobile!=null">
			mobile=#{mobile},
		</if>
		<if test="familyName!=null">
			familyName=#{familyName},
		</if>
		<if test="familyPhone!=null">
			familyPhone=#{familyPhone},
		</if>
		<if test="sex!=null">
			sex=#{sex},
		</if>
		<if test="birthDate!=null">
			birthDate=#{birthDate},
		</if>
		<if test="userPictureUrl!=null">
			userPictureUrl=#{userPictureUrl},
		</if>
		<if test="patientRelation!=null">
			patientRelation=#{patientRelation},
		</if>
		<if test="liveStatus!=null">
			liveStatus=#{liveStatus},
		</if>
		<if test="deathDate!=null">
			deathDate=#{deathDate},
		</if>
		<if test="causeOfDeath!=null">
			causeOfDeath=#{causeOfDeath},
		</if>
		<if test="isInHospitalDeath!=null">
			isInHospitalDeath=#{isInHospitalDeath},
		</if>
		<if test="isTumourDeath!=null">
			isTumourDeath=#{isTumourDeath},
		</if>
		<if test="bloodType!=null">
			bloodType=#{bloodType},
		</if>
		<if test="bloodTypeRH!=null">
			bloodTypeRH=#{bloodTypeRH},
		</if>
		<if test="bodyHeight!=null">
			bodyHeight=#{bodyHeight},
		</if>
		<if test="bodyWeight!=null">
			bodyWeight=#{bodyWeight},
		</if>
		<if test="disabilityStatus!=null">
			disabilityStatus=#{disabilityStatus},
		</if>
		<if test="geneticDiseaseHistory!=null">
			geneticDiseaseHistory=#{geneticDiseaseHistory},
		</if>
		<if test="drugAllergyHistory!=null">
			drugAllergyHistory=#{drugAllergyHistory},
		</if>
		<if test="medicalPayType!=null">
			medicalPayType=#{medicalPayType},
		</if>
		<if test="medicalCareAreaId!=null">
			medicalCareAreaId=#{medicalCareAreaId},
		</if>
		<if test="medicalCarePlace!=null">
			medicalCarePlace=#{medicalCarePlace},
		</if>
		<if test="sourceDiagnosis!=null">
			sourceDiagnosis=#{sourceDiagnosis},
		</if>
		<if test="sourceDiagnosis2!=null">
			sourceDiagnosis2=#{sourceDiagnosis2},
		</if>
		<if test="sourceDiseaseCode!=null">
			sourceDiseaseCode=#{sourceDiseaseCode},
		</if>
		<if test="sourceDiseaseCode2!=null">
			sourceDiseaseCode2=#{sourceDiseaseCode2},
		</if>
		<if test="sourceDiseaseTypeId!=null">
			sourceDiseaseTypeId=#{sourceDiseaseTypeId},
		</if>
		<if test="sourceDiseaseTypeId2!=null">
			sourceDiseaseTypeId2=#{sourceDiseaseTypeId2},
		</if>
		<if test="sourceDiseaseTypeName!=null">
			sourceDiseaseTypeName=#{sourceDiseaseTypeName},
		</if>
		<if test="sourceDiseaseTypeName2!=null">
			sourceDiseaseTypeName2=#{sourceDiseaseTypeName2},
		</if>
		<if test="icdDiseaseTypeId!=null">
			icdDiseaseTypeId=#{icdDiseaseTypeId},
		</if>
		<if test="icdDiseaseTypeId2!=null">
			icdDiseaseTypeId2=#{icdDiseaseTypeId2},
		</if>
		<if test="sourceTumorFlag!=null">
			sourceTumorFlag=#{sourceTumorFlag},
		</if>
		<if test="sourceTumorFlag2!=null">
			sourceTumorFlag2=#{sourceTumorFlag2},
		</if>
		<if test="diagnosisType!=null">
			diagnosisType=#{diagnosisType},
		</if>
		<if test="diagnosisType2!=null">
			diagnosisType2=#{diagnosisType2},
		</if>
		<if test="diagnosisId!=null">
			diagnosisId=#{diagnosisId},
		</if>
		<if test="diagnosisId2!=null">
			diagnosisId2=#{diagnosisId2},
		</if>
		<if test="inhospitalId!=null">
			inhospitalId=#{inhospitalId},
		</if>
		<if test="inhospitalId2!=null">
			inhospitalId2=#{inhospitalId2},
		</if>
		<if test="confirmedDate!=null">
			confirmedDate=#{confirmedDate},
		</if>
		<if test="confirmedDate2!=null">
			confirmedDate2=#{confirmedDate2},
		</if>
		<if test="confirmedAge!=null">
			confirmedAge=#{confirmedAge},
		</if>
		<if test="confirmedAge2!=null">
			confirmedAge2=#{confirmedAge2},
		</if>
		<if test="sourcePathologyDiagnosis!=null">
			sourcePathologyDiagnosis=#{sourcePathologyDiagnosis},
		</if>
		<if test="sourcePathologyDiagnosis2!=null">
			sourcePathologyDiagnosis2=#{sourcePathologyDiagnosis2},
		</if>
		<if test="sourcePathologyDiseaseCode!=null">
			sourcePathologyDiseaseCode=#{sourcePathologyDiseaseCode},
		</if>
		<if test="sourcePathologyDiseaseCode2!=null">
			sourcePathologyDiseaseCode2=#{sourcePathologyDiseaseCode2},
		</if>
		<if test="attendingDoctor!=null">
			attendingDoctor=#{attendingDoctor},
		</if>
		<if test="inchargeDoctor!=null">
			inchargeDoctor=#{inchargeDoctor},
		</if>
		<if test="secondaryDiagnosis!=null">
			secondaryDiagnosis=#{secondaryDiagnosis},
		</if>
		<if test="secondaryDiseaseCode!=null">
			secondaryDiseaseCode=#{secondaryDiseaseCode},
		</if>
		<if test="secondaryPathologyDiagnosis!=null">
			secondaryPathologyDiagnosis=#{secondaryPathologyDiagnosis},
		</if>
		<if test="secondaryPathologyDiseaseCode!=null">
			secondaryPathologyDiseaseCode=#{secondaryPathologyDiseaseCode},
		</if>
		<if test="hasVisibleMedicalRecord!=null">
			hasVisibleMedicalRecord=#{hasVisibleMedicalRecord},
		</if>
		<if test="outPatientFlag!=null">
			outPatientFlag=#{outPatientFlag},
		</if>
		<if test="auditState!=null">
			auditState=#{auditState},
		</if>
		<if test="auditRemark!=null">
			auditRemark=#{auditRemark},
		</if>
		<if test="followupFlag!=null">
			followupFlag=#{followupFlag},
		</if>
		<if test="lostFollowupCauseResultValue!=null">
			lostFollowupCauseResultValue=#{lostFollowupCauseResultValue},
		</if>
		<if test="lostFollowupCause!=null">
			lostFollowupCause=#{lostFollowupCause},
		</if>
		<if test="lostFollowupTime!=null">
			lostFollowupTime=#{lostFollowupTime},
		</if>
		<if test="patientType!=null">
			patientType=#{patientType},
		</if>
		<if test="infoState!=null">
			infoState=#{infoState},
		</if>
		<if test="clinicNo!=null">
			clinicNo=#{clinicNo},
		</if>
		<if test="rawCreateTime!=null">
			rawCreateTime=#{rawCreateTime},
		</if>
		<if test="createTime!=null">
			createTime=#{createTime},
		</if>
		<if test="syncTime!=null">
			syncTime=#{syncTime},
		</if>
		<if test="patientCode!=null">
		  patientCode=#{patientCode},
		</if>
		<if test="inpatientNo!=null">
		  inpatientNo=#{inpatientNo},
		</if>
		<if test="preTrueName!=null">
		  preTrueName=#{preTrueName},
		</if>
		<if test="underlyCausesOfDeath!=null">
		  underlyCausesOfDeath=#{underlyCausesOfDeath},
		</if>
		<if test="sourceDiagnosis3!=null">
		  sourceDiagnosis3=#{sourceDiagnosis3},
		</if>
		<if test="sourceDiseaseCode3!=null">
		  sourceDiseaseCode3=#{sourceDiseaseCode3},
		</if>
		<if test="sourceDiseaseTypeId3!=null">
		  sourceDiseaseTypeId3=#{sourceDiseaseTypeId3},
		</if>
		<if test="sourceDiseaseTypeName3!=null">
		  sourceDiseaseTypeName3=#{sourceDiseaseTypeName3},
		</if>
		<if test="confirmedDate3!=null">
		  confirmedDate3=#{confirmedDate3},
		</if>
		<if test="famZipCode!=null">
		  famZipCode=#{famZipCode},
		</if>
		<if test="lastAttendingDate!=null">
		  lastAttendingDate=#{lastAttendingDate},
		</if>
		<if test="cancelLostFollowupFlag!=null">
		  cancelLostFollowupFlag=#{cancelLostFollowupFlag},
		</if>
		<if test="cancelLostFollowupTime!=null">
		  cancelLostFollowupTime=#{cancelLostFollowupTime},
		</if>
		<if test="stafferType!=null">
		  stafferType=#{stafferType},
		</if>
		<if test="deathPatientIntoTask!=null">
		  deathPatientIntoTask=#{deathPatientIntoTask},
		</if>
		<if test="lostPatientIntoTask!=null">
		  lostPatientIntoTask=#{lostPatientIntoTask},
		</if>
		<if test="otherHospital!=null">
		  otherHospital=#{otherHospital},
		</if>
		<if test="matchFlag!=null">
		  matchFlag=#{matchFlag},
		</if>
		updateTime = NOW()
	</set>
		WHERE patientId=#{patientId}
	</update>
  
  	<update id="setPatientDeatch">
  		UPDATE user_db.u_patient
  		<set>
  			<if test="liveStatus != null">
				liveStatus = #{liveStatus,jdbcType=INTEGER},
			</if>
			<if test="deathDate != null">
				deathDate = #{deathDate,jdbcType=TIMESTAMP},
			</if>
			<if test="deathCause != null">
				 causeOfDeath =  #{deathCause},
			</if>
			<if test="isInHospitalDeath != null">
				 isInHospitalDeath =  #{isInHospitalDeath},
			</if>
			<if test="isTumourDeath != null">
				 isTumourDeath =  #{isTumourDeath},
			</if>
			updateTime=NOW()
  		</set>
  		WHERE patientId=#{patientId,jdbcType=BIGINT}
  	</update>
  	
  	<!-- 获取微信用户 -->
	<select id="getWxUser" resultType="java.util.HashMap">
		SELECT
			t1.patientId,t1.trueName,t1.userId,t2.weixinFlag,t3.productId,t3.openId
		FROM
			user_db.u_patient t1 
			join user_db.u_user t2 on t1.userId=t2.userId
			left join user_db.u_thirdparty t3 on t1.userId=t3.userId
		WHERE
			t1.uuid=#{uuid} limit 1
	</select>
</mapper>