<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<!-- cloud_sync_incre_db -->
<mapper namespace="com.esuizhen.cloudservice.sync.dao.cloud.CloudEciExamReportDao" >
	<insert id="insert">
		INSERT INTO lis_db.eci_exam_report(
			examReportId, 
			emrId, 
			patientId, 
			patientName, 
			patientNo, 
			patientUuid,
			outPatientFlag, 
			hospitalId, 
			examTypeId, 
			examChildTypeId,
			examTypeName, 
			deptId, 
			deptName, 
			reportTitle, 
			scanningTechnique, 
			examWay, 
			obtainWay, 
			organCode,
			organ,
			bodyPart,
			nidusCode, 
			nidus, 
			nidusSourceFlag, 
			longestDiameter,
			shortestDiameter, 
			examFinding, 
			examConclusion, 
			picFileUrls,
			imageFileFormat, 
			applyDoctorId, 
			applyDoctorUuid,
			applyDoctorNo, 
			applyDoctorName,
			reportDoctorId,
			reportDoctorUuid,
			reportDoctorNo, 
			reportDoctorName,
			state, 
			readFlag, 
			applyTime, 
			excuteTime, 
			reportTime, 
			createTime, 
			updateTime, 
			syncTime, 
			syncFlag,
			<!-- Start by fanpanwei -->
			rawCreateTime,
			inhospitaltimes
			<!-- end by fanpanwei -->
			
		)VALUES(
			#{examReportId},
			#{emrId},
			#{patientId},
			#{patientName}, 
			#{patientNo}, 
			#{patientUuid},
			#{outPatientFlag}, 
			#{hospitalId}, 
			#{examTypeId}, 
			#{examChildTypeId}, 
			#{examTypeName},
			#{deptId},
			#{deptName}, 
			#{reportTitle}, 
			#{scanningTechnique},
			#{examWay},
			#{obtainWay}, 
			#{organCode}, 
			#{organ},
			#{bodyPart}, 
			#{nidusCode},
			#{nidus}, 
			#{nidusSourceFlag}, 
			#{longestDiameter}, 
			#{shortestDiameter}, 
			#{examFinding},
			#{examConclusion}, 
			#{picFileUrls}, 
			#{imageFileFormat},
			#{applyDoctorId},
			#{applyDoctorUuid},
			#{applyDoctorNo},
			#{applyDoctorName}, 
			#{reportDoctorId},
			#{reportDoctorUuid},
			#{reportDoctorNo}, 
			#{reportDoctorName},
			#{state},
			#{readFlag}, 
			#{applyTime},
			#{excuteTime}, 
			#{reportTime}, 
			#{createTime}, 
			#{updateTime},
			NOW(), 
			#{syncFlag},
			<!-- Start by fanpanwei -->
			#{rawCreateTime},
			#{inhospitaltimes}
			<!-- end by fanpanwei -->
		)
	</insert>
</mapper>