<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<!-- ehr_db -->
<mapper namespace="com.esuizhen.cloudservice.sync.dao.cloud.CloudDiagnosisInfoDao" >
	
	<select id="findSourceDiagnosisByPatientId" resultType="com.esuizhen.cloudservice.sync.model.DiagnosisInfo">
		SELECT
			<include refid="base_column_list"></include>
		FROM ehr_db.e_diagnosis_info t1
		WHERE t1.isSourceDiagnosis=1 AND t1.patientId=#{patientId}
	</select>
	
	<sql id="base_column_list">
		t1.diagnosisId, 
		t1.emrId, 
		t1.patientId, 
		t1.patientNo,
		t1.inhospitalNo,
		t1.isFollowup,
		t1.specialDiseaseDiagnosisId,
		t1.suspectedDiagnosisFlag,
		t1.surgeryFlag,
		t1.seq, 
		t1.diagnosisId, 
		t1.diagnosis, 
		t1.diseaseTypeId,
		t1.diseaseBodyPartId, 
		t1.diseaseCode, 
		t1.pathologyDiagnosis, 
		t1.pathologyDiagnosisCode,
		t1.isSourceDiagnosis, 
		t1.remark, 
		t1.visitTime, 
		t1.createTime, 
		t1.updateTime
	</sql>
	
	<insert id="insert" parameterType="com.esuizhen.cloudservice.sync.model.DiagnosisInfo" >
		INSERT INTO ehr_db.e_diagnosis_info(
			diagnosisId,
			icdDiseaseTypeId,
			emrId,
			mainID,  
			patientNo,
			inhospitalNo,
			isFollowup,
			specialDiseaseDiagnosisId,
			suspectedDiagnosisFlag,
			surgeryFlag,
			seq,
			diseaseTypeId,
			diagnosisTypeId, 
			diagnosis,
			diseaseCode, 
			diseaseBodyPartId, 
			pathologyDiagnosis, 
			pathologyDiagnosisCode, 
			isSourceDiagnosis, 
			inhospitalId,
			inhospitalTimes,
			outHospitalCondition,
			organCode,
			organName,
			diagnosisExplain,
			diagnosisBasisId,
			diseaseBasis,
			inhospitalCondition,
			patientId,
			creator,
			operatorId,
			diagnosisDoctorId,
			firstdiagnosisHospitalId,
			firstdiagnosisHospitalName,
			firstdiagnosisTime,
			diagnosisDoctorName,
			remark, 
			zdyCode,
			eszCode,
			treatmentHistory,
			sourceCancerCount,
			disagnosisPeriodizationId,
			clinicNo,
			tumourPeriodizationClinic,
			tumourPeriodization,
			outhospitalDiagnosis,
			outhospitalDiagnosisCode,
			visitTime, 
			createTime, 
			updateTime,
			rawCreateTime,
			syncTime
		)VALUES(
			#{diagnosisId},
			#{icdDiseaseTypeId},
			#{emrId},
			#{mainID},
			#{patientNo},
			#{inhospitalNo},
			#{isFollowup},
			#{specialDiseaseDiagnosisId},
			#{suspectedDiagnosisFlag},
			#{surgeryFlag},
			#{seq},
			#{diseaseTypeId},
			#{diagnosisTypeId},
			#{diagnosis},
			#{diseaseCode},
			#{diseaseBodyPartId},
			#{pathologyDiagnosis},
			#{pathologyDiagnosisCode},
			#{isSourceDiagnosis},
			#{inhospitalId},
			#{inhospitalTimes},
			#{outHospitalCondition},
			#{organCode},
			#{organName},
			#{diagnosisExplain},
			#{diagnosisBasisId},
			#{diseaseBasis},
			#{inhospitalCondition},
			#{patientId},
			#{creator},
			#{operatorId},
			#{diagnosisDoctorId},
			#{firstdiagnosisHospitalId},
			#{firstdiagnosisHospitalName},
			#{firstdiagnosisTime},
			#{diagnosisDoctorName},
			#{remark},
			#{zdyCode},
			#{eszCode},
			#{treatmentHistory},
			#{sourceCancerCount},
			#{disagnosisPeriodizationId},
			#{clinicNo},
			#{tumourPeriodizationClinic},
			#{tumourPeriodization},
			#{outhospitalDiagnosis},
			#{outhospitalDiagnosisCode},
			#{visitTime},
			#{createTime},
			#{updateTime},
			#{rawCreateTime},
			NOW()
		)
	 </insert>
</mapper>