<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<!-- ehr_db -->
<mapper namespace="com.esuizhen.cloudservice.sync.dao.cloud.CloudSurgeryNoteDao" >
	
	<insert id="insert">
		INSERT INTO ehr_db.eci_surgery_note(
			surgeryId, 
			emrId, 
			patientId, 
			patientNo, 
			hospitalId,
			deptId, 
			bedNo, 
			surgeryName, 
			surgeryDoctor, 
			surgeryAssistant1, 
			surgeryAssistant2, 
			surgeryDate,
			surgeryBeginTime, 
			surgeryEndTime,
			incisionGroup,
			incisionHealLevel,
			rawAnesthesiaWayId,
			anesthesiaWayId,
			anesthesiaDoctor, 
			anesthesiaWay,
			preOperativeDiagnosis, 
			inOperativeDiagnosis,
			bodyPosture, 
			transfusion, 
			surgeryNurses, 
			operativeApproach, 
			operativeProbe,
			operativeMeasures, 
			operativeSituation,
			opCode, 
			woundClosureWay, 
			incisionBandagedWay, 
			remark,
			inhospitalId,
			createTime,
			updateTime,syncTime,syncFlag,
			anesthesiaDoctorName,
			anesthesiaDoctorUuid,
			surgeryAssistant1Name,
			surgeryAssistant1Uuid,
			surgeryAssistant2Name,
			surgeryAssistant2Uuid,
			surgeryDoctorName,
			surgeryDoctorUuid
		)VALUES(
			#{surgeryId,jdbcType=VARCHAR},
			#{emrId,jdbcType=VARCHAR},
			#{patientId,jdbcType=BIGINT},
			#{patientNo,jdbcType=VARCHAR},
			#{hospitalId,jdbcType=BIGINT},
			#{deptId,jdbcType=BIGINT},
			#{bedNo,jdbcType=VARCHAR},
			#{surgeryName,jdbcType=VARCHAR},
			#{surgeryDoctor,jdbcType=BIGINT},
			#{surgeryAssistant1,jdbcType=BIGINT},
			#{surgeryAssistant2,jdbcType=BIGINT},
			#{surgeryDate,jdbcType=TIMESTAMP},
			#{surgeryBeginTime,jdbcType=TIMESTAMP},
			#{surgeryEndTime,jdbcType=TIMESTAMP},
			#{incisionGroup,jdbcType=INTEGER},
			#{incisionHealLevel,jdbcType=INTEGER},
			#{rawAnesthesiaWayId,jdbcType=INTEGER},
			#{anesthesiaWayId,jdbcType=INTEGER},
			#{anesthesiaDoctor,jdbcType=BIGINT},
			#{anesthesiaWay,jdbcType=VARCHAR},
			#{preOperativeDiagnosis,jdbcType=VARCHAR},
			#{inOperativeDiagnosis,jdbcType=VARCHAR},
			#{bodyPosture,jdbcType=VARCHAR},
			#{transfusion,jdbcType=INTEGER},
			#{surgeryNurses,jdbcType=VARCHAR},
			#{operativeApproach,jdbcType=VARCHAR},
			#{operativeProbe,jdbcType=VARCHAR},
			#{operativeMeasures,jdbcType=VARCHAR},
			#{operativeSituation,jdbcType=VARCHAR},
			#{opCode},
			#{woundClosureWay,jdbcType=VARCHAR},
			#{incisionBandagedWay,jdbcType=VARCHAR},
			#{remark,jdbcType=VARCHAR},
			#{inhospitalId},
			#{createTime}, 
			#{updateTime},NOW(),1,
			#{anesthesiaDoctorName},
			#{anesthesiaDoctorUuid},
			#{surgeryAssistant1Name},
			#{surgeryAssistant1Uuid},
			#{surgeryAssistant2Name},
			#{surgeryAssistant2Uuid},
			#{surgeryDoctorName},
			#{surgeryDoctorUuid}
		)
	 </insert>
</mapper>