<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<!-- ehr_db -->
<mapper
	namespace="com.esuizhen.cloudservice.sync.dao.cloud.CloudInhospitalNoteDao">

	<insert id="insert" parameterType="com.esuizhen.cloudservice.sync.model.InhospitalNote">
		INSERT INTO ehr_db.ei_inhospital_note(
				inhospitalId,
				inhospitalNo,
				emrId,
				patientId,
				patientNo,
				inhospitalSource,
				redBloodCell,
				platelet,
				plasma,
				wholeBlood,
				other,
				pathologyNo,
				poisoningReason,
				poisoningDiseaseCode,
				recHospitalName,
				tumourPeriodizationN,
				tumourPeriodizationM1,
				tumourPeriodizationM2,
				householdCountyCode,
				liveAddress,
				deathTime,
				deathCause,
				deleteFlag,
				catalogState,
				hospitalId,
				medicalPayType,
				healthCardNo,
				inhospitalWay,
				inhospitalDate,
				inhospitalDeptId,
				inhospitalTimes,
				inhospitalWard,
				turnDeptId,
				turnDeptDate,
				outhospitalDate,
				outhospitalDeptId,
				outhospitalWard,
				outhoispitalWay,
				inhospitalDays,
				diagnose,
				diseaseCode,
				deptDoctor,
				directorDoctor,
				inchargeDoctor,
				inhospitalDoctor,
				attendingDoctor,
				dutyNurse,
				postgraduateDoctor,
				internshipDoctor,
				codePerson,
				medicalRecordsQuality,
				qualityControlDoctor,
				qualityControlNurse,
				qualityControlDate,
				mainDiagnosis,
				mainDiagnosisCode,
				inhospitalCondition,
				syncFlag,
				sourceFlag,
				historyCuration,
				sourceCancerNum,
				flag,
				treatmentSource,
				inhospitalLastTime,
				turnDept,
				deptDoctorName,
				directorDoctorName,
				inchargeDoctorName,
				inhospitalDoctorName,
				attendingDoctorName,
				dutyNurseName,
				postgraduateDoctorName,
				internshipDoctorName,
				codePersonName,
				qualityControlDoctorName,
				qualityControlNurseName,
				age,
				occupationId,
				idType,
				identification,
				marriageStatus,
				autopsy,
				reInhospitalPlan31Days,
				reInhospitalTarget31Days,
				preComaHour,
				preComaMinute,
				inComaHour,
				inComaMinute,
				inviabilityScore,
				outviabilityScore,
				babyAge,
				babyBornWeight,
				babyWeightInHospital,
				transfusion,
				respiratorUseTime,
				isAllergy,
				allergyDesc,
				aboBlood,
				rhBlood,
				tumourPeriodizationT,
				tumourPeriodizationClinic,
				tumourPeriodization,
				pathologyDiagnosis,
				pathologyDiagnosisCode,
				nationalityId,
				nativePlaceCityCode,
				nativePlaceAddress,
				householdZipCode,
				householdAddress,
				companyZipCode,
				companyCountyCode,
				companyAddress,
				companyTel,
				liveZipCode,
				liveCountyCode,
				liveTel,
				familyName,
				patientRelation,
				familyAddress,
				familyTel,
				familyCountyCode,
				createTime,
				updateTime,
				rawCreateTime,
				syncTime,
				infoState,
				patientUuid,
				inhospitalDeptUuid,
				outhospitalDeptUuid,
				deptDoctorUuid,
				directorDoctorUuid,
				inchargeDoctorUuid,
				inhospitalDoctorUuid,
				attendingDoctorUuid,
				dutyNurseUuid,
				postgraduateDoctorUuid,
				internshipDoctorUuid,
				codePersonUuid,
				qualityControlDoctorUuid,
				qualityControlNurseUuid
		)VALUES(
				#{inhospitalId},
				#{inhospitalNo},
				#{emrId},
				#{patientId},
				#{patientNo},
				#{inhospitalSource},
				#{redBloodCell},
				#{platelet},
				#{plasma},
				#{wholeBlood},
				#{other},
				#{pathologyNo},
				#{poisoningReason},
				#{poisoningDiseaseCode},
				#{recHospitalName},
				#{tumourPeriodizationN},
				#{tumourPeriodizationM1},
				#{tumourPeriodizationM2},
				#{householdCountyCode},
				#{liveAddress},
				#{deathTime},
				#{deathCause},
				#{deleteFlag},
				#{catalogState},
				#{hospitalId},
				#{medicalPayType},
				#{healthCardNo},
				#{inhospitalWay},
				#{inhospitalDate},
				#{inhospitalDeptId},
				#{inhospitalTimes},
				#{inhospitalWard},
				#{turnDeptId},
				#{turnDeptDate},
				#{outhospitalDate},
				#{outhospitalDeptId},
				#{outhospitalWard},
				#{outhoispitalWay},
				#{inhospitalDays},
				#{diagnose},
				#{diseaseCode},
				#{deptDoctor},
				#{directorDoctor},
				#{inchargeDoctor},
				#{inhospitalDoctor},
				#{attendingDoctor},
				#{dutyNurse},
				#{postgraduateDoctor},
				#{internshipDoctor},
				#{codePerson},
				#{medicalRecordsQuality},
				#{qualityControlDoctor},
				#{qualityControlNurse},
				#{qualityControlDate},
				#{mainDiagnosis},
				#{mainDiagnosisCode},
				#{inhospitalCondition},
				#{syncFlag},
				#{sourceFlag},
				#{historyCuration},
				#{sourceCancerNum},
				#{flag},
				#{treatmentSource},
				#{inhospitalLastTime},
				#{turnDept},
				#{deptDoctorName},
				#{directorDoctorName},
				#{inchargeDoctorName},
				#{inhospitalDoctorName},
				#{attendingDoctorName},
				#{dutyNurseName},
				#{postgraduateDoctorName},
				#{internshipDoctorName},
				#{codePersonName},
				#{qualityControlDoctorName},
				#{qualityControlNurseName},
				#{age},
				#{occupationId},
				#{idType},
				#{identification},
				#{marriageStatus},
				#{autopsy},
				#{reInhospitalPlan31Days},
				#{reInhospitalTarget31Days},
				#{preComaHour},
				#{preComaMinute},
				#{inComaHour},
				#{inComaMinute},
				#{inviabilityScore},
				#{outviabilityScore},
				#{babyAge},
				#{babyBornWeight},
				#{babyWeightInHospital},
				#{transfusion},
				#{respiratorUseTime},
				#{isAllergy},
				#{allergyDesc},
				#{aboBlood},
				#{rhBlood},
				#{tumourPeriodizationT},
				#{tumourPeriodizationClinic},
				#{tumourPeriodization},
				#{pathologyDiagnosis},
				#{pathologyDiagnosisCode},
				#{nationalityId},
				#{nativePlaceCityCode},
				#{nativePlaceAddress},
				#{householdZipCode},
				#{householdAddress},
				#{companyZipCode},
				#{companyCountyCode},
				#{companyAddress},
				#{companyTel},
				#{liveZipCode},
				#{liveCountyCode},
				#{liveTel},
				#{familyName},
				#{patientRelation},
				#{familyAddress},
				#{familyTel},
				#{familyCountyCode},
				#{createTime},
				#{updateTime},
				#{rawCreateTime},
				NOW(),
				#{infoState},
				#{patientUuid},
				#{inhospitalDeptUuid},
				#{outhospitalDeptUuid},
				#{deptDoctorUuid},
				#{directorDoctorUuid},
				#{inchargeDoctorUuid},
				#{inhospitalDoctorUuid},
				#{attendingDoctorUuid},
				#{dutyNurseUuid},
				#{postgraduateDoctorUuid},
				#{internshipDoctorUuid},
				#{codePersonUuid},
				#{qualityControlDoctorUuid},
				#{qualityControlNurseUuid}
		)
		ON DUPLICATE KEY UPDATE
		inhospitalNo=VALUES(inhospitalNo),
		emrId=VALUES(emrId),
		patientId=VALUES(patientId),
		patientNo=VALUES(patientNo),
		inhospitalSource=VALUES(inhospitalSource),
		redBloodCell=VALUES(redBloodCell),
		platelet=VALUES(platelet),
		plasma=VALUES(plasma),
		wholeBlood=VALUES(wholeBlood),
		other=VALUES(other),
		pathologyNo=VALUES(pathologyNo),
		poisoningReason=VALUES(poisoningReason),
		poisoningDiseaseCode=VALUES(poisoningDiseaseCode),
		recHospitalName=VALUES(recHospitalName),
		tumourPeriodizationN=VALUES(tumourPeriodizationN),
		tumourPeriodizationM1=VALUES(tumourPeriodizationM1),
		tumourPeriodizationM2=VALUES(tumourPeriodizationM2),
		householdCountyCode=VALUES(householdCountyCode),
		liveAddress=VALUES(liveAddress),
		deathTime=VALUES(deathTime),
		deathCause=VALUES(deathCause),
		deleteFlag=VALUES(deleteFlag),
		catalogState=VALUES(catalogState),
		
		hospitalId=VALUES(hospitalId),
		medicalPayType=VALUES(medicalPayType),
		healthCardNo=VALUES(healthCardNo),
		inhospitalWay=VALUES(inhospitalWay),
		inhospitalDate=VALUES(inhospitalDate),
		inhospitalDeptId=VALUES(inhospitalDeptId),
		inhospitalTimes=VALUES(inhospitalTimes),
		inhospitalWard=VALUES(inhospitalWard),
		turnDeptId=VALUES(turnDeptId),
		turnDeptDate=VALUES(turnDeptDate),
		outhospitalDate=VALUES(outhospitalDate),
		outhospitalDeptId=VALUES(outhospitalDeptId),
		outhospitalWard=VALUES(outhospitalWard),
		outhoispitalWay=VALUES(outhoispitalWay),
		inhospitalDays=VALUES(inhospitalDays),
		diagnose=VALUES(diagnose),
		diseaseCode=VALUES(diseaseCode),
		deptDoctor=VALUES(deptDoctor),
		directorDoctor=VALUES(directorDoctor),
		inchargeDoctor=VALUES(inchargeDoctor),
		inhospitalDoctor=VALUES(inhospitalDoctor),
		attendingDoctor=VALUES(attendingDoctor),
		dutyNurse=VALUES(dutyNurse),
		postgraduateDoctor=VALUES(postgraduateDoctor),
		internshipDoctor=VALUES(internshipDoctor),
		codePerson=VALUES(codePerson),
		medicalRecordsQuality=VALUES(medicalRecordsQuality),
		qualityControlDoctor=VALUES(qualityControlDoctor),
		qualityControlNurse=VALUES(qualityControlNurse),
		qualityControlDate=VALUES(qualityControlDate),
		mainDiagnosis=VALUES(mainDiagnosis),
		mainDiagnosisCode=VALUES(mainDiagnosisCode),
		inhospitalCondition=VALUES(inhospitalCondition),
		syncFlag=VALUES(syncFlag),
		sourceFlag=VALUES(sourceFlag),
		historyCuration=VALUES(historyCuration),
		sourceCancerNum=VALUES(sourceCancerNum),
		flag=VALUES(flag),
		treatmentSource=VALUES(treatmentSource),
		inhospitalLastTime=VALUES(inhospitalLastTime),
		turnDept=VALUES(turnDept),
		deptDoctorName=VALUES(deptDoctorName),
		directorDoctorName=VALUES(directorDoctorName),
		inchargeDoctorName=VALUES(inchargeDoctorName),
		inhospitalDoctorName=VALUES(inhospitalDoctorName),
		attendingDoctorName=VALUES(attendingDoctorName),
		dutyNurseName=VALUES(dutyNurseName),
		postgraduateDoctorName=VALUES(postgraduateDoctorName),
		internshipDoctorName=VALUES(internshipDoctorName),
		codePersonName=VALUES(codePersonName),
		qualityControlDoctorName=VALUES(qualityControlDoctorName),
		qualityControlNurseName=VALUES(qualityControlNurseName),
		age=VALUES(age),
		occupationId=VALUES(occupationId),
		idType=VALUES(idType),
		identification=VALUES(identification),
		marriageStatus=VALUES(marriageStatus),
		autopsy=VALUES(autopsy),
		reInhospitalPlan31Days=VALUES(reInhospitalPlan31Days),
		reInhospitalTarget31Days=VALUES(reInhospitalTarget31Days),
		preComaHour=VALUES(preComaHour),
		preComaMinute=VALUES(preComaMinute),
		inComaHour=VALUES(inComaHour),
		inComaMinute=VALUES(inComaMinute),
		inviabilityScore=VALUES(inviabilityScore),
		outviabilityScore=VALUES(outviabilityScore),
		babyAge=VALUES(babyAge),
		babyBornWeight=VALUES(babyBornWeight),
		babyWeightInHospital=VALUES(babyWeightInHospital),
		transfusion=VALUES(transfusion),
		respiratorUseTime=VALUES(respiratorUseTime),
		isAllergy=VALUES(isAllergy),
		allergyDesc=VALUES(allergyDesc),
		aboBlood=VALUES(aboBlood),
		rhBlood=VALUES(rhBlood),
		tumourPeriodizationT=VALUES(tumourPeriodizationT),
		tumourPeriodizationClinic=VALUES(tumourPeriodizationClinic),
		tumourPeriodization=VALUES(tumourPeriodization),
		pathologyDiagnosis=VALUES(pathologyDiagnosis),
		pathologyDiagnosisCode=VALUES(pathologyDiagnosisCode),
		nationalityId=VALUES(nationalityId),
		nativePlaceCityCode=VALUES(nativePlaceCityCode),
		nativePlaceAddress=VALUES(nativePlaceAddress),
		householdZipCode=VALUES(householdZipCode),
		householdAddress=VALUES(householdAddress),
		companyZipCode=VALUES(companyZipCode),
		companyCountyCode=VALUES(companyCountyCode),
		companyAddress=VALUES(companyAddress),
		companyTel=VALUES(companyTel),
		liveZipCode=VALUES(liveZipCode),
		liveCountyCode=VALUES(liveCountyCode),
		liveTel=VALUES(liveTel),
		familyName=VALUES(familyName),
		patientRelation=VALUES(patientRelation),
		familyAddress=VALUES(familyAddress),
		familyTel=VALUES(familyTel),
		familyCountyCode=VALUES(familyCountyCode),
		createTime=VALUES(createTime),
		updateTime=VALUES(updateTime),
		rawCreateTime=VALUES(rawCreateTime),
		syncTime=VALUES(syncTime),
		infoState=VALUES(infoState),
		patientUuid=VALUES(patientUuid),
		inhospitalDeptUuid=VALUES(inhospitalDeptUuid),
		outhospitalDeptUuid=VALUES(outhospitalDeptUuid),
		deptDoctorUuid=VALUES(deptDoctorUuid),
		directorDoctorUuid=VALUES(directorDoctorUuid),
		inchargeDoctorUuid=VALUES(inchargeDoctorUuid),
		inhospitalDoctorUuid=VALUES(inhospitalDoctorUuid),
		attendingDoctorUuid=VALUES(attendingDoctorUuid),
		dutyNurseUuid=VALUES(dutyNurseUuid),
		postgraduateDoctorUuid=VALUES(postgraduateDoctorUuid),
		internshipDoctorUuid=VALUES(internshipDoctorUuid),
		codePersonUuid=VALUES(codePersonUuid),
		qualityControlDoctorUuid=VALUES(qualityControlDoctorUuid),
		qualityControlNurseUuid=VALUES(qualityControlNurseUuid)
	</insert>
</mapper>