<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.esuizhen.cloudservice.ehr.dao.medicalRecord.RiskfactorsSotInfoDao" >
  <resultMap id="BaseResultMap" type="com.esuizhen.cloudservice.ehr.bean.RiskfactorsSotInfo" >
    <id column="sotInfoId" property="sotInfoId" jdbcType="VARCHAR" />
    <result column="riskfactorsId" property="riskfactorsId" jdbcType="VARCHAR" />
    <result column="firstAge" property="firstAge" jdbcType="INTEGER" />
    <result column="sustainYear" property="sustainYear" jdbcType="INTEGER" />
    <result column="dailyMil" property="dailyMil" jdbcType="INTEGER" />
    <result column="abstainYear" property="abstainYear" jdbcType="INTEGER" />
    <result column="drinkTypeId" property="drinkTypeId" jdbcType="VARCHAR" />
    <result column="weekCount" property="weekCount" jdbcType="INTEGER" />
    <result column="monthCount" property="monthCount" jdbcType="INTEGER" />
    <result column="yearCount" property="yearCount" jdbcType="INTEGER" />
    <result column="createTime" property="createTime" jdbcType="TIMESTAMP" />
    <result column="updateTime" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    sotInfoId, riskfactorsId, firstAge, sustainYear, dailyMil, abstainYear, drinkTypeId, 
    weekCount, monthCount, yearCount, createTime, updateTime
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from e_riskfactors_sot_info
    where sotInfoId = #{sotInfoId,jdbcType=VARCHAR}
  </select>
  <select id="queryOne" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from e_riskfactors_sot_info
    where riskfactorsId = #{riskfactorsId}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from e_riskfactors_sot_info
    where sotInfoId = #{primaryKeyId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.esuizhen.cloudservice.ehr.bean.RiskfactorsSotInfo" >
    insert into e_riskfactors_sot_info (sotInfoId, riskfactorsId, firstAge, 
      sustainYear, dailyMil, abstainYear, 
      drinkTypeId, weekCount, monthCount, 
      yearCount, createTime, updateTime
      )
    values (#{sotInfoId,jdbcType=VARCHAR}, #{riskfactorsId,jdbcType=VARCHAR}, #{firstAge,jdbcType=INTEGER}, 
      #{sustainYear,jdbcType=INTEGER}, #{dailyMil,jdbcType=INTEGER}, #{abstainYear,jdbcType=INTEGER}, 
      #{drinkTypeId,jdbcType=VARCHAR}, #{weekCount,jdbcType=INTEGER}, #{monthCount,jdbcType=INTEGER}, 
      #{yearCount,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.esuizhen.cloudservice.ehr.bean.RiskfactorsSotInfo" >
    insert into e_riskfactors_sot_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="sotInfoId != null" >
        sotInfoId,
      </if>
      <if test="riskfactorsId != null" >
        riskfactorsId,
      </if>
      <if test="firstAge != null" >
        firstAge,
      </if>
      <if test="sustainYear != null" >
        sustainYear,
      </if>
      <if test="dailyMil != null" >
        dailyMil,
      </if>
      <if test="abstainYear != null" >
        abstainYear,
      </if>
      <if test="drinkTypeId != null" >
        drinkTypeId,
      </if>
      <if test="weekCount != null" >
        weekCount,
      </if>
      <if test="monthCount != null" >
        monthCount,
      </if>
      <if test="yearCount != null" >
        yearCount,
      </if>
      <if test="createTime != null" >
        createTime,
      </if>
      <if test="updateTime != null" >
        updateTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="sotInfoId != null" >
        #{sotInfoId,jdbcType=VARCHAR},
      </if>
      <if test="riskfactorsId != null" >
        #{riskfactorsId,jdbcType=VARCHAR},
      </if>
      <if test="firstAge != null" >
        #{firstAge,jdbcType=INTEGER},
      </if>
      <if test="sustainYear != null" >
        #{sustainYear,jdbcType=INTEGER},
      </if>
      <if test="dailyMil != null" >
        #{dailyMil,jdbcType=INTEGER},
      </if>
      <if test="abstainYear != null" >
        #{abstainYear,jdbcType=INTEGER},
      </if>
      <if test="drinkTypeId != null" >
        #{drinkTypeId,jdbcType=VARCHAR},
      </if>
      <if test="weekCount != null" >
        #{weekCount,jdbcType=INTEGER},
      </if>
      <if test="monthCount != null" >
        #{monthCount,jdbcType=INTEGER},
      </if>
      <if test="yearCount != null" >
        #{yearCount,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.esuizhen.cloudservice.ehr.bean.RiskfactorsSotInfo" >
    update e_riskfactors_sot_info
    <set >
      <if test="riskfactorsId != null" >
        riskfactorsId = #{riskfactorsId,jdbcType=VARCHAR},
      </if>
      <if test="firstAge != null" >
        firstAge = #{firstAge,jdbcType=INTEGER},
      </if>
      <if test="sustainYear != null" >
        sustainYear = #{sustainYear,jdbcType=INTEGER},
      </if>
      <if test="dailyMil != null" >
        dailyMil = #{dailyMil,jdbcType=INTEGER},
      </if>
      <if test="abstainYear != null" >
        abstainYear = #{abstainYear,jdbcType=INTEGER},
      </if>
      <if test="drinkTypeId != null" >
        drinkTypeId = #{drinkTypeId,jdbcType=VARCHAR},
      </if>
      <if test="weekCount != null" >
        weekCount = #{weekCount,jdbcType=INTEGER},
      </if>
      <if test="monthCount != null" >
        monthCount = #{monthCount,jdbcType=INTEGER},
      </if>
      <if test="yearCount != null" >
        yearCount = #{yearCount,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        createTime = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        updateTime = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where sotInfoId = #{sotInfoId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.esuizhen.cloudservice.ehr.bean.RiskfactorsSotInfo" >
    update e_riskfactors_sot_info
    set riskfactorsId = #{riskfactorsId,jdbcType=VARCHAR},
      firstAge = #{firstAge,jdbcType=INTEGER},
      sustainYear = #{sustainYear,jdbcType=INTEGER},
      dailyMil = #{dailyMil,jdbcType=INTEGER},
      abstainYear = #{abstainYear,jdbcType=INTEGER},
      drinkTypeId = #{drinkTypeId,jdbcType=VARCHAR},
      weekCount = #{weekCount,jdbcType=INTEGER},
      monthCount = #{monthCount,jdbcType=INTEGER},
      yearCount = #{yearCount,jdbcType=INTEGER},
      createTime = #{createTime,jdbcType=TIMESTAMP},
      updateTime = #{updateTime,jdbcType=TIMESTAMP}
    where sotInfoId = #{sotInfoId,jdbcType=VARCHAR}
  </update>
</mapper>