<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<!-- user_db -->
<mapper namespace="com.esuizhen.client.sync.dao.ClinicMedicalNoteDao" >	
	            
	<select id="getBatchSyncClinicMedicalNote" resultType="java.util.LinkedHashMap" parameterType="com.esuizhen.client.sync.model.TBatchDetailInfo">
	    SELECT
			t1.clinicMedicalId,t1.emrId,t1.tempId,t1.clinicNo,t1.patientId,t2.uuid as patientUuid,t1.patientNo,
			t1.hospitalId,t1.healthCardNo,t1.patientName,t1.patientIdno,t1.patientAddress,t1.patientMobile,t1.patientSex,
			t1.patientBirth,t1.patientAge,t1.deptId,
			(SELECT uuid FROM user_db.u_department WHERE deptId=t1.deptId) AS deptUuid,
			t1.deptName,t1.attendingDoctorId,
			(SELECT uuid FROM user_db.u_doctor WHERE doctorId = t1.attendingDoctorId) as attendingDoctorUuid,
			t1.attendingDoctorNo,t1.attendingDoctorName,t1.symptomSummary,t1.diagnosis,t1.diseaseCode,t1.remark,t1.clinicDoctor,
			(SELECT uuid FROM user_db.u_doctor WHERE doctorId = t1.clinicDoctor) as clinicDoctorUuid,
			t1.visitTimes,t1.visitTime,t1.createTime,t1.updateTime,t1.rawCreateTime,t1.mergeFlag,t1.mergeFrom,
			IFNULL(t1.mergeFromUuid,(SELECT uuid FROM user_db.u_patient WHERE patientId =t1.mergeFrom)) AS mergeFromUuid,
			t1.mergeTarget,
			IFNULL(t1.mergeTargetUuid,(SELECT uuid FROM user_db.u_patient WHERE patientId =t1.mergeTarget)) AS mergeTargetUuid,
			t1.mergeTime,IFNUll(t5.sourceFlag,3) as sourceFlag
		FROM
		     ehr_db.ec_clinic_medical_note t1
		JOIN user_db.u_patient t2 ON t1.patientId = t2.patientId
		JOIN sc_db.u_patient_sync_result_client t3 ON t2.uuid = t3.uuid
		JOIN sc_db.ec_clinic_medical_note_sync_result_client t4 ON t1.clinicMedicalId = t4.clinicMedicalId
		LEFT JOIN ehr_db.e_medical_record t5 ON t1.emrId = t5.emrId 
		WHERE
		    t3.syncFlag=1 AND t4.syncFlag = 0
	    LIMIT #{detailInfo.syncSize}
  	</select>
  	<update id="updateClinicMedicalNoteSyncflag" parameterType="java.lang.String">
		UPDATE sc_db.ec_clinic_medical_note_sync_result_client t1
		SET t1.opFlag=IF(t1.syncFlag=0,1,2),t1.syncFlag = 9 , t1.syncTime=NOW(),t1.updateTime = NOW()
		WHERE
			t1.clinicMedicalId IN (${clinicMedicalIds})
	</update>
	
	<update id="updateSyncResult" parameterType="com.esuizhen.client.sync.bean.TBatchDataResultInfo">
		UPDATE sc_db.ec_clinic_medical_note_sync_result_client t1
		SET 
		    t1.batchId = #{tBatchDataResultInfo.batchId},
		    t1.syncFlag = #{tBatchDataResultInfo.syncFlag},
			t1.cause = #{tBatchDataResultInfo.cause},
			t1.updateTime = NOW()
		WHERE
			t1.clinicMedicalId = #{tBatchDataResultInfo.resultId} and t1.syncFlag = 9
	</update>
</mapper>