<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<!-- user_db -->
<mapper namespace="com.esuizhen.client.sync.dao.FollowupResultDao" >	
	
	<select id="getBatchSyncFollowupResult" resultType="java.util.LinkedHashMap" parameterType="com.esuizhen.client.sync.model.TBatchDetailInfo">
        SELECT
			t1.followupResultId,t1.tempId,t1.followupTaskId,t1.followupAssignId,t1.patientId,t2.uuid as patientUuid,t1.hospitalId,
			IF(t1.operator=3,9,t1.operator) operator,t5.uuid operatorUuid,t1.followupResultValue,t1.relapseParts,t1.relapseDate,t1.transferParts,t1.transferDate,t1.deathDate,
			t1.isInHospitalDeath,t1.isTumourDeath,t1.deathCause,t1.otherCause,t1.followupWay,t1.contentTemplateId,t1.followupResultPhone,
			t1.followupTime,t1.lostFollowupFlag,t1.lostFollowupCauseResultValue,t1.oldLostFollowupFlag,t1.oldLostFollowupCauseResultValue,
			t1.phoneRecordUrl,t1.remark,t1.sourceFlag,t1.createTime,t1.updateTime,t1.state,t1.mergeFlag,t1.mergeFrom,
			IFNULL(t1.mergeFromUuid,(SELECT uuid FROM user_db.u_patient WHERE patientId =t1.mergeFrom)) AS mergeFromUuid,
			t1.mergeTarget,
			IFNULL(t1.mergeTargetUuid,(SELECT uuid FROM user_db.u_patient WHERE patientId =t1.mergeTarget)) AS mergeTargetUuid,
			t1.mergeTime,IF(t1.updateOperator=3,9,t1.updateOperator) updateOperator,
			IFNULL(t1.updateOperatorUuid,(SELECT uuid FROM user_db.u_doctor WHERE doctorId =t1.updateOperator)) AS updateOperatorUuid,t1.updateOperatorName
		FROM
		     followup_db.followup_result t1
		JOIN user_db.u_patient t2 ON t1.patientId = t2.patientId 
		JOIN sc_db.u_patient_sync_result_client t3 ON t2.uuid = t3.uuid
		JOIN sc_db.followup_result_sync_result_client t4 ON t1.followupResultId = t4.followupResultId 
		JOIN user_db.u_doctor t5 ON t1.operator = t5.doctorId
		JOIN sc_db.u_doctor_sync_result_client t6 ON t5.uuid = t6.uuid
		WHERE
			t3.syncFlag = 1 AND t4.syncFlag in(0,2) AND (t6.syncFlag=1 OR t5.doctorId=3)
	    LIMIT #{detailInfo.syncSize}
  	</select>
  	
  	<update id="updateFollowupResultSyncflag" parameterType="java.lang.String">
		UPDATE sc_db.followup_result_sync_result_client t1
		SET t1.opFlag=IF(t1.syncFlag=0,1,2),t1.syncFlag = 9 , t1.syncTime=NOW(),t1.updateTime = NOW()
		WHERE
			t1.followupResultId IN (${followupResultIds});
	</update>
	
	<update id="updateSyncResult" parameterType="com.esuizhen.client.sync.bean.TBatchDataResultInfo">
		UPDATE sc_db.followup_result_sync_result_client t1
		SET 
		    t1.batchId = #{tBatchDataResultInfo.batchId},
		    t1.syncFlag = #{tBatchDataResultInfo.syncFlag},
			t1.cause = #{tBatchDataResultInfo.cause},
			t1.updateTime = NOW()
		WHERE
			t1.followupResultId = #{tBatchDataResultInfo.resultId} and t1.syncFlag = 9
	</update>
</mapper>