<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.esuizhen.cloudservice.ehr.dao.common.OperationHistoryDao">
	<sql id="Base_Column_List">
		operationName,description,actionType,operatorId,createTime
	</sql>
	<insert id="insert"
		parameterType="com.esuizhen.cloudservice.ehr.model.patientinfo.OperationHistory">
		<selectKey resultType="long" keyProperty="operationId"
			order="AFTER">
			SELECT LAST_INSERT_ID() as operationId
		</selectKey>
		insert into user_db.s_operation_history(operationName,description,actionType,
		operatorId,createTime)
		values (#{operationName,jdbcType=VARCHAR},
		#{description,jdbcType=VARCHAR},
		#{actionType,jdbcType=INTEGER},
		#{operatorId,jdbcType=BIGINT},
		#{createTime,jdbcType=TIMESTAMP})
	</insert>
	<select id="getList" parameterType="java.util.HashMap" resultType="com.esuizhen.cloudservice.ehr.model.patientinfo.OperationHistory">
		SELECT <include refid="Base_Column_List"></include> FROM user_db.s_operation_history
		<where>
			<if test="operatorId != null">
			AND operatorId=${operatorId}
			</if>
			<if test="actionType != null">
			AND actionType=${actionType}
			</if>
		</where>
		LIMIT #{startRow},#{num}
	</select>
</mapper>