<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<!-- cloud_sync_match_db -->
<mapper
	namespace="com.esuizhen.cloudservice.sync.dao.match.MatchInhospitalNoteDao">
	<sql id="base_column_list">
		inhospitalId,
		inhospitalNo,
		emrId,
		patientUuid,
		patientNo,
		inhospitalSource,
		redBloodCell,
		platelet,
		plasma,
		wholeBlood,
		other,
		pathologyNo,
		poisoningReason,
		poisoningDiseaseCode,
		recHospitalName,
		tumourPeriodizationN,
		tumourPeriodizationM1,
		tumourPeriodizationM2,
		householdCountyCode,
		liveAddress,
		deathTime,
		deathCause,
		deleteFlag,
		catalogState,
		hospitalId,
		operatorId,
		operatorName,
		medicalPayType,
		healthCardNo,
		inhospitalWay,
		inhospitalDate,
		inhospitalDeptUuid,
		inhospitalTimes,
		inhospitalWard,
		turnDeptUuid,
		turnDeptDate,
		outhospitalDate,
		outhospitalDeptUuid,
		outhospitalWard,
		outhoispitalWay,
		inhospitalDays,
		diagnose,
		diseaseCode,
		deptDoctorUuid,
		directorDoctorUuid,
		inchargeDoctorUuid,
		inhospitalDoctorUuid,
		attendingDoctorUuid,
		dutyNurseUuid,
		postgraduateDoctorUuid,
		internshipDoctorUuid,
		codePersonUuid,
		medicalRecordsQuality,
		qualityControlDoctorUuid,
		qualityControlNurseUuid,
		qualityControlDate,
		mainDiagnosis,
		mainDiagnosisCode,
		inhospitalCondition,
		syncFlag,
		sourceFlag,
		historyCuration,
		sourceCancerNum,
		flag,
		treatmentSource,
		inhospitalLastTime,
		turnDept,
		deptDoctorName,
		directorDoctorName,
		inchargeDoctorName,
		inhospitalDoctorName,
		attendingDoctorName,
		dutyNurseName,
		postgraduateDoctorName,
		internshipDoctorName,
		codePersonName,
		qualityControlDoctorName,
		qualityControlNurseName,
		age,
		occupationId,
		idType,
		identification,
		marriageStatus,
		autopsy,
		reInhospitalPlan31Days,
		reInhospitalTarget31Days,
		preComaHour,
		preComaMinute,
		inComaHour,
		inComaMinute,
		inviabilityScore,
		outviabilityScore,
		babyAge,
		babyBornWeight,
		babyWeightInHospital,
		transfusion,
		respiratorUseTime,
		isAllergy,
		allergyDesc,
		aboBlood,
		rhBlood,
		tumourPeriodizationT,
		tumourPeriodizationClinic,
		tumourPeriodization,
		pathologyDiagnosis,
		pathologyDiagnosisCode,
		nationalityId,
		nativePlaceCityCode,
		nativePlaceAddress,
		householdZipCode,
		householdAddress,
		companyZipCode,
		companyCountyCode,
		companyAddress,
		companyTel,
		liveZipCode,
		liveCountyCode,
		liveTel,
		familyName,
		patientRelation,
		familyAddress,
		familyTel,
		familyCountyCode,
		infoState,
		createTime,
		updateTime,
		rawCreateTime,
		syncTime
	</sql>
	
	<select id="findByPatientUuid" resultType="com.esuizhen.cloudservice.sync.bean.TPatientInHospitalNoteDetailInfo" parameterType="java.lang.String">
		SELECT <include refid="base_column_list"/>
		FROM cloud_sync_match_db.ei_inhospital_note t1
		WHERE t1.patientUuid=#{patientFinalUuid,jdbcType=VARCHAR}
	</select>
	<!-- 插入数据到匹配库 -->
	<insert id="insert" parameterType="com.esuizhen.cloudservice.sync.model.InhospitalNote" >
		INSERT INTO cloud_sync_match_db.ei_inhospital_note(
			<include refid="base_column_list"/>
		) VALUES (
			#{inhospitalId},
		#{inhospitalNo},
		#{emrId},
		#{patientUuid},
		#{patientNo},
		#{inhospitalSource},
		#{redBloodCell},
		#{platelet},
		#{plasma},
		#{wholeBlood},
		#{other},
		#{pathologyNo},
		#{poisoningReason},
		#{poisoningDiseaseCode},
		#{recHospitalName},
		#{tumourPeriodizationN},
		#{tumourPeriodizationM1},
		#{tumourPeriodizationM2},
		#{householdCountyCode},
		#{liveAddress},
		#{deathTime},
		#{deathCause},
		#{deleteFlag},
		#{catalogState},
		#{hospitalId},
		#{operatorId},
		#{operatorName},
		
		#{medicalPayType},
		#{healthCardNo},
		#{inhospitalWay},
		#{inhospitalDate},
		#{inhospitalDeptUuid},
		#{inhospitalTimes},
		#{inhospitalWard},
		#{turnDeptUuid},
		#{turnDeptDate},
		#{outhospitalDate},
		#{outhospitalDeptUuid},
		#{outhospitalWard},
		#{outhoispitalWay},
		#{inhospitalDays},
		#{diagnose},
		#{diseaseCode},
		#{deptDoctorUuid},
		#{directorDoctorUuid},
		#{inchargeDoctorUuid},
		#{inhospitalDoctorUuid},
		#{attendingDoctorUuid},
		#{dutyNurseUuid},
		#{postgraduateDoctorUuid},
		#{internshipDoctorUuid},
		#{codePersonUuid},
		#{medicalRecordsQuality},
		#{qualityControlDoctorUuid},
		#{qualityControlNurseUuid},
		#{qualityControlDate},
		#{mainDiagnosis},
		#{mainDiagnosisCode},
		#{inhospitalCondition},
		#{syncFlag},
		#{sourceFlag},
		#{historyCuration},
		#{sourceCancerNum},
		#{flag},
		#{treatmentSource},
		#{inhospitalLastTime},
		#{turnDept},
		#{deptDoctorName},
		#{directorDoctorName},
		#{inchargeDoctorName},
		#{inhospitalDoctorName},
		#{attendingDoctorName},
		#{dutyNurseName},
		#{postgraduateDoctorName},
		#{internshipDoctorName},
		#{codePersonName},
		#{qualityControlDoctorName},
		#{qualityControlNurseName},
		#{age},
		#{occupationId},
		#{idType},
		#{identification},
		#{marriageStatus},
		#{autopsy},
		#{reInhospitalPlan31Days},
		#{reInhospitalTarget31Days},
		#{preComaHour},
		#{preComaMinute},
		#{inComaHour},
		#{inComaMinute},
		#{inviabilityScore},
		#{outviabilityScore},
		#{babyAge},
		#{babyBornWeight},
		#{babyWeightInHospital},
		#{transfusion},
		#{respiratorUseTime},
		#{isAllergy},
		#{allergyDesc},
		#{aboBlood},
		#{rhBlood},
		#{tumourPeriodizationT},
		#{tumourPeriodizationClinic},
		#{tumourPeriodization},
		#{pathologyDiagnosis},
		#{pathologyDiagnosisCode},
		#{nationalityId},
		#{nativePlaceCityCode},
		#{nativePlaceAddress},
		#{householdZipCode},
		#{householdAddress},
		#{companyZipCode},
		#{companyCountyCode},
		#{companyAddress},
		#{companyTel},
		#{liveZipCode},
		#{liveCountyCode},
		#{liveTel},
		#{familyName},
		#{patientRelation},
		#{familyAddress},
		#{familyTel},
		#{familyCountyCode},
		#{infoState},
		#{createTime},
		#{updateTime},
		#{rawCreateTime},
		NOW()
		)
		ON DUPLICATE KEY UPDATE
			inhospitalNo=VALUES(inhospitalNo),
			emrId=VALUES(emrId),
			patientUuid=VALUES(patientUuid),
			patientNo=VALUES(patientNo),
			hospitalId=VALUES(hospitalId),
			medicalPayType=VALUES(medicalPayType),
			healthCardNo=VALUES(healthCardNo),
			inhospitalWay=VALUES(inhospitalWay),
			inhospitalDate=VALUES(inhospitalDate),
			inhospitalDeptUuid=VALUES(inhospitalDeptUuid),
			inhospitalTimes=VALUES(inhospitalTimes),
			inhospitalWard=VALUES(inhospitalWard),
			turnDeptUuid=VALUES(turnDeptUuid),
			turnDeptDate=VALUES(turnDeptDate),
			outhospitalDate=VALUES(outhospitalDate),
			outhospitalDeptUuid=VALUES(outhospitalDeptUuid),
			outhospitalWard=VALUES(outhospitalWard),
			outhoispitalWay=VALUES(outhoispitalWay),
			inhospitalDays=VALUES(inhospitalDays),
			diagnose=VALUES(diagnose),
			diseaseCode=VALUES(diseaseCode),
			deptDoctorUuid=VALUES(deptDoctorUuid),
			directorDoctorUuid=VALUES(directorDoctorUuid),
			inchargeDoctorUuid=VALUES(inchargeDoctorUuid),
			inhospitalDoctorUuid=VALUES(inhospitalDoctorUuid),
			attendingDoctorUuid=VALUES(attendingDoctorUuid),
			dutyNurseUuid=VALUES(dutyNurseUuid),
			postgraduateDoctorUuid=VALUES(postgraduateDoctorUuid),
			internshipDoctorUuid=VALUES(internshipDoctorUuid),
			codePersonUuid=VALUES(codePersonUuid),
			medicalRecordsQuality=VALUES(medicalRecordsQuality),
			qualityControlDoctorUuid=VALUES(qualityControlDoctorUuid),
			qualityControlNurseUuid=VALUES(qualityControlNurseUuid),
			qualityControlDate=VALUES(qualityControlDate),
			mainDiagnosis=VALUES(mainDiagnosis),
			mainDiagnosisCode=VALUES(mainDiagnosisCode),
			inhospitalCondition=VALUES(inhospitalCondition),
			syncFlag=VALUES(syncFlag),
			sourceFlag=VALUES(sourceFlag),
			historyCuration=VALUES(historyCuration),
			sourceCancerNum=VALUES(sourceCancerNum),
			flag=VALUES(flag),
			treatmentSource=VALUES(treatmentSource),
			inhospitalLastTime=VALUES(inhospitalLastTime),
			turnDept=VALUES(turnDept),
			deptDoctorName=VALUES(deptDoctorName),
			directorDoctorName=VALUES(directorDoctorName),
			inchargeDoctorName=VALUES(inchargeDoctorName),
			inhospitalDoctorName=VALUES(inhospitalDoctorName),
			attendingDoctorName=VALUES(attendingDoctorName),
			dutyNurseName=VALUES(dutyNurseName),
			postgraduateDoctorName=VALUES(postgraduateDoctorName),
			internshipDoctorName=VALUES(internshipDoctorName),
			codePersonName=VALUES(codePersonName),
			qualityControlDoctorName=VALUES(qualityControlDoctorName),
			qualityControlNurseName=VALUES(qualityControlNurseName),
			age=VALUES(age),
			occupationId=VALUES(occupationId),
			idType=VALUES(idType),
			identification=VALUES(identification),
			marriageStatus=VALUES(marriageStatus),
			autopsy=VALUES(autopsy),
			reInhospitalPlan31Days=VALUES(reInhospitalPlan31Days),
			reInhospitalTarget31Days=VALUES(reInhospitalTarget31Days),
			preComaHour=VALUES(preComaHour),
			preComaMinute=VALUES(preComaMinute),
			inComaHour=VALUES(inComaHour),
			inComaMinute=VALUES(inComaMinute),
			inviabilityScore=VALUES(inviabilityScore),
			outviabilityScore=VALUES(outviabilityScore),
			babyAge=VALUES(babyAge),
			babyBornWeight=VALUES(babyBornWeight),
			babyWeightInHospital=VALUES(babyWeightInHospital),
			transfusion=VALUES(transfusion),
			respiratorUseTime=VALUES(respiratorUseTime),
			isAllergy=VALUES(isAllergy),
			allergyDesc=VALUES(allergyDesc),
			aboBlood=VALUES(aboBlood),
			rhBlood=VALUES(rhBlood),
			tumourPeriodizationT=VALUES(tumourPeriodizationT),
			tumourPeriodizationClinic=VALUES(tumourPeriodizationClinic),
			tumourPeriodization=VALUES(tumourPeriodization),
			pathologyDiagnosis=VALUES(pathologyDiagnosis),
			pathologyDiagnosisCode=VALUES(pathologyDiagnosisCode),
			nationalityId=VALUES(nationalityId),
			nativePlaceCityCode=VALUES(nativePlaceCityCode),
			nativePlaceAddress=VALUES(nativePlaceAddress),
			householdZipCode=VALUES(householdZipCode),
			householdAddress=VALUES(householdAddress),
			companyZipCode=VALUES(companyZipCode),
			companyCountyCode=VALUES(companyCountyCode),
			companyAddress=VALUES(companyAddress),
			companyTel=VALUES(companyTel),
			liveZipCode=VALUES(liveZipCode),
			liveCountyCode=VALUES(liveCountyCode),
			liveTel=VALUES(liveTel),
			familyName=VALUES(familyName),
			patientRelation=VALUES(patientRelation),
			familyAddress=VALUES(familyAddress),
			familyTel=VALUES(familyTel),
			familyCountyCode=VALUES(familyCountyCode),
			infoState=VALUES(infoState),
			createTime=VALUES(createTime),
			updateTime=VALUES(updateTime),
			rawCreateTime=VALUES(rawCreateTime),
			syncTime=VALUES(syncTime)
	</insert>
	 <!-- 修改匹配库患者数据 -->
	 <update id="updatePatientUuid">
	 	UPDATE cloud_sync_match_db.ei_inhospital_note
	 	<set>
	 		<if test="uuidFinal != null">
	 			patientUuid=#{uuidFinal,jdbcType=VARCHAR}
	 		</if>
	 	</set>
	 	WHERE patientUuid IN
		(
			<foreach collection="uuidRelationships" item="uuidRelationship" index="index" separator=",">
				#{uuidRelationship.uuid,jdbcType=VARCHAR}
			</foreach>
		)
	 </update>
	 
	 <delete id="delete" parameterType="java.lang.String">
	 	DELETE FROM cloud_sync_match_db.ei_inhospital_note WHERE inhospitalId=#{inhospitalId,jdbcType=VARCHAR}
	 </delete>
	 
</mapper>