<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<!-- cloud_sync_match_db -->
<mapper namespace="com.esuizhen.cloudservice.sync.dao.match.MatchHospitalDoctorDao" >
	<resultMap type="com.esuizhen.cloudservice.sync.model.HospitalDoctor" id="baseResultMap">
		<id column="id" property="id" jdbcType="BIGINT" />
		<result column="hospitalId" property="hospitalId" jdbcType="INTEGER"/>
		<result column="hospitalUuid" property="hospitalUuid" jdbcType="VARCHAR"/>
		<result column="deptId" property="deptId" jdbcType="INTEGER"/>
		<result column="deptUuid" property="deptUuid" jdbcType="VARCHAR"/>
		<result column="doctorId" property="doctorId" jdbcType="BIGINT"/>
		<result column="staffNo" property="staffNo"/>
		<result column="doctorUuid" property="doctorUuid" jdbcType="VARCHAR"/>
		<result column="positionTitle" property="positionTitle" jdbcType="INTEGER"/>
		<result column="createTime" property="createTime" jdbcType="TIMESTAMP"/>
	</resultMap>
	
	<select id="findByDoctorUuid" resultType="com.esuizhen.cloudservice.sync.model.Hospital" parameterType="java.lang.String">
		SELECT
			t2.hospitalId, t2.hospitalName, t2.nickName, t2.uuid, t2.tagIds, t2.tags, t2.gradeId, t2.specialClinics, t2.address,
			t2.busLines, t2.cityCode, t2.tel, t2.introduction, t2.latitude, t2.longitude, t2.createTime, t2.updateTime
		FROM cloud_sync_match_db.r_hospital_doctor t1
			INNER JOIN user_db.u_hospital t2 ON t1.hospitalId=t2.hospitalId
		WHERE t1.doctorUuid=#{doctorUuid}
	</select>
	
	<sql id="base_column_list">
		t1.id, t1.hospitalId, t1.hospitalUuid, t1.deptId, t1.deptUuid, t1.doctorId, t1.doctorUuid, t1.positionTitle, t1.createTime,t1.staffNo
	</sql>
	
	<select id="findByDoctorFinalUuid" resultMap="baseResultMap" parameterType="java.lang.String">
		SELECT <include refid="base_column_list"></include> FROM cloud_sync_match_db.r_hospital_doctor t1
			WHERE t1.doctorUuid=#{doctorFinalUuid, jdbcType=VARCHAR}
	</select>
	
	<select id="findByHospitalUuidAndDeptIdAndDoctorUuid" resultMap="baseResultMap">
		SELECT t1.id, t1.hospitalId, t1.hospitalUuid, t1.deptId, t1.deptUuid, t1.doctorId, t1.doctorUuid, t1.positionTitle, t1.createTime,t1.staffNo
			FROM cloud_sync_match_db.r_hospital_doctor t1
			WHERE 1=1
			<if test="hospitalUuid != null">
				AND t1.hospitalUuid=#{hospitalUuid, jdbcType=VARCHAR}
			</if>
			<if test="deptUuid != null">
				AND t1.deptUuid=#{deptUuid, jdbcType=VARCHAR}
			</if>
			<if test="doctorUuid != null">
				AND t1.doctorUuid=#{doctorUuid, jdbcType=VARCHAR}
			</if>
	</select>

	<insert id="insert" parameterType="com.esuizhen.cloudservice.sync.model.HospitalDoctor">
		INSERT INTO cloud_sync_match_db.r_hospital_doctor(
			hospitalId,
			hospitalUuid,
			deptUuid,
			doctorUuid,
			staffNo,
			positionTitle,
			createTime
		)VALUES(
			#{hospitalId,jdbcType=INTEGER},
			#{hospitalUuid,jdbcType=VARCHAR},
			#{deptUuid,jdbcType=VARCHAR},
			#{doctorUuid,jdbcType=VARCHAR},
			#{staffNo,jdbcType=INTEGER},
			#{positionTitle,jdbcType=INTEGER},
			#{createTime}
		)
	</insert>
	 
	<update id="updateDoctorUuid">
		UPDATE cloud_sync_match_db.r_hospital_doctor
		<set>
			<if test="finalUuid != null">
				doctorUuid=#{finalUuid,jdbcType=VARCHAR}
			</if>
		</set>
		WHERE doctorUuid IN
		(
			<foreach collection="uuidRelationships" item="uuidRelationship" index="index" separator=",">
				#{uuidRelationship.uuid,jdbcType=VARCHAR}
			</foreach>
		)
	</update>
	 
	<delete id="delete">
		DELETE FROM cloud_sync_match_db.r_hospital_doctor WHERE id=#{id,jdbcType=BIGINT}
	</delete>
</mapper>