<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<!-- cloud_sync_incre_db -->
<mapper namespace="com.esuizhen.cloudservice.sync.dao.match.MatchEciDetectionReportDao" >
	<select id="findByDetectionReportId" resultType="com.esuizhen.cloudservice.sync.model.EciDetectionReport">
		SELECT
			<include refid="base_column_list"></include>
		FROM cloud_sync_match_db.eci_detection_report t1
		WHERE t1.detectionReportId = #{detectionReportId}
	</select>

	<sql id="base_column_list">
		t1.detectionReportId,
		t1.emrId, 
		t1.patientNo, 
		t1.patientIdno, 
		t1.patientName, 
		t1.patientAddress, 
		t1.patientMobile, 
		t1.patientSex,
		t1.outPatientFlag,
		t1.hospitalId,
		t1.detectionTypeName, 
		t1.deptId, 
		t1.deptName, 
		t1.diagnosis,
		t1.sampleNo, 
		t1.sampleName, 
		t1.sampleType, 
		t1.sampleState, 
		t1.applyDoctorId, 
		t1.applyDoctorNo,
		t1.applyDoctorName, 
		t1.operateDoctorId,
		t1.operateDoctorNo, 
		t1.operateDoctorName, 
		t1.reportDoctorId, 
		t1.reportDoctorNo, 
		t1.reportDoctorName, 
		t1.auditDoctorId,
		t1.auditDoctorNo, 
		t1.auditDoctorName, 
		t1.remark, 
		t1.applyTime, 
		t1.sampleTime, 
		t1.acceptTime, 
		t1.reportTime, 
		t1.state, 
		t1.readFlag, 
		t1.createTime, 
		t1.updateTime,
		t1.syncTime, 
		t1.rawDetectionTypeId, 
		t1.rawDetectionChildTypeId,
		t1.mainID, 
		t1.patientNo emrNo,
		t1.patientUuid,
		t1.detectionChildTypeId, 
		t1.detectionTypeId
	</sql>

	<insert id="insert">
		INSERT INTO cloud_sync_match_db.eci_detection_report(
			detectionReportId, 
			emrId, 
			patientId,
			patientName, 
			patientNo, 
			patientIdno, 
			patientAddress, 
			patientMobile, 
			patientSex, 
			outPatientFlag,
			hospitalId,
			detectionTypeId,
			detectionChildTypeId, 
			rawDetectionTypeId, 
			rawDetectionChildTypeId, 
			detectionTypeName, 
			deptId,
			deptName, 
			diagnosis,
			sampleNo, 
			sampleName, 
			sampleType, 
			sampleState, 
			instrument, 
			applyDoctorId, 
			applyDoctorNo, 
			applyDoctorName, 
			operateDoctorId,
			operateDoctorNo, 
			operateDoctorName, 
			reportDoctorId, 
			reportDoctorNo, 
			reportDoctorName,
			auditDoctorId,
			auditDoctorNo, 
			auditDoctorName,
			remark, 
			applyTime,
			sampleTime, 
			acceptTime, 
			reportTime, 
			state,
			readFlag, 
			createTime, 
			updateTime, 
			syncTime, 
			syncFlag, 
			mainID,
			<!-- add by fanpanwei -->
			rawCreateTime,
			applyDoctorUuid,
			operateDoctorUuid,
			reportDoctorUuid,
			auditDoctorUuid,
			inhospitaltimes
		)VALUES(
			#{detectionReportId},
			#{emrId}, 
			#{patientId}, 
			#{patientName}, 
			#{patientNo}, 
			#{patientIdno}, 
			#{patientAddress}, 
			#{patientMobile}, 
			#{patientSex},
			#{outPatientFlag},
			#{hospitalId},
			#{detectionTypeId}, 
			#{detectionChildTypeId}, 
			#{rawDetectionTypeId}, 
			#{rawDetectionChildTypeId}, 
			#{detectionTypeName}, 
			#{deptId},
			#{deptName}, 
			#{diagnosis},
			#{sampleNo}, 
			#{sampleName}, 
			#{sampleType}, 
			#{sampleState}, 
			#{instrument}, 
			#{applyDoctorId}, 
			#{applyDoctorNo}, 
			#{applyDoctorName}, 
			#{operateDoctorId},
			#{operateDoctorNo},
			#{operateDoctorName}, 
			#{reportDoctorId}, 
			#{reportDoctorNo}, 
			#{reportDoctorName}, 
			#{auditDoctorId}, 
			#{auditDoctorNo}, 
			#{auditDoctorName},
			#{remark},
			#{applyTime}, 
			#{sampleTime}, 
			#{acceptTime}, 
			#{reportTime}, 
			#{state}, 
			#{readFlag}, 
			#{createTime}, 
			#{updateTime}, 
			NOW(),
			#{syncFlag},
			#{mainID},
			<!-- add by fanpanwei -->
			#{rawCreateTime},
			#{applyDoctorUuid},
			#{operateDoctorUuid},
			#{reportDoctorUuid},
			#{auditDoctorUuid},
			#{inhospitaltimes}
		)
	</insert>
</mapper>