<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<!-- ehr_db -->
<mapper namespace="com.esuizhen.cloudservice.sync.dao.match.MatchEciTreatmentNoteDao" >
	<sql id="base_column_list">
		treatmentId, 
			emrId, 
			inhospitalId, 
			patientId,
			patientUuid, 
			patientNo, 
			hospitalId,
			treatmentTypeId, 
			treatmentName, 
			treatmentWay, 
			treatmentDosage, 
			dosageUnit,
			treatmentCourse, 
			treatmentProcessFlag, 
			treatmentEffect, 
			operationDoctor,
			operationDoctorUuid,
			opCode, 
			treatmentBeginTime, 
			treatmentEndTime,
			createTime, 
			updateTime,
			syncTime,
			rawCreateTime
	</sql>
	<insert id="insert">
		INSERT INTO cloud_sync_match_db.eci_treatment_note(
			<include refid="base_column_list"/>
		)VALUES(
			#{treatmentId}, 
			#{emrId}, 
			#{inhospitalId}, 
			#{patientId},
			#{patientUuid},
			#{patientNo}, 
			#{hospitalId},
			#{treatmentTypeId}, 
			#{treatmentName}, 
			#{treatmentWay}, 
			#{treatmentDosage}, 
			#{dosageUnit},
			#{treatmentCourse}, 
			#{treatmentProcessFlag}, 
			#{treatmentEffect}, 
			#{operationDoctor},
			#{operationDoctorUuid},
			#{opCode}, 
			#{treatmentBeginTime}, 
			#{treatmentEndTime}, 
			#{createTime}, 
			#{updateTime},
			NOW(),
			#{rawCreateTime}
		)
	</insert>
	
	<select id="findByPatientUuid" resultType="com.esuizhen.cloudservice.sync.model.EciTreatmentNote" parameterType="java.lang.String">
		SELECT <include refid="base_column_list"/> FROM cloud_sync_match_db.eci_treatment_note t1
		WHERE t1.patientUuid=#{patientUuid,jdbcType=VARCHAR}
	</select>
	
	<update id="updatePatientUuid">
	 	UPDATE cloud_sync_match_db.eci_treatment_note
	 	<set>
	 		<if test="uuidFinal != null">
	 			patientUuid=#{uuidFinal,jdbcType=VARCHAR}
	 		</if>
	 	</set>
	 	WHERE patientUuid IN
		(
			<foreach collection="uuidRelationships" item="uuidRelationship" index="index" separator=",">
				#{uuidRelationship.uuid,jdbcType=VARCHAR}
			</foreach>
		)
	 </update>
	 
	 <delete id="delete" parameterType="java.lang.String">
	 	DELETE FROM cloud_sync_match_db.eci_treatment_note WHERE treatmentId=#{treatmentId,jdbcType=VARCHAR}
	 </delete>
</mapper>