<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.westangel.commonservice.trade.dao.ProductCategoryDao">
	<!-- 获取商品分类 -->
	<select id="queryProductCategoryList"  resultType="com.westangel.common.bean.trade.TProductCategoryInfo">
		SELECT 
			t2.categoryId,t2.cateGoryName,t1.unitPrice/100 unitPrice FROM com_trade_db.r_product_category t1 
		JOIN com_trade_db.meta_product_category t2 ON t1.categoryId=t2.categoryId
		WHERE t2.state=1 AND t1.productId=#{productId}
		ORDER BY t2.sortIndex
	</select>
</mapper>