<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.esuizhen.cloudservice.ehr.dao.medicalRecord.RiskfactorsInfoDao" >
  <resultMap id="BaseResultMap" type="com.esuizhen.cloudservice.ehr.bean.RiskfactorsInfo" >
    <id column="riskfactorsId" property="riskfactorsId" jdbcType="VARCHAR" />
    <result column="patientId" property="patientId" jdbcType="BIGINT" />
    <result column="inhospitalId" property="inhospitalId" jdbcType="VARCHAR" />
    <result column="clinicMedicalId" property="clinicMedicalId" jdbcType="VARCHAR" />
    <result column="riskfactorsTypeId" property="riskfactorsTypeId" jdbcType="INTEGER" />
    <result column="riskfactorsTypeName" property="riskfactorsTypeName" jdbcType="VARCHAR" />
    <result column="author" property="author" jdbcType="BIGINT" />
    <result column="createTime" property="createTime" jdbcType="TIMESTAMP" />
    <result column="updateTime" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    riskfactorsId, patientId, inhospitalId, clinicMedicalId,riskfactorsTypeId, riskfactorsTypeName, author, 
    createTime, updateTime
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from e_riskfactors
    where riskfactorsId = #{riskfactorsId,jdbcType=VARCHAR}
  </select>
  <select id="queryOne" resultMap="BaseResultMap">
    select 
    riskfactorsId, patientId, inhospitalId, clinicMedicalId,riskfactorsTypeId,riskfactorsTypeName, author, 
    createTime, updateTime
    from e_riskfactors
    where patientId = #{patientId}
    <choose>
    	<when test="clinicMedicalId != null">
    		and clinicMedicalId=#{clinicMedicalId}
    	</when>
    	<otherwise>
    		and inhospitalId=#{inhospitalId}
    	</otherwise>
    </choose>
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from e_riskfactors
    where riskfactorsId = #{riskfactorsId,jdbcType=VARCHAR}
  </delete>
  
  <delete id="deleteRiskfactorsInfo">
    delete t1.*,t2.*,t3.*,t4.*,t5.*,t6.* from e_riskfactors t1 
	LEFT JOIN e_riskfactors_smoke_info t2 ON t1.riskfactorsId=t2.riskfactorsId
	LEFT JOIN e_riskfactors_sot_info t3 ON t1.riskfactorsId=t2.riskfactorsId
	LEFT JOIN e_riskfactors_food_info t4 ON t1.riskfactorsId=t2.riskfactorsId
	LEFT JOIN e_riskfactors_exercise_info t5 ON t1.riskfactorsId=t2.riskfactorsId
	LEFT JOIN e_riskfactors_sleep_info t6 ON t1.riskfactorsId=t2.riskfactorsId
	WHERE t1.patientId=#{patientId}
    <choose>
    	<when test="clinicMedicalId != null">
    		and clinicMedicalId=#{clinicMedicalId}
    	</when>
    	<otherwise>
    		and inhospitalId=#{inhospitalId}
    	</otherwise>
    </choose>
  </delete>
  
  <insert id="insert" parameterType="com.esuizhen.cloudservice.ehr.bean.RiskfactorsInfo" >
    insert into e_riskfactors (riskfactorsId, patientId, inhospitalId, clinicMedicalId,
      riskfactorsTypeId, riskfactorsTypeName, 
      author, createTime, updateTime
      )
    values (#{riskfactorsId,jdbcType=VARCHAR}, #{patientId,jdbcType=BIGINT}, #{inhospitalId,jdbcType=VARCHAR}, #{clinicMedicalId,jdbcType=VARCHAR}, 
      #{riskfactorsTypeId,jdbcType=INTEGER}, #{riskfactorsTypeName,jdbcType=VARCHAR}, 
      #{author,jdbcType=BIGINT}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.esuizhen.cloudservice.ehr.bean.RiskfactorsInfo" >
    insert into e_riskfactors
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="riskfactorsId != null" >
        riskfactorsId,
      </if>
      <if test="patientId != null" >
        patientId,
      </if>
      <if test="inhospitalId != null" >
        inhospitalId,
      </if>
      <if test="clinicMedicalId != null" >
        clinicMedicalId,
      </if>
      <if test="riskfactorsTypeId != null" >
        riskfactorsTypeId,
      </if>
      <if test="riskfactorsTypeName != null" >
        riskfactorsTypeName,
      </if>
      <if test="author != null" >
        author,
      </if>
      <if test="createTime != null" >
        createTime,
      </if>
      <if test="updateTime != null" >
        updateTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="riskfactorsId != null" >
        #{riskfactorsId,jdbcType=VARCHAR},
      </if>
      <if test="patientId != null" >
        #{patientId,jdbcType=BIGINT},
      </if>
      <if test="inhospitalId != null" >
        #{inhospitalId,jdbcType=VARCHAR},
      </if>
      <if test="clinicMedicalId != null" >
        #{clinicMedicalId,jdbcType=VARCHAR},
      </if>
      <if test="riskfactorsTypeId != null" >
        #{riskfactorsTypeId,jdbcType=INTEGER},
      </if>
      <if test="riskfactorsTypeName != null" >
        #{riskfactorsTypeName,jdbcType=VARCHAR},
      </if>
      <if test="author != null" >
        #{author,jdbcType=BIGINT},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.esuizhen.cloudservice.ehr.bean.RiskfactorsInfo" >
    update e_riskfactors
    <set >
      <if test="patientId != null" >
        patientId = #{patientId,jdbcType=BIGINT},
      </if>
      <if test="inhospitalId != null" >
        inhospitalId = #{inhospitalId,jdbcType=VARCHAR},
      </if>
      <if test="clinicMedicalId != null" >
        clinicMedicalId = #{clinicMedicalId,jdbcType=VARCHAR},
      </if>
      <if test="riskfactorsTypeId != null" >
        riskfactorsTypeId = #{riskfactorsTypeId,jdbcType=INTEGER},
      </if>
      <if test="riskfactorsTypeName != null" >
        riskfactorsTypeName = #{riskfactorsTypeName,jdbcType=VARCHAR},
      </if>
      <if test="author != null" >
        author = #{author,jdbcType=BIGINT},
      </if>
      <if test="createTime != null" >
        createTime = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        updateTime = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where riskfactorsId = #{riskfactorsId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.esuizhen.cloudservice.ehr.bean.RiskfactorsInfo" >
    update e_riskfactors
    set patientId = #{patientId,jdbcType=BIGINT},
      inhospitalId = #{inhospitalId,jdbcType=VARCHAR},
      clinicMedicalId = #{clinicMedicalId,jdbcType=VARCHAR},
      riskfactorsTypeId = #{riskfactorsTypeId,jdbcType=INTEGER},
      riskfactorsTypeName = #{riskfactorsTypeName,jdbcType=VARCHAR},
      author = #{author,jdbcType=BIGINT},
      createTime = #{createTime,jdbcType=TIMESTAMP},
      updateTime = #{updateTime,jdbcType=TIMESTAMP}
    where riskfactorsId = #{riskfactorsId,jdbcType=VARCHAR}
  </update>
</mapper>