<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
"http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">

<mapper namespace="com.esuizhen.cloudservice.research.dao.crf.TCrfRadiotherapyPartInfoDao">

	<insert id="insertCrfObservationRadiotherapyDetailOptions" parameterType="com.esuizhen.cloudservice.research.model.crf.TCrfRadiotherapyPartInfo">
        INSERT INTO crf_observation_radiotherapy_detail_options 
        (
        	crfObserveItemId ,
        	crfObserveSchemeId ,
        	radiotherapyPartId ,
        	radiotherapyPartName,
        	createTime ,
        	updateTime 
        ) VALUES (
        	#{crfObserveItemId} ,
        	#{crfObserveSchemeId} ,
        	#{radiotherapyPartId} ,
        	#{radiotherapyPartName},
        	NOW() ,
        	NOW() 
        )
	</insert>
    
    <insert id="insertCrfObservationRadiotherapyDetailOptionsList" parameterType="java.util.List">
        INSERT INTO crf_observation_radiotherapy_detail_options 
        (
        	crfObserveItemId ,
        	crfObserveSchemeId ,
        	radiotherapyPartId ,
        	radiotherapyPartName,
        	`index`,
        	createTime ,
        	updateTime 
        ) VALUES 
        <foreach collection="list" index="index" item="item" separator=",">
        (
        	#{item.crfObserveItemId} ,
        	#{item.crfObserveSchemeId} ,
        	#{item.radiotherapyPartId} ,
        	#{item.radiotherapyPartName},
        	#{item.index},
        	NOW() ,
        	NOW() 
        )
        </foreach>
        
	</insert>
	
	<update id="updateCrfObservationRadiotherapyDetailOptions" parameterType="com.esuizhen.cloudservice.research.model.crf.TCrfRadiotherapyPartInfo">
        UPDATE crf_observation_radiotherapy_detail_options 
        <set>
	        <if test="crfObserveSchemeId != null">
                crfObserveSchemeId = #{crfObserveSchemeId} ,
            </if>
	        <if test="radiotherapyPartId != null">
                radiotherapyPartId = #{radiotherapyPartId} ,
            </if>
	        <if test="1==1">
                updateTime = NOW() ,
            </if>
        </set>
        WHERE 
	        crfObserveItemId = #{crfObserveItemId} 
	</update>

    <delete id="deleteCrfObservationRadiotherapyDetailOptions">
        DELETE FROM crf_observation_radiotherapy_detail_options WHERE crfObserveItemId = #{crfObserveItemId} 
    </delete>

	<delete id="deleteCrfObservationTreatmentSchemeRadiotherapyByCrfObserveId">
        DELETE 
        	t1.*
		FROM crf_observation_radiotherapy_detail_options t1 , crf_observation_treatment_scheme_options t2
	    WHERE t1.crfObserveSchemeId=t2.crfObserveSchemeId 
	    AND  t2.crfObserveId = #{crfObserveId}
    </delete>
    
    <select id="queryCrfObservationRadiotherapyDetailOptionsById" resultType="com.esuizhen.cloudservice.research.model.crf.TCrfRadiotherapyPartInfo">
		SELECT 
        	crfObserveItemId,
        	crfObserveSchemeId,
        	radiotherapyPartId,
        	radiotherapyPartName,
        	createTime,
        	updateTime
		FROM crf_observation_radiotherapy_detail_options
	    WHERE 
	        crfObserveItemId = #{crfObserveItemId} 
	</select>

</mapper>

