<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<!-- cloud_sync_incre_db -->
<mapper namespace="com.esuizhen.cloudservice.sync.dao.incre.IncreDiagnosisInfoDao" >
	
	<insert id="insert">
		INSERT INTO cloud_sync_incre_db.e_diagnosis_info(
			diagnosisId,
			icdDiseaseTypeId,
			emrId,
			mainID,  
			patientNo,
			inhospitalNo,
			isFollowup,
			specialDiseaseDiagnosisId,
			suspectedDiagnosisFlag,
			surgeryFlag,
			seq,
			diseaseTypeId,
			diagnosisTypeId, 
			diagnosis,
			diseaseCode, 
			diseaseBodyPartId, 
			pathologyDiagnosis, 
			pathologyDiagnosisCode, 
			isSourceDiagnosis, 
			inhospitalId,
			inhospitalTimes,
			outHospitalCondition,
			organCode,
			organName,
			diagnosisExplain,
			diagnosisBasisId,
			diseaseBasis,
			inhospitalCondition,
			patientId,
			creator,
			operatorId,
			diagnosisDoctorId,
			patientUuid,
			creatorUuid,
			operatorUuid,
			diagnosisDoctorUuid,
			firstdiagnosisHospitalId,
			firstdiagnosisHospitalName,
			firstdiagnosisTime,
			diagnosisDoctorName,
			remark, 
			zdyCode,
			eszCode,
			treatmentHistory,
			sourceCancerCount,
			disagnosisPeriodizationId,
			clinicNo,
			tumourPeriodizationClinic,
			tumourPeriodization,
			outhospitalDiagnosis,
			outhospitalDiagnosisCode,
			visitTime, 
			createTime, 
			updateTime,
			rawCreateTime,
			syncTime
		)VALUES(
			#{diagnosisId},
			#{icdDiseaseTypeId},
			#{emrId},
			#{mainID},
			#{patientNo},
			#{inhospitalNo},
			#{isFollowup},
			#{specialDiseaseDiagnosisId},
			#{suspectedDiagnosisFlag},
			#{surgeryFlag,jdbcType=INTEGER},
			#{seq},
			#{diseaseTypeId},
			#{diagnosisTypeId},
			#{diagnosis},
			#{diseaseCode},
			#{diseaseBodyPartId},
			#{pathologyDiagnosis},
			#{pathologyDiagnosisCode},
			#{isSourceDiagnosis},
			#{inhospitalId},
			#{inhospitalTimes},
			#{outHospitalCondition},
			#{organCode},
			#{organName},
			#{diagnosisExplain},
			#{diagnosisBasisId},
			#{diseaseBasis},
			#{inhospitalCondition},
			#{patientId},
			#{creator},
			#{operatorId},
			#{diagnosisDoctorId},
			#{patientUuid},
			#{creatorUuid},
			#{operatorUuid},
			#{diagnosisDoctorUuid},
			#{firstdiagnosisHospitalId},
			#{firstdiagnosisHospitalName},
			#{firstdiagnosisTime},
			#{diagnosisDoctorName},
			#{remark},
			#{zdyCode},
			#{eszCode},
			#{treatmentHistory},
			#{sourceCancerCount},
			#{disagnosisPeriodizationId},
			#{clinicNo},
			#{tumourPeriodizationClinic},
			#{tumourPeriodization},
			#{outhospitalDiagnosis},
			#{outhospitalDiagnosisCode},
			#{visitTime},
			#{createTime},
			#{updateTime},
			#{rawCreateTime},
			NOW()
		)
	 </insert>
</mapper>