<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<!-- cloud_sync_incre_db -->
<mapper namespace="com.esuizhen.cloudservice.sync.dao.incre.IncreMedicalRecordDao">

	<insert id="insert" parameterType="com.esuizhen.cloudservice.sync.model.MedicalRecord">
		INSERT INTO cloud_sync_incre_db.e_medical_record(
		emrId,
		emrNo,
		patientUuid,
		patientNo,
		emrType,
		emrSubType,
		subdivision,
		remark,
		creatorUuid,
		hospitalId,
		sourceFlag,
		structFlag,
		visibleFlag,
		visitTime,
		createTime,
		updateTime,
		syncTime
		)VALUES(
		#{emrId},
		#{emrNo},
		#{patientUuid},
		#{patientNo},
		#{emrType},
		#{emrSubType},
		#{subdivision},
		#{remark},
		#{creatorUuid},
		#{hospitalId},
		#{sourceFlag},
		#{structFlag},
		#{visibleFlag},
		#{visitTime},
		#{createTime},
		#{updateTime},
		<!-- #{syncFlag}, -->
		NOW()
		)
	</insert>
</mapper>