<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<!-- cloud_sync_incre_db -->
<mapper namespace="com.esuizhen.cloudservice.sync.dao.incre.IncrePatientDao" >
	
	<insert id="insert" parameterType="com.westangel.common.bean.Patient" >
	   	<selectKey resultType="long" keyProperty="patientId" order="AFTER" >
			SELECT LAST_INSERT_ID() as patientId
		</selectKey>
		insert into cloud_sync_incre_db.u_patient(
			uuid,
			patientNo,
			userId,
			medicareCardNo,
			trueName,
			nickName,
			mobile,
			familyName,
			familyPhone,
			sex,
			birthDate,
			userPictureUrl,
			patientRelation,
			liveStatus,
			deathDate,
			causeOfDeath,
			isInHospitalDeath,
			isTumourDeath,
			bloodType,
			bloodTypeRH,
			bodyHeight,
			bodyWeight,
			disabilityStatus,
			geneticDiseaseHistory,
			drugAllergyHistory,
			medicalPayType,
			medicalCareAreaId,
			medicalCarePlace,
			sourceDiagnosis,
			sourceDiagnosis2,
			sourceDiseaseCode,
			sourceDiseaseCode2,
			sourceDiseaseTypeId,
			sourceDiseaseTypeId2,
			sourceDiseaseTypeName,
			sourceDiseaseTypeName2,
			icdDiseaseTypeId,
			icdDiseaseTypeId2,
			sourceTumorFlag,
			sourceTumorFlag2,
			diagnosisType,
			diagnosisType2,
			diagnosisId,
			diagnosisId2,
			inhospitalId,
			inhospitalId2,
			confirmedDate,
			confirmedDate2,
			confirmedAge,
			confirmedAge2,
			sourcePathologyDiagnosis,
			sourcePathologyDiagnosis2,
			sourcePathologyDiseaseCode,
			sourcePathologyDiseaseCode2,
			attendingDoctor,
			attendingDoctorUuid,
			inchargeDoctor,
			inchargeDoctorUuid,
			secondaryDiagnosis,
			secondaryDiseaseCode,
			secondaryPathologyDiagnosis,
			secondaryPathologyDiseaseCode,
			outPatientFlag,
			followupFlag,
			lostFollowupCause,
			lostFollowupCauseResultValue,
			lostFollowupTime,
			clinicNo,
			patientType,
			infoState,
			syncFlag,
			rawCreateTime,
			createTime,
			updateTime,
			patientCode,
			inpatientNo,
			preTrueName,
			auditState,
			auditRemark,
			hasVisibleMedicalRecord,
			underlyCausesOfDeath,
			sourceDiagnosis3,
			sourceDiseaseCode3,
			sourceDiseaseTypeId3,
			sourceDiseaseTypeName3,
			confirmedDate3,
			famZipCode,
			lastAttendingDate,
			cancelLostFollowupFlag,
			cancelLostFollowupTime,
			stafferType,
			deathPatientIntoTask,
			lostPatientIntoTask,
			otherHospital,
			syncTime
		)VALUES(
			#{uuid},
			#{patientNo},
			#{userId},
			#{medicareCardNo},
			#{trueName},
			#{nickName},
			#{mobile},
			#{familyName},
			#{familyPhone},
			#{sex},
			#{birthDate},
			#{userPictureUrl},
			#{patientRelation},
			#{liveStatus},
			#{deathDate},
			#{causeOfDeath},
			#{isInHospitalDeath},
			#{isTumourDeath},
			#{bloodType},
			#{bloodTypeRH},
			#{bodyHeight},
			#{bodyWeight},
			#{disabilityStatus},
			#{geneticDiseaseHistory},
			#{drugAllergyHistory},
			#{medicalPayType},
			#{medicalCareAreaId},
			#{medicalCarePlace},
			#{sourceDiagnosis},
			#{sourceDiagnosis2},
			#{sourceDiseaseCode},
			#{sourceDiseaseCode2},
			#{sourceDiseaseTypeId},
			#{sourceDiseaseTypeId2},
			#{sourceDiseaseTypeName},
			#{sourceDiseaseTypeName2},
			#{icdDiseaseTypeId},
			#{icdDiseaseTypeId2},
			#{sourceTumorFlag},
			#{sourceTumorFlag2},
			#{diagnosisType},
			#{diagnosisType2},
			#{diagnosisId},
			#{diagnosisId2},
			#{inhospitalId},
			#{inhospitalId2},
			#{confirmedDate},
			#{confirmedDate2},
			#{confirmedAge},
			#{confirmedAge2},
			#{sourcePathologyDiagnosis},
			#{sourcePathologyDiagnosis2},
			#{sourcePathologyDiseaseCode},
			#{sourcePathologyDiseaseCode2},
			#{attendingDoctor},
			#{attendingDoctorUuid},
			#{inchargeDoctor},
			#{inchargeDoctorUuid},
			#{secondaryDiagnosis},
			#{secondaryDiseaseCode},
			#{secondaryPathologyDiagnosis},
			#{secondaryPathologyDiseaseCode},
			#{outPatientFlag},
			#{followupFlag},
			#{lostFollowupCause},
			#{lostFollowupCauseResultValue},
			#{lostFollowupTime},
			#{clinicNo},
			#{patientType},
			#{infoState},
			#{syncFlag},
			#{rawCreateTime},
			#{createTime},
			#{updateTime},
			#{patientCode},
			#{inpatientNo},
			#{preTrueName},
			#{auditState},
			#{auditRemark},
			#{hasVisibleMedicalRecord},
			#{underlyCausesOfDeath},
			#{sourceDiagnosis3},
			#{sourceDiseaseCode3},
			#{sourceDiseaseTypeId3},
			#{sourceDiseaseTypeName3},
			#{confirmedDate3},
			#{famZipCode},
			#{lastAttendingDate},
			#{cancelLostFollowupFlag},
			#{cancelLostFollowupTime},
			#{stafferType},
			#{deathPatientIntoTask},
			#{lostPatientIntoTask},
			#{otherHospital},
			NOW()
		)
	</insert>
	 
	 <delete id="delete">
	 	DELETE FROM cloud_sync_incre_db.u_patient WHERE patientId=#{patientId,jdbcType=BIGINT}
	 </delete>
</mapper>