<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<!-- cloud_sync_incre_db -->
<mapper
	namespace="com.esuizhen.cloudservice.sync.dao.incre.IncreInhospitalNoteDao">

	<insert id="insert" parameterType="com.esuizhen.cloudservice.sync.model.InhospitalNote">
		INSERT INTO cloud_sync_incre_db.ei_inhospital_note(
		inhospitalId,
		inhospitalNo,
		emrId,
		patientUuid,
		patientNo,
		inhospitalSource,
		redBloodCell,
		platelet,
		plasma,
		wholeBlood,
		other,
		pathologyNo,
		poisoningReason,
		poisoningDiseaseCode,
		recHospitalName,
		tumourPeriodizationN,
		tumourPeriodizationM1,
		tumourPeriodizationM2,
		householdCountyCode,
		liveAddress,
		deathTime,
		deathCause,
		deleteFlag,
		catalogState,
		hospitalId,
		medicalPayType,
		healthCardNo,
		inhospitalWay,
		inhospitalDate,
		inhospitalDeptUuid,
		inhospitalTimes,
		inhospitalWard,
		turnDeptUuid,
		turnDeptDate,
		outhospitalDate,
		outhospitalDeptUuid,
		outhospitalWard,
		outhoispitalWay,
		inhospitalDays,
		diagnose,
		diseaseCode,
		deptDoctorUuid,
		directorDoctorUuid,
		inchargeDoctorUuid,
		inhospitalDoctorUuid,
		attendingDoctorUuid,
		dutyNurseUuid,
		postgraduateDoctorUuid,
		internshipDoctorUuid,
		codePersonUuid,
		medicalRecordsQuality,
		qualityControlDoctorUuid,
		qualityControlNurseUuid,
		qualityControlDate,
		mainDiagnosis,
		mainDiagnosisCode,
		inhospitalCondition,
		syncFlag,
		sourceFlag,
		historyCuration,
		sourceCancerNum,
		flag,
		treatmentSource,
		inhospitalLastTime,
		turnDept,
		deptDoctorName,
		directorDoctorName,
		inchargeDoctorName,
		inhospitalDoctorName,
		attendingDoctorName,
		dutyNurseName,
		postgraduateDoctorName,
		internshipDoctorName,
		codePersonName,
		qualityControlDoctorName,
		qualityControlNurseName,
		age,
		occupationId,
		idType,
		identification,
		marriageStatus,
		autopsy,
		reInhospitalPlan31Days,
		reInhospitalTarget31Days,
		preComaHour,
		preComaMinute,
		inComaHour,
		inComaMinute,
		inviabilityScore,
		outviabilityScore,
		babyAge,
		babyBornWeight,
		babyWeightInHospital,
		transfusion,
		respiratorUseTime,
		isAllergy,
		allergyDesc,
		aboBlood,
		rhBlood,
		tumourPeriodizationT,
		tumourPeriodizationClinic,
		tumourPeriodization,
		pathologyDiagnosis,
		pathologyDiagnosisCode,
		nationalityId,
		nativePlaceCityCode,
		nativePlaceAddress,
		householdZipCode,
		householdAddress,
		companyZipCode,
		companyCountyCode,
		companyAddress,
		companyTel,
		liveZipCode,
		liveCountyCode,
		liveTel,
		familyName,
		patientRelation,
		familyAddress,
		familyTel,
		familyCountyCode,
		infoState,
		createTime,
		updateTime,
		rawCreateTime,
		syncTime
		)VALUES(
		#{inhospitalId},
		#{inhospitalNo},
		#{emrId},
		#{patientUuid},
		#{patientNo},
		#{inhospitalSource},
		#{redBloodCell},
		#{platelet},
		#{plasma},
		#{wholeBlood},
		#{other},
		#{pathologyNo},
		#{poisoningReason},
		#{poisoningDiseaseCode},
		#{recHospitalName},
		#{tumourPeriodizationN},
		#{tumourPeriodizationM1},
		#{tumourPeriodizationM2},
		#{householdCountyCode},
		#{liveAddress},
		#{deathTime},
		#{deathCause},
		#{deleteFlag,jdbcType=INTEGER},
		#{catalogState,jdbcType=INTEGER},
		
		#{hospitalId},
		#{medicalPayType},
		#{healthCardNo},
		#{inhospitalWay},
		#{inhospitalDate},
		#{inhospitalDeptUuid},
		#{inhospitalTimes},
		#{inhospitalWard},
		#{turnDeptUuid},
		#{turnDeptDate},
		#{outhospitalDate},
		#{outhospitalDeptUuid},
		#{outhospitalWard},
		#{outhoispitalWay},
		#{inhospitalDays},
		#{diagnose},
		#{diseaseCode},
		#{deptDoctorUuid},
		#{directorDoctorUuid},
		#{inchargeDoctorUuid},
		#{inhospitalDoctorUuid},
		#{attendingDoctorUuid},
		#{dutyNurseUuid},
		#{postgraduateDoctorUuid},
		#{internshipDoctorUuid},
		#{codePersonUuid},
		#{medicalRecordsQuality},
		#{qualityControlDoctorUuid},
		#{qualityControlNurseUuid},
		#{qualityControlDate},
		#{mainDiagnosis},
		#{mainDiagnosisCode},
		#{inhospitalCondition},
		#{syncFlag},
		#{sourceFlag},
		#{historyCuration},
		#{sourceCancerNum},
		#{flag},
		#{treatmentSource},
		#{inhospitalLastTime},
		#{turnDept},
		#{deptDoctorName},
		#{directorDoctorName},
		#{inchargeDoctorName},
		#{inhospitalDoctorName},
		#{attendingDoctorName},
		#{dutyNurseName},
		#{postgraduateDoctorName},
		#{internshipDoctorName},
		#{codePersonName},
		#{qualityControlDoctorName},
		#{qualityControlNurseName},
		#{age},
		#{occupationId},
		#{idType},
		#{identification},
		#{marriageStatus},
		#{autopsy},
		#{reInhospitalPlan31Days},
		#{reInhospitalTarget31Days},
		#{preComaHour},
		#{preComaMinute},
		#{inComaHour},
		#{inComaMinute},
		#{inviabilityScore},
		#{outviabilityScore},
		#{babyAge},
		#{babyBornWeight},
		#{babyWeightInHospital},
		#{transfusion},
		#{respiratorUseTime},
		#{isAllergy},
		#{allergyDesc},
		#{aboBlood},
		#{rhBlood},
		#{tumourPeriodizationT},
		#{tumourPeriodizationClinic},
		#{tumourPeriodization},
		#{pathologyDiagnosis},
		#{pathologyDiagnosisCode},
		#{nationalityId},
		#{nativePlaceCityCode},
		#{nativePlaceAddress},
		#{householdZipCode},
		#{householdAddress},
		#{companyZipCode},
		#{companyCountyCode},
		#{companyAddress},
		#{companyTel},
		#{liveZipCode},
		#{liveCountyCode},
		#{liveTel},
		#{familyName},
		#{patientRelation},
		#{familyAddress},
		#{familyTel},
		#{familyCountyCode},
		#{infoState},
		#{createTime},
		#{updateTime},
		#{rawCreateTime},
		NOW()
		)
	</insert>
</mapper>