<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<!-- cloud_sync_incre_db -->
<mapper namespace="com.esuizhen.cloudservice.sync.dao.incre.IncreEciDetectionReportDao" >
	<insert id="insert">
		INSERT INTO cloud_sync_incre_db.eci_detection_report(
			detectionReportId, 
			emrId, 
			patientId, 
			patientNo, 
			patientIdno, 
			patientAddress, 
			patientMobile, 
			patientSex, 
			outPatientFlag, 
			hospitalId,
			detectionTypeId,
			detectionChildTypeId, 
			rawDetectionTypeId, 
			rawDetectionChildTypeId,
			detectionTypeName, 
			deptId,
			deptName, 
			diagnosis,
			sampleNo, 
			sampleName, 
			sampleType,
			sampleState, 
			instrument, 
			applyDoctorId, 
			applyDoctorNo, 
			applyDoctorName,
			operateDoctorId,
			operateDoctorNo, 
			operateDoctorName, 
			reportDoctorId, 
			reportDoctorNo, 
			reportDoctorName,
			auditDoctorId, 
			auditDoctorNo, 
			auditDoctorName,
			remark, 
			applyTime,
			sampleTime, 
			acceptTime,
			reportTime, 
			state, 
			readFlag, 
			createTime, 
			updateTime, 
			patientUuid, 
			applyDoctorUuid, 
			syncTime,
			deptUuid ,
			operateDoctorUuid,
			reportDoctorUuid,
			auditDoctorUuid,
			rawCreateTime,
			inhospitaltimes
		)VALUES(
			#{detectionReportId},
			#{emrId}, 
			#{patientId}, 
			#{patientNo}, 
			#{patientIdno}, 
			#{patientAddress}, 
			#{patientMobile},
			#{patientSex}, 
			#{outPatientFlag}, 
			#{hospitalId},
			#{detectionTypeId},
			#{detectionChildTypeId}, 
			#{rawDetectionTypeId}, 
			#{rawDetectionChildTypeId}, 
			#{detectionTypeName}, 
			#{deptId}, 
			#{deptName}, 
			#{diagnosis},
			#{sampleNo},
			#{sampleName}, 
			#{sampleType}, 
			#{sampleState},
			#{instrument}, 
			#{applyDoctorId}, 
			#{applyDoctorNo}, 
			#{applyDoctorName}, 
			#{operateDoctorId}, 
			#{operateDoctorNo},
			#{operateDoctorName}, 
			#{reportDoctorId},
			#{reportDoctorNo},
			#{reportDoctorName}, 
			#{auditDoctorId}, 
			#{auditDoctorNo}, 
			#{auditDoctorName},
			#{remark}, 
			#{applyTime}, 
			#{sampleTime},
			#{acceptTime}, 
			#{reportTime}, 
			#{state},
			#{readFlag}, 
			#{createTime}, 
			#{updateTime}, 
			#{patientUuid}, 
			#{applyDoctorUuid}, 
			NOW(),
			<!-- add by fanpanwei -->
			#{deptUuid},
			#{operateDoctorUuid},
			#{reportDoctorUuid},
			#{auditDoctorUuid},
			#{rawCreateTime},
			#{inhospitaltimes}
		)
	</insert>
</mapper>