<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<!-- cloud_sync_incre_db -->
<mapper namespace="com.esuizhen.cloudservice.sync.dao.incre.IncreEciExamReportDao" >
	<insert id="insert">
		INSERT INTO cloud_sync_incre_db.eci_exam_report(
			examReportId, 
			emrId, 
			patientId, 
			patientName, 
			patientNo, 
			outPatientFlag, 
			hospitalId, 
			examTypeId,
			examChildTypeId,
			examTypeName, 
			deptId,
			deptName, 
			reportTitle, 
			scanningTechnique, 
			examWay, 
			obtainWay, 
			organCode,
			organ,
			bodyPart,
			nidusCode,
			nidus, 
			nidusSourceFlag,
			longestDiameter,
			shortestDiameter, 
			examFinding, 
			examConclusion,
			picFileUrls,
			imageFileFormat, 
			applyDoctorId, 
			applyDoctorNo, 
			applyDoctorName, 
			reportDoctorId, 
			reportDoctorNo, 
			reportDoctorName,
			state,
			readFlag, 
			applyTime, 
			excuteTime,
			reportTime, 
			createTime, 
			updateTime, 
			patientUuid, 
			applyDoctorUuid,
			syncTime,
			<!-- start by fanpanwei -->
			reportDoctorUuid,
			rawCreateTime,
			inhospitaltimes
			<!-- end by fanpanwei -->
		)VALUES(
			#{examReportId}, 
			#{emrId}, 
			#{patientId},
			#{patientName}, 
			#{patientNo},
			#{outPatientFlag}, 
			#{hospitalId}, 
			#{examTypeId}, 
			#{examChildTypeId}, 
			#{examTypeName},
			#{deptId}, 
			#{deptName}, 
			#{reportTitle}, 
			#{scanningTechnique},
			#{examWay},
			#{obtainWay}, 
			#{organCode}, 
			#{organ}, 
			#{bodyPart},
			#{nidusCode},
			#{nidus},
			#{nidusSourceFlag}, 
			#{longestDiameter}, 
			#{shortestDiameter},
			#{examFinding},
			#{examConclusion}, 
			#{picFileUrls},
			#{imageFileFormat},
			#{applyDoctorId}, 
			#{applyDoctorNo},
			#{applyDoctorName},
			#{reportDoctorId}, 
			#{reportDoctorNo}, 
			#{reportDoctorName},
			#{state},
			#{readFlag}, 
			#{applyTime}, 
			#{excuteTime}, 
			#{reportTime}, 
			#{createTime},
			#{updateTime}, 
			#{patientUuid},
			#{applyDoctorUuid},
			NOW(),
			<!-- start by fanpanwei -->
			#{reportDoctorUuid},
			#{rawCreateTime},
			#{inhospitaltimes}
			<!-- end by fanpanwei -->
		)
	</insert>
</mapper>