<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<!-- cloud_sync_incre_db -->
<mapper namespace="com.esuizhen.cloudservice.sync.dao.incre.IncreSurgeryNoteDao" >
	
	<insert id="insert" parameterType="com.esuizhen.cloudservice.sync.model.SurgeryNote" >
		INSERT INTO cloud_sync_incre_db.eci_surgery_note(
			surgeryId, 
			emrId, 
			patientUuid, 
			patientNo, 
			hospitalId,
			deptUuid, 
			bedNo, 
			surgeryName, 
			surgeryDoctorUuid, 
			surgeryAssistant1Uuid, 
			surgeryAssistant2Uuid, 
			surgeryDate,
			surgeryBeginTime,
			surgeryEndTime,
			incisionGroup,
			incisionHealLevel,
			rawAnesthesiaWayId,
			anesthesiaWayId,
			anesthesiaDoctorUuid,
			anesthesiaWay, 
			preOperativeDiagnosis, 
			inOperativeDiagnosis,
			bodyPosture, 
			transfusion, 
			surgeryNurses, 
			operativeApproach,
			operativeProbe, 
			operativeMeasures, 
			operativeSituation,
			opCode, 
			woundClosureWay, 
			incisionBandagedWay, 
			remark, 
			createTime, 
			updateTime,syncTime,
			inhospitalId,
			mainID,inhospitalTimes,opLevel,surgeryDoctorName,surgeryAssistant1Name,
			surgeryAssistant2Name,anesthesiaDoctorName,incisionHealingId,incisionHealing,
			treatmentSchemeId,treatmentSchemeName,rawCreateTime
		)VALUES(
			#{surgeryId,jdbcType=VARCHAR},
			#{emrId,jdbcType=VARCHAR},
			#{patientUuid,jdbcType=VARCHAR},
			#{patientNo,jdbcType=VARCHAR},
			#{hospitalId,jdbcType=INTEGER},
			#{deptUuid,jdbcType=VARCHAR},
			#{bedNo,jdbcType=VARCHAR},
			#{surgeryName,jdbcType=VARCHAR},
			#{surgeryDoctorUuid,jdbcType=VARCHAR},
			#{surgeryAssistant1Uuid,jdbcType=VARCHAR},
			#{surgeryAssistant2Uuid,jdbcType=VARCHAR},
			#{surgeryDate,jdbcType=TIMESTAMP},
			#{surgeryBeginTime,jdbcType=TIMESTAMP},
			#{surgeryEndTime,jdbcType=TIMESTAMP},
			#{incisionGroup,jdbcType=INTEGER},
			#{incisionHealLevel,jdbcType=INTEGER},
			#{rawAnesthesiaWayId,jdbcType=INTEGER},
			#{anesthesiaWayId,jdbcType=INTEGER},
			#{anesthesiaDoctorUuid,jdbcType=VARCHAR},
			#{anesthesiaWay,jdbcType=VARCHAR},
			#{preOperativeDiagnosis,jdbcType=VARCHAR},
			#{inOperativeDiagnosis,jdbcType=VARCHAR},
			#{bodyPosture,jdbcType=VARCHAR},
			#{transfusion,jdbcType=INTEGER},
			#{surgeryNurses,jdbcType=VARCHAR},
			#{operativeApproach,jdbcType=VARCHAR},
			#{operativeProbe,jdbcType=VARCHAR},
			#{operativeMeasures,jdbcType=VARCHAR},
			#{operativeSituation,jdbcType=VARCHAR},
			#{opCode},
			#{woundClosureWay,jdbcType=VARCHAR},
			#{incisionBandagedWay,jdbcType=VARCHAR},
			#{remark,jdbcType=VARCHAR},
			#{createTime}, 
			#{updateTime},NOW(),
			<!-- Start by fanpanwei -->
			#{inhospitalId},
			#{mainID},#{inhospitalTimes},#{opLevel},#{surgeryDoctorName},#{surgeryAssistant1Name},
			#{surgeryAssistant2Name},#{anesthesiaDoctorName},#{incisionLevel},#{incisionHeal},
			#{curePlan},#{treatmentSchemeName},#{rawCreateTime}
			<!-- end by fanpanwei -->
		)
	 </insert>
</mapper>