<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<!-- ehr_db -->
<mapper namespace="com.esuizhen.cloudservice.sync.dao.incre.IncreEciTreatmentNoteDao" >
	<insert id="saveTreatmentNote">
		INSERT INTO cloud_sync_incre_db.eci_treatment_note(
			treatmentId, 
			emrId, 
			inhospitalId, 
			patientId,
			patientUuid,
			patientNo, 
			hospitalId,
			treatmentTypeId, 
			treatmentName, 
			treatmentWay, 
			treatmentDosage, 
			dosageUnit,
			treatmentCourse, 
			treatmentProcessFlag, 
			treatmentEffect, 
			operationDoctor,
			operationDoctorUuid,
			opCode, 
			treatmentBeginTime, 
			treatmentEndTime,
			createTime, 
			updateTime,
			rawCreateTime
		)VALUES(
			#{treatmentId}, 
			#{emrId}, 
			#{inhospitalId}, 
			#{patientId},
			#{patientUuid},
			#{patientNo}, 
			#{hospitalId},
			#{treatmentTypeId}, 
			#{treatmentName}, 
			#{treatmentWay}, 
			#{treatmentDosage}, 
			#{dosageUnit},
			#{treatmentCourse}, 
			#{treatmentProcessFlag}, 
			#{treatmentEffect}, 
			#{operationDoctor},
			#{operationDoctorUuid},
			#{opCode}, 
			#{treatmentBeginTime}, 
			#{treatmentEndTime}, 
			#{createTime}, 
			#{updateTime},
			#{rawCreateTime}
		)
	</insert>
</mapper>