<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<!-- cloud_sync_incre_db -->
<mapper namespace="com.esuizhen.cloudservice.sync.dao.incre.IncreFlowupDao">
	<!-- 添加到增量库 -->
	<insert id="addResultRecord2Incr"
		parameterType="com.esuizhen.cloudservice.sync.bean.TPatientFollowupResultDetailInfo">
		INSERT INTO cloud_sync_incre_db.followup_result_buff(
			followupResultBuffId,
			followupResultId,
			followupTaskId,
			patientId,
			operator,
			followupAssignId,
			lostFollowupFlag,
			lostFollowupCauseResultValue,
			state,
			seq,
			followupResultValue,
			relapseParts,
			relapseDate,
			transferParts,
			transferDate,
			deathDate,
			isInHospitalDeath,
			isTumourDeath,
			deathCause,
			otherCause,
			followUpWay,
			contentTemplateId,
			followupResultPhone,
			followupTime,
			phoneRecordUrl,
			remark,
			syncFlag,
			sourceFlag,
			createTime,
			updateTime,
			patientUuid,
			operatorUuid,
			syncTime
		)VALUES(
			#{followupResultBuffId},
			#{followupResultId},
			#{followupTaskId},
			#{patientId},
			#{operator},
			#{followupAssignId},
			#{lostFollowupFlag},
			#{lostFollowupCauseResultValue},
			#{state,jdbcType=INTEGER},
			#{seq},
			#{followupResultValue},
			#{relapseParts},
			#{relapseDate},
			#{transferParts},
			#{transferDate},
			#{deathDate},
			#{isInHospitalDeath},
			#{isTumourDeath},
			#{deathCause},
			#{otherCause},
			#{followUpWay},
			#{contentTemplateId},
			#{followupResultPhone},
			#{followupTime},
			#{phoneRecordUrl},
			#{remark},
			#{syncFlag},
			#{sourceFlag},
			#{createTime},
			#{updateTime},
			#{patientUuid},
			#{operatorUuid},
			now()
		)
		ON DUPLICATE KEY UPDATE 
			followupResultId = VALUES(followupResultId),
			followupTaskId = VALUES(followupTaskId),
			patientId = VALUES(patientId),
			operator = VALUES(operator),
			followupAssignId=VALUES(followupAssignId),
			lostFollowupFlag=VALUES(lostFollowupFlag),
			lostFollowupCauseResultValue=VALUES(lostFollowupCauseResultValue),
			state=VALUES(state),
			seq=VALUES(seq),
			followupResultValue = VALUES(followupResultValue),
			relapseParts = VALUES(relapseParts),
			relapseDate = VALUES(relapseDate),
			transferParts = VALUES(transferParts),
			transferDate = VALUES(transferDate),
			deathDate = VALUES(deathDate),
			isInHospitalDeath = VALUES(isInHospitalDeath),
			isTumourDeath = VALUES(isTumourDeath),
			deathCause = VALUES(deathCause),
			otherCause = VALUES(otherCause),
			followUpWay = VALUES(followUpWay),
			contentTemplateId = VALUES(contentTemplateId),
			followupResultPhone = VALUES(followupResultPhone),
			followupTime = VALUES(followupTime),
			phoneRecordUrl = VALUES(phoneRecordUrl),
			remark = VALUES(remark),
			syncFlag = VALUES(syncFlag),
			sourceFlag = VALUES(sourceFlag),
			createTime = now(),
			updateTime = VALUES(updateTime),
			patientUuid = VALUES(patientUuid),
			operatorUuid  = VALUES(operatorUuid)
	</insert>
</mapper>