<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.westangel.commonservice.authorization.dao.UUserPingDao">
	<insert id="insert" parameterType="com.westangel.commonservice.authorization.model.UUserPing">
		INSERT INTO user_db.u_user_ping(luid, role, userId, businessId, productId, platform,
			appVersion, ipAddress, location, usageDuration, beginTime, endTime, uploadTime, createTime)
		VALUES(
			#{luid},
			#{role},
			#{userId},
			#{businessId},
			#{productId},
			#{platform},
			#{appVersion},
			#{ipAddress},
			#{location},
			#{usageDuration},
			#{beginTime},
			#{endTime},
			#{uploadTime},
			NOW()
		)
	</insert>
</mapper>