<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
"http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">

<mapper namespace="com.esuizhen.cloudservice.followup.dao.followupresult.TVarPatientFollowupTobDao">

	<insert id="insertVarPatientFollowup" useGeneratedKeys="true" parameterType="com.westangel.common.bean.followup.TVarPatientFollowup">
        <selectKey resultType="long" keyProperty="id" order="AFTER" >
			SELECT LAST_INSERT_ID() as id
		</selectKey>
        INSERT INTO var_patient_followup (
        	patientId ,
        	latestFollowupTime ,
        	followupState ,
        	followupResultState ,
        	followupAssignFlag ,
        	followupResultValue ,
        	followupValidResultValue,
			latestValidFollowupTime,
			liveDay,
			liveMonth,
			followupOperator,
			followupOperatorName,
			followupWay,
			followupWayName,
			relapseParts,
			relapseDate,
			transferParts,
			transferDate,
			followupRemark,
			followupTaskId, 
			followupTaskName,
        	createTime ,
        	updateTime 
        ) VALUES (
        	#{patientId} ,
        	#{latestFollowupTime} ,
        	#{followupState} ,
        	#{followupResultState} ,
        	#{followupAssignFlag} ,
        	#{followupResultValue} ,
        	#{followupValidResultValue} ,
			#{latestValidFollowupTime} ,
			#{liveDay} ,
			#{liveMonth} ,
			#{followupOperator} ,
			#{followupOperatorName} ,
			#{followupWay} ,
			#{followupWayName} ,
			#{relapseParts} ,
			#{relapseDate} ,
			#{transferParts} ,
			#{transferDate} ,
			#{followupRemark} ,
			#{followupTaskId} ,
			#{followupTaskName} ,
        	NOW() ,
        	NOW() 
        )
	</insert>
    
	<update id="updateVarPatientFollowup" parameterType="com.westangel.common.bean.followup.TVarPatientFollowup">
        UPDATE var_patient_followup 
        <set>
	        
	        <if test="latestFollowupTime != null">
                latestFollowupTime = #{latestFollowupTime} ,
            </if>
	        <if test="currFollowupPerformDays != null">
                currFollowupPerformDays = #{currFollowupPerformDays} ,
            </if>
	        <if test="followupState != null">
                followupState = #{followupState} ,
            </if>
	        <if test="followupResultState != null">
                followupResultState = #{followupResultState} ,
            </if>
	        <if test="followupAssignFlag != null">
                followupAssignFlag = #{followupAssignFlag} ,
            </if>
            <if test="followupResultValue != null">
                followupResultValue = #{followupResultValue} ,
            </if>
	        <if test="followupValidResultValue != null">
                followupValidResultValue = #{followupValidResultValue} ,
            </if>
	        <if test="latestValidFollowupTime != null">
                latestValidFollowupTime = #{latestValidFollowupTime} ,
            </if>
	        <if test="liveDay != null">
                liveDay = #{liveDay} ,
            </if>
	        <if test="liveMonth != null">
                liveMonth = #{liveMonth} ,
            </if>
	        <if test="followupOperator != null">
                followupOperator = #{followupOperator} ,
            </if>
	        <if test="followupOperatorName != null">
                followupOperatorName = #{followupOperatorName} ,
            </if>
	        <if test="followupWay != null">
                followupWay = #{followupWay} ,
            </if>
	        <if test="followupWayName != null">
                followupWayName = #{followupWayName} ,
            </if>
	        <if test="relapseParts != null">
                relapseParts = #{relapseParts} ,
            </if>
	        <if test="relapseDate != null">
                relapseDate = #{relapseDate} ,
            </if>
	        <if test="transferParts != null">
                transferParts = #{transferParts} ,
            </if>
	        <if test="transferDate != null">
                transferDate = #{transferDate} ,
            </if>
	        <if test="followupRemark != null">
                followupRemark = #{followupRemark} ,
            </if>
	        <if test="followupTaskId != null">
                followupTaskId = #{followupTaskId} ,
            </if>
	        <if test="followupTaskName != null">
                followupTaskName = #{followupTaskName} ,
            </if>
             updateTime = now()
        </set>
        WHERE 
	        patientId = #{patientId} 
	</update>

	<update id="updateUserLiveStatus">
        UPDATE user_db.u_patient SET liveStatus=0 , updateTime=NOW() WHERE patientId = #{patientId} 
	</update>

    <delete id="deleteVarPatientFollowup">
        DELETE FROM var_patient_followup WHERE
        id = #{id} 
    </delete>
    
    <select id="queryVarPatientFollowupById" resultType="com.westangel.common.bean.followup.TVarPatientFollowup">
		SELECT 
        	id,
        	patientId,
        	latestFollowupTime,
        	currFollowupPerformDays,
        	followupState,
        	projectFollowupState,
        	followupAssignFlag,
        	followupResultValue,
        	createTime,
        	updateTime
		FROM var_patient_followup 
	    WHERE 
	        id = #{id} 
	</select>
	
	<select id="queryVarPatientFollowupByPatientId" resultType="com.westangel.common.bean.followup.TVarPatientFollowup">
		SELECT 
        	id,
        	patientId,
        	latestFollowupTime,
        	currFollowupPerformDays,
        	followupState,
        	projectFollowupState,
        	followupAssignFlag,
        	followupResultValue,
        	followupValidResultValue,
        	latestValidFollowupTime,
        	createTime,
        	updateTime
		FROM var_patient_followup 
	    WHERE 
	        patientId = #{patientId} 
	   	limit 1
	</select>
	
	<select id="queryLatestTouchDate" resultType="java.util.Date">
		SELECT t.maxTouchTime latestTouchDate FROM (
			SELECT
				m.latestOutHospitalDate maxTouchTime
			FROM ehr_db.var_patient_medical m
			WHERE m.latestOutHospitalDate IS NOT NULL AND patientId=#{patientId}
			UNION ALL
			SELECT
				f.latestValidFollowupTime maxTouchTime
			FROM followup_db.var_patient_followup f
			WHERE f.latestValidFollowupTime IS NOT NULL AND patientId=#{patientId}
		) t
		ORDER BY t.maxTouchTime DESC LIMIT 1
	</select>
</mapper>

